<% provide(:title, 'Новая услуга') %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "jquery.maskedinput.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "fileuploader.min.js", 'data-turbolinks-track': 'false' %>
<% end %>

<div class="container mt-5">
  
  <h1 class='h3 text-center mb-4'>Новая Услуга / Сервис</h1>

  <%= form_with(model: @service, local: true, html: { name: "service" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row g-3">

      <div class="col-lg-9  border-end">

        <div class="row mb-3">

          <div class="col-lg-4 col-md-6 mb-3">
            <%= f.label :name %> <span class="text-danger">*</span>  
            <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>            
          </div>

          <div class="col-lg-4 col-md-6">
            <%= f.label :service_category_id %> <span class="text-danger">*</span>              
            <%= f.collection_select :service_category_id, ServiceCategory.order(:number), :id, :name,
              { prompt: "Выбрать..." },class:"form-select form-select-sm", required: true %>
          </div>

          <div class="col-lg-4 col-md-6">
            <%= f.label :address %>
            <small class="text-muted"> / улица, номер дома</small>
            <%= f.text_field :address, class: 'form-control form-control-sm' %>
          </div>     

        </div>

        <!-- Desc -->
        <div class="mb-2">
          <span style="font-size:20px;color: #888"><i class="icon_set_1_icon-54" data-bs-toggle="tooltip" data-bs-placement="right" title="Общее описание. Несколько абзацев"></i></span>          
          <%= f.label :description %> <span class="text-danger">*</span>
        </div>
        <%= f.rich_text_area :description, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой", required: true %>
        <!-- Prices -->
        <div class="mb-2 mt-3">
          <span style="font-size:20px;color: #888"><i class="icon-wallet" data-bs-toggle="tooltip" data-bs-placement="right" title="Описание стоимости"></i></span>
          <%= f.label :price %>
        </div>
        <%= f.rich_text_area :price, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой" %>
        <!-- Addition -->
        <div class="mb-2 mt-3">
          <span style="font-size:20px;color: #888"><i class="icon-comment-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Дополнительная информация, правила и рекомендации"></i></span>
          <%= f.label :addition %>
        </div>
        <%= f.rich_text_area :addition, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой" %>
    
        <!-- map -->
        <div class="row mb-4 mt-3 pb-3 gx-2">
          <div class="col-md-8">           
            Отметить на карте
            <div id="map" style="height: 300px" class="border mt-2"></div>
          </div>
          <div class="col-md-4">
            <div class="coordinates mt-4">
              <span>Координаты</span>
              <div class="form-group">              
                <small class="text-muted">Широта</small>                
                <%= f.text_field :latitude, class: 'form-control', readonly: true %>
              </div>
              <div class="form-group mb-5">              
                <small class="text-muted">Долгота</small>
                <%= f.text_field :longitude, class: 'form-control', readonly: true %>
              </div>
              <div class="pt-5">
                <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
                <small class="text-muted">С пустыми координатами карта отображаться не будет</small>
              </div>
            </div>
          </div>
        </div>       

      </div><!-- end col-9 -->

      <!-- contacts & photo -->
      <div class="col-lg-3">             
          
        <div class="row">
                   
          <div class="col">

            <% if logged_in? && current_user.admin? %>
              <!-- Admin button -->
              <a href="javascript: insertInfo();" class="btn-ilk btn-ilk-grd">Вставить</a>
            <% end %>
            <!-- contacts -->  
            <h3 class='h4 text-center text-success'>Контакты</h3>            
            <div class="mb-3"><!-- phone -->
              <label class="form-label">№ Телефона</label><small class="text-muted"> (если есть)</small> 
              <input name="phone" type="text" class="mask-phone form-control form-control-sm">
            </div>
            <div class="my-3"><!-- vk -->           
              <div class="mb-1">
                <%= image_tag "icons/vk_sm.png", width: "20px", title: "Просто ID странички, например - feohotel", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
                <label class="form-label">ВКонтакте</label><small class="text-muted"> (если есть)</small>
              </div>
              <div class="input-group input-group-sm">
                <span class="input-group-text">vk.com/</span>
                <input name="vk" type="text" class="form-control form-control-sm">
              </div>            
            </div>

            <div class="mb-3"><!-- insta -->           
              <div class="mb-1">
                <%= image_tag "icons/instagram_sm_2.png", width: "20px", title: "Просто ID в Instagram, например - feohotel", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
                <label class="form-label">Instagram</label><small class="text-muted"> (если есть)</small>
              </div>
              <div class="input-group input-group-sm">
                <span class="input-group-text">instagram.com/</span>
                <input name="instagram" type="text" class="form-control form-control-sm">
              </div>            
            </div>

            <div class="mb-3"><!-- email -->
              <%= image_tag "icons/email_sm_2.png", width: "20px", title: "Email который будет отображаться в контактах и на него будут приходить заявки", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
              <label class="form-label">Email</label><small class="text-muted"> (если есть)</small>
              <input name="email" type="text" class="form-control form-control-sm">
            </div>

            <div class="mb-3"><!-- site -->          
              <div class="mb-1">
                <%= image_tag "icons/www_sm.png", width: "20px", title: "Без https://, например - feohotel.ru", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
                <label class="form-label">Сайт</label><small class="text-muted"> (если есть)</small>
              </div>
              <div class="input-group input-group-sm">
                <span class="input-group-text">https://</span>
                <input name="site" type="text" class="form-control form-control-sm">
              </div>            
            </div>   
        
           <!-- images -->
            <h3 class='h4 text-center text-success'>Фотографии</h3>
            <div class="mb-4">
              <span style="font-size:20px;color: #888"><i class="icon-photo" data-bs-toggle="tooltip" data-bs-placement="left" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
              <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
              <div class="mb-2">
              <img src="https://via.placeholder.com/300x200" id="avatar-preview" class="img-thumbnail">
              </div>       
              <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm', required: true %>
            </div>         

            <div class="">
              <i class="icon-picture-1" style="font-size:20px;color: #888" data-bs-toggle="tooltip" data-bs-placement="left" title="Загрузить все остальные фотографии. Максимальный размер одной фотографии - 4 МБ, не более 35 фотографий"></i>
              Остальные изображения     
              <%= f.file_field :images, multiple: true, accept: 'image/*' %>          
            </div>

            <!-- towns -->
            <h3 class='h4 text-center text-success mt-3'>К каким населённым пунктам относится</h3>          
            <div class="form-group">
              <%= f.label 'Выберите один или несколько', class:"ps-1 mb-2" %> <span class="text-danger">*</span>         
              <%= f.collection_select :town_ids, Town.order(:name), :id, :name,
                { include_blank: false }, class:"form-select", size: 8, required: true, multiple: true %>
            </div>

            <!-- SEO TAGS -->
            <div class="seo-tags mt-5">
              <p>
                <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                  Добавить SEO-теги <span class="icon-down-open-1"></span>
                </a>
                <small class="text-muted">
                - если не знаете что это такое - можно пропустить. Система автоматически вставит стандартные
              </small>
              </p>
              <div class="collapse" id="collapseExample">
                <div class="card card-body">
                  <div class="mb-3"><!-- keyword --> 
                    <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                    <label class="form-label">Ключевые слова (keywords)</label>
                    <input name="seo_keywords" type="text" class="form-control form-control-sm">
                  </div>                
                  <div class="mt-3"><!-- desc --> 
                    <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                    <label class="form-label" for="point_how_to_get">Описание (description)</label>          
                    <textarea name="seo_description" class="form-control" rows="3" name=""></textarea>
                  </div>
                </div>
              </div>  
            </div>
            <!-- END SEO TAGS -->
            <input type="hidden" name="desc_json"><!-- hidden -->   
          </div>
                  
        </div>       

      </div>

    </div>

    <div class="d-flex justify-content-center my-5">
      <%= button_tag "Добавить объявление", type: 'submit', class:"btn btn-primary btn-lg" %>    
    </div> 

  <% end %>

</div>

<!-- YMAP -->
<script type="text/javascript">
  ymaps.ready(init);
  function init(){
      
    var myMap = new ymaps.Map("map", {
        center: [45.15, 34.52],
        zoom: 8,
        controls: ['zoomControl'],
        behaviors: ['drag','dblClickZoom', 'multiTouch']
    });      

    myMap.events.add('click', function (e) {
      if (!myMap.balloon.isOpen()) {
          var coords = e.get('coords');
          myMap.balloon.open(coords, {
              contentBody:'<p>Вы отметили новое место на карте.</p>' +
                  '<p>Координаты места: ' + [
                  coords[0].toPrecision(6),
                  coords[1].toPrecision(6),
                  ].join(', ') + '</p>',
              contentFooter:'Чтобы изменить координаты щёлкните в другом месте'
          });

          document.getElementById('service_latitude').value = coords[0].toPrecision(6)
          document.getElementById('service_longitude').value = coords[1].toPrecision(6)
      }
      else {
          myMap.balloon.close();
      }
    });

  }

  document.getElementById('clear-btn').onclick = function(e) {
    document.getElementById('service_latitude').value = ''
    document.getElementById('service_longitude').value = ''
  }
</script>

<!-- avatar, mask-phone, work with form -->
<script type="text/javascript">
 // upload avatar
  const avatar = document.getElementById('service_avatar')          
  avatar.addEventListener('change', () => {
    uploadFile(avatar.files[0])
  })
  function uploadFile(file) {
    // проверяем тип файла
    if (![ 'image/jpeg', 'image/png', 'image/gif' ].includes(file.type)) {
      alert('Можно загрузить только изображения')
      avatar.value = ''
      return
    }
    // проверяем размер файла
    if (file.size > 4 * 1024 * 1024) {
      alert('Файл должен быть мене 4 МБ.')
      avatar.value = ''
      return
    }
    // выводим preview
    var reader = new FileReader()
    reader.onload = function (e) {
      document.getElementById("avatar-preview").src = e.target.result 
    }
    reader.readAsDataURL(file)
  }

  // upload images
  $(document).ready(function() {
    $('#service_images').fileuploader({
      captions: 'ru',
      addMore: true,
      limit: 35,
      fileMaxSize: 3,
      extensions: ['jpg', 'jpeg', 'png', 'gif'],
      theme: 'dragdrop',
      changeInput: '<div class="fileuploader-input mb-3">' +
              '<div class="fileuploader-input-inner">' +
                '<div class="fileuploader-icon-main"></div>' +
              '<h3 class="fileuploader-input-caption"><span>${captions.feedback}</span></h3>' +
              '<p>${captions.or}</p>' +
              '<button type="button" class="fileuploader-input-button"><span>${captions.button}</span></button>' +
            '</div>' +
          '</div>',
      
    });
  });

  // Mask phone
  $('.mask-phone').mask('+9(999) 999-99-99');

  var form = document.forms.service

  // On Submit
  form.addEventListener('submit', function(event){
    
    form.button.disabled = true;  
    event.preventDefault();
    
    var data = {
        "phone": this.phone.value,
        "phone_clean": this.phone.value.replace(/[^0-9]/g, ''),
        "vk": this.vk.value,
        "instagram": this.instagram.value,
        "site": this.site.value,
        "email": this.email.value,
        "seo_keywords": this.seo_keywords.value,
        "seo_description": this.seo_description.value,
    };   

    this.desc_json.value = JSON.stringify(data);  
    form.submit();
  })

</script>

<% if logged_in? && current_user.admin? %>
  <!--  insert info (Admin) -->
  <script>    
    function insertInfo() {   
      var form = document.forms.service
      form.elements[1].value = 'Такси "Maxim"';
      form.elements[2].value = 4;    
      form.elements[3].value = 'ул. Володарского 31 Б';
      form.elements[58].value = 45.0423;
      form.elements[59].value = 35.3666;
      form.phone.value =  '+7(978) 265-19-47'
      form.vk.value = 'i_lovekrim'
      form.instagram.value = 'ilovekrim'
      form.site.value = 'ilovekrim.ru'
      form.email.value = 'ilove-krim@mail.ru'
    }
  </script>            
<% end %>

<% if @service.name %>
  <!-- failure to save -->
  <script>
    var form = document.forms.service 
    form.phone.value =  '<%= @service.desc_json['phone'] %>'
    form.vk.value = '<%= @service.desc_json['vk'] %>'
    form.instagram.value = '<%= @service.desc_json['instagram'] %>'
    form.site.value = '<%= @service.desc_json['site'] %>'
    form.email.value = '<%= @service.desc_json['email']  %>'
  </script>
<% end %>

