<% provide(:title, 'Авторизация') %>

<div class="row justify-content-center mt-4">
  <%= link_to image_tag('logo_large.png', class:'mx-auto d-block'), root_path %>
</div>

<h1 class="h3 mt-4 mb-4 font-weight-normal text-center">Авторизация</h1>

<%= form_with(url: login_path, scope: :session, local: true, class: 'form-signin') do |f| %>

  <%= label_tag :email, "E-mail", class:"sr-only" %>
  <%= f.email_field :email, class:"form-control", placeholder: "Email", autofocus: true %>

  <%= label_tag :password, "Пароль", class:"sr-only" %>
  <%= f.password_field :password, id:"inputPassword1", class:"form-control", placeholder:"Пароль" %>

  <div class="checkbox mb-3 text-center">
    <%= f.check_box :remember_me %><span>&nbsp;&nbsp;Запомнить меня</span>
  </div>
  
  <%= f.submit "Войти", class:"w-100 btn btn-lg btn-primary" %>
  <br>
  <br>
  <small>
    <p align="center">Новый пользователь? <%= link_to "Зарегистрироваться", signup_path%></p>
    <p align="center"><%= link_to "Забыли пароль", new_password_reset_path %></p>    
  </small>
  <p class="mt-5 mb-3 text-muted text-center">&copy;&nbsp;Ilovekrim.ru&nbsp;2021</p>
<% end %>