<% provide(:title, 'Изменение Достопримечательности') %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fileuploader.min.js", 'data-turbolinks-track': 'false' %>
<% end %>

<div class="container mt-5">
  
  <h1 class='h3 text-center mb-4'>Изменение Поинта</h1>

  <%= form_with(model: @point, local: true, html: { name: "point" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row g-3">

      <div class="col-lg-9  border-end">

        <div class="row mb-3 gx-2">
          <div class="col-lg-4 col-md-6 mb-3">
            <span><i class="icon_set_1_icon-8 text-muted"></i></span>
            <%= f.label :name %> <span class="text-danger">*</span>  
            <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>            
          </div>
          <div class="col-lg-4 col-md-6">
            <span>
              <i class="icon_set_1_icon-8 text-muted"></i>
            </span>
            <%= f.label :town_id %> <span class="text-danger">*</span>              
            <%= f.collection_select :town_id, Town.order(:number), :id, :name,
              { prompt: "Выбрать..." },class:"form-select form-select-sm", required: true %>
          </div>
          <div class="col-lg-4 col-md-6">
            <span>
              <i class="icon_set_1_icon-8 text-muted"></i>
            </span>
            <%= f.label :address %>
            <small class="text-muted">
              / улица, номер
            </small>
            <%= f.text_field :address, class: 'form-control form-control-sm' %>
          </div>
          <div class="col-lg-4 col-md-6">
            <%= f.label :point_category_id, class: 'form-label' %> <span class="text-danger">*</span>            
            <%= f.collection_select :point_category_id, PointCategory.order(:number), :id, :name,
             { prompt: "Выбрать..." }, class:"form-select form-select-sm", required: true %>
          </div>        
        </div>

        <!-- Desc -->
        <div class="mb-2">
          <span><i class="icon_set_1_icon-8 text-muted"></i></span>
          <%= f.label :description %> <span class="text-danger">*</span>
        </div>
        <%= f.rich_text_area :description, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой", required: true %>
  
        <!-- how to get -->   
        <div class="mt-3">
          <%= f.label :how_to_get, class: 'form-label' %>          
          <%= f.text_area :how_to_get, class:"form-control", rows:3 %>
        </div>

        <!-- map -->
        <div class="row mb-4 mt-3 pb-3 gx-2">
          <div class="col-md-8">
            <span><i class="icon_set_1_icon-8 text-muted"></i></span>
            Отметить на карте
            <div id="map" style="height: 300px" class="border mt-2"></div>
          </div>
          <div class="col-md-4">
            <div class="coordinates mt-4">
              <span>Координаты</span>
              <div class="form-group">              
                <small class="text-muted">Широта</small>                
                <%= f.text_field :latitude, class: 'form-control', readonly: true %>
              </div>
              <div class="form-group mb-5">              
                <small class="text-muted">Долгота</small>
                <%= f.text_field :longitude, class: 'form-control', readonly: true %>
              </div>
              <div class="pt-5">
                <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
                <small class="text-muted">С пустыми координатами карта отображаться не будет</small>
              </div>
            </div>
          </div>
        </div>              

      </div>
      <!-- photo -->
      <div class="col-lg-3"> 
                       
        <!-- images -->
        <h3 class='h4 text-center text-success'>Фотографии</h3>

        <div class="mb-4">
          <span style="font-size:20px;color: #888"><i class="icon-photo" data-bs-toggle="tooltip" data-bs-placement="left" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
          <div class="mb-2">
            <%= image_tag @point.avatar.url, class: "img-thumbnail", id: "avatar-preview"  %>
          </div>
          <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm' %>
        </div> 

        <div class="mb-3">
          <i class="icon-picture-1" style="font-size:20px;color: #888"></i> Остальные изображения          
          <%= f.file_field :images, multiple: true, accept: 'image/*' %>          
        </div>     

        <input type="hidden" name="desc_json">    

      </div>

    </div>

    <div class="d-flex justify-content-center my-5">
      <%= link_to "Назад", :back, class: "btn btn-outline-secondary" %>&nbsp;
      <%= button_tag "Сохранить изменения", type: 'submit', class:"btn btn-primary" %>
    </div>           

  <% end %>

</div>

<!-- YMAP  -->
<% if @point.latitude.blank? %>
<script type="text/javascript">
  ymaps.ready(init);
  function init(){
      
    var myMap = new ymaps.Map("map", {
        center: [45.15, 34.52],
        zoom: 8,
        controls: ['zoomControl'],
        behaviors: ['drag','dblClickZoom', 'multiTouch']
    });      

    myMap.events.add('click', function (e) {
      if (!myMap.balloon.isOpen()) {
          var coords = e.get('coords');
          myMap.balloon.open(coords, {
              contentBody:'<p>Вы отметили новое место на карте.</p>' +
                  '<p>Координаты места: ' + [
                  coords[0].toPrecision(6),
                  coords[1].toPrecision(6),
                  ].join(', ') + '</p>',
              contentFooter:'Чтобы изменить координаты щёлкните в другом месте'
          });

          document.getElementById('point_latitude').value = coords[0].toPrecision(6)
          document.getElementById('point_longitude').value = coords[1].toPrecision(6)
      }
      else {
          myMap.balloon.close();
      }
    });

  }

  document.getElementById('clear-btn').onclick = function(e) {
    document.getElementById('point_latitude').value = ''
    document.getElementById('point_longitude').value = ''
  }
</script>
<% else %>
<script type="text/javascript">   // YMAP
  ymaps.ready(init);
  function init(){
    const coords = [<%= @point.latitude %>, <%= @point.longitude %>]
    var myMap = new ymaps.Map("map", {
        center: coords,
        zoom: 16,
        controls: ['zoomControl'],
        behaviors: ['drag','dblClickZoom', 'multiTouch']
    });

    var myPlacemark = new ymaps.Placemark(coords, {}, {
      preset: "islands#blueStarIcon",        
      // Балун будем открывать и закрывать кликом по иконке метки.
      hideIconOnBalloonOpen: false,
      draggable: true
    });
    myMap.geoObjects.add(myPlacemark);

    myPlacemark.events.add('dragend', function(e) {
      var newCoords = myPlacemark.geometry.getCoordinates()
      document.getElementById('point_latitude').value = newCoords[0].toPrecision(6)
      document.getElementById('point_longitude').value = newCoords[1].toPrecision(6)

    })

    document.getElementById('clear-btn').onclick = function(e) {
      //myMap.geoObjects.remove(myPlacemark)
      document.getElementById('point_latitude').value = ''
      document.getElementById('point_longitude').value = ''
    }
  }    
</script>
<% end %>
<!-- avatar, mask-phone, work with form -->
<script type="text/javascript">

  // preview avatar
    const avatar = document.getElementById('point_avatar')          
    avatar.addEventListener('change', () => {
      uploadFile(avatar.files[0])
    })
    function uploadFile(file) {
      // проверяем тип файла
      if (![ 'image/jpeg', 'image/png', 'image/gif' ].includes(file.type)) {
        alert('Можно загрузить только изображения')
        avatar.value = ''
        return
      }
      // проверяем размер файла
      if (file.size > 4 * 1024 * 1024) {
        alert('Файл должен быть мене 4 МБ.')
        avatar.value = ''
        return
      }
      // выводим preview
      var reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById("avatar-preview").src = e.target.result 
      }
      reader.readAsDataURL(file)
    }

  // upload images
    $(document).ready(function() {
      $('#point_images').fileuploader({
        captions: 'ru',
        addMore: true,
        limit: 35,
        fileMaxSize: 3,
        extensions: ['jpg', 'jpeg', 'png', 'gif'],
        theme: 'dragdrop',
        changeInput: '<div class="fileuploader-input mb-3">' +
                '<div class="fileuploader-input-inner">' +
                  '<div class="fileuploader-icon-main"></div>' +
                '<h3 class="fileuploader-input-caption"><span>${captions.feedback}</span></h3>' +
                '<p>${captions.or}</p>' +
                '<button type="button" class="fileuploader-input-button"><span>${captions.button}</span></button>' +
              '</div>' +
            '</div>',
        files: [
          <% @point.images.each do |image| %>
            {
              name: '<%= image.identifier %>',
              size: '<%= image.file.size %>',
              type: '<%= image.file.content_type %>',
              file: '<%= image.url %>'
            },
          <% end %>
        ]
      });
    });

  var form = document.forms.point

  // On Submit
  form.addEventListener('submit', function(event){
    
    form.button.disabled = true;  
    event.preventDefault();
    
    var data = {
        "phone": this[1].value,
    };   

    this.desc_json.value = JSON.stringify(data);  
    form.submit();
  })

</script>


