<h3>Здравствуйте! Спасибо за бронирование через сервис "Люблю Крым!"</h3>
Ваша заявка отправлена и в ближайшее время с Вами свяжутся для уточнения деталей и подтверждения общей стоимости.
Детали бронирования:<br>
<strong>№ брони: <%= @order.id %></strong><br>
<%= @active.name %><br>
Дата: <%= @order.wish_date %><br>
Количество участников: <%= @order.adults %><br>
Имя: <%= @order.guest_name %><br>
Email: <%= @order.guest_email %><br>
Тел: <%= @order.guest_phone %><br>

<% if @order.wishes.blank? %>
Комментариев или пожеланию к этому бронированию нет      
<% else %>            
Комментарии к бронированию: <%= @order.wishes %>         
<% end %>

Это письмо отправлено автоматически, пожалуйста, не отвечайте на него роботу.
Чтобы напрямую связаться с организатором используйте контакты:

РЕАЛИЗОВАТЬ БЛОК С КОНТАКТАМИ

<%= @active.desc_json['phone'] %>

С уважением, администрация сайта «Люблю Крым»