<span class="screen-darken"></span>

<div class="logo">
  <%= link_to image_tag("logo.png", alt: "Главная", width: "175px"), root_path %>
</div>

<header>

<div id="top_line">
  <div class="container">
    <div class="row">      
      <div class="col-12">
        <ul id="top_links">
          <li id="cart">
            <% if @cart %>
              <% if @cart.line_items.count > 0 %>                
                <%= link_to @cart do %>
                  <i class="icon-heart" style="font-size:14px"></i> Избранное (<%= @cart.line_items.count %>)
                <% end %>                
              <% else %>                
                <%= link_to @cart do %>
                  <i class="icon-heart-empty" style="font-size:14px"></i> Избранное
                <% end %>                
              <% end %>  
            <% else %>              
              <%= link_to cart_path('blank') do %>
                <i class="icon-heart-empty" style="font-size:14px"></i> Избранное
              <% end %>              
            <% end %>
          </li>
          <% unless logged_in? %>
            <li><%= link_to "Вход", login_path%> / <%= link_to "Регистрация", signup_path %></li>
          <% end %>          
        </ul>
      </div>
    </div><!-- End row -->
  </div><!-- End container-->
</div><!-- End top line-->

<button data-trigger="navbar_main" class="d-lg-none btn btn-warning" type="button">  Show navbar </button>

<!--  COMPONENT  -->
<nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-md navbar-styled shadow">
  <div class="container">

    <div class="logo-text">
      Отдыхайте с нами!
    </div>    

    <div class="offcanvas-header">  
      <button class="btn-close float-end"></button>
    </div>
  
    <ul class="navbar-nav ms-auto">
      <!--  towns  -->
      <li class="nav-item dropdown hover">
        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Города</a>
          <ul class="dropdown-menu">
            <% Town.all.each do |town| %>
              <li><%= link_to town.name, town, class: "dropdown-item" %></li>
            <% end %>
          </ul>
      </li><!-- END towns -->
      	
      <li><%= link_to "Контакты", contacts_url, class: 'nav-link' %></li>
      <li><%= link_to "Что рядом?", contacts_url, class: 'nav-link' %></li>

      <% if logged_in? %>
      
        <li class="nav-item dropdown hover">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="icon-user-outline"></i>Профиль</a>
          <ul class="dropdown-menu">
            <li><%= link_to "User/show", current_user, class: "dropdown-item" %></li>
            <li><%= link_to "Настройки", edit_user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to "Новая гостиница", new_hotel_path, class: "dropdown-item" %></li>
            <li><%= link_to "Новое кафе", new_cafebar_path, class: "dropdown-item" %></li>  
            <li><%= link_to "Выход", logout_path, method: :delete, class: "dropdown-item" %></li>  
          </ul>
        </li>

        <% if current_user.admin? %>
          <li class="nav-item dropdown hover">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="icon-cog-5"></i>Admin</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Пользователи", users_url, class: 'dropdown-item' %></li>
              <li><%= link_to "Типы жилья", hotel_categories_path, class: "dropdown-item" %></li>
              <li><%= link_to "Города", towns_path, class: "dropdown-item" %></li>
              <li><%= link_to "Гостиницы", hotels_path, class: "dropdown-item" %></li>
              <li><%= link_to "Кафе", cafebars_path, class: "dropdown-item" %></li>
              <li><%= link_to "Теги для кафе", tagcafebars_path, class: "dropdown-item" %></li>
              <li><%= link_to "Выход", logout_path, method: :delete, class: "dropdown-item" %></li>
            </ul>
          </li>
        <% end %>
       
        <li><%= link_to "Выход", logout_url, method: :delete, class: 'nav-link' %></li>

      <% end %>

    </ul> <!-- navbar-nav end//  --> 
  
  </div> <!-- END container -->
</nav>
<!--  COMPONENT END   -->

</header>

