<% provide(:title, 'Изменение данных') %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "jquery.maskedinput.min.js", 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag "fileuploader.min.js", 'data-turbolinks-track': 'false' %>
<% end %>

<div class="container mt-5">
  
  <h1 class='h3 text-center mb-4'>Изменение данных</h1>
  

  <%= form_with(model: @active, local: true, html: { name: "active" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row g-3">

      <div class="col-lg-9  border-end">

        <div class="row mb-3 gx-2">

          <div class="col-lg-5 col-md-6"><!-- name -->          
            <%= f.label :name %> <span class="text-danger">*</span>  
            <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>           
          </div>

          <div class="col-lg-3 col-md-6"><!-- category -->       
            <%= f.label :active_category_id %> <span class="text-danger">*</span>              
            <%= f.collection_select :active_category_id, ActiveCategory.order(:number), :id, :name,
              { prompt: "Выбрать..." },class:"form-select form-select-sm", required: true %>
          </div>
          
          <div class="col-lg-2 col-md-6"><!-- price -->         
            <%= f.label :price %> <span class="text-danger">*</span>       
            <div class="input-group input-group-sm">              
              <%= f.text_field :price, class: 'form-control form-control-sm', required: true %>
              <span class="input-group-text">&#8381;</span>
            </div> 
          </div>
          <div class="col-lg-2 col-md-4">
            <label for="price_type">чел / тур</label> <span class="text-danger">*</span>              
            <select class="form-select form-select-sm" required="required" name="price_type" id="price_type">
              <option value="чел">С человека</option>
              <option value="тур">За тур</option>              
            </select>        
          </div> 

        </div>

        <!-- Desc -->
        <div class="mb-2">
          <span style="font-size:20px;color: #888"><i class="icon_set_1_icon-54" data-bs-toggle="tooltip" data-bs-placement="right" title="Общее описание. Несколько абзацев"></i></span>          
          <%= f.label :description %> <span class="text-danger">*</span>
        </div>
        <%= f.rich_text_area :description, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой", required: true %>
        
        <div class="mt-3"><!-- addition -->
          <label for="textarea1" class="form-label">Дополнительно</label><small class="text-muted"> (Что брать с собой, условия, время и т.д.)</small>
          <textarea name="addition" class="form-control" id="textarea1" rows="3"></textarea>
        </div>

        <div class="mt-3"><!-- prices -->
          <label for="textarea1" class="form-label">О ценах</label><small class="text-muted"> (есть ли детские билеты и т.д.)</small>
          <textarea name="prices" class="form-control" id="textarea1" rows="2"></textarea>
        </div>

        <!-- map -->
        <div class="row mb-4 mt-3 pb-3 gx-2">
          <div class="col-md-8">            
            Отметить на карте <small class="text-muted"> (Если надо)</small>
            <div id="map" style="height: 300px" class="border mt-2"></div>
          </div>
          <div class="col-md-4">
            <div class="coordinates mt-4">
              <span>Координаты</span>
              <div class="form-group">              
                <small class="text-muted">Широта</small>                
                <%= f.text_field :latitude, class: 'form-control', readonly: true %>
              </div>
              <div class="form-group mb-5">              
                <small class="text-muted">Долгота</small>
                <%= f.text_field :longitude, class: 'form-control', readonly: true %>
              </div>
              <div class="pt-5">
                <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
                <small class="text-muted">С пустыми координатами карта отображаться не будет</small>
              </div>
            </div>
          </div>
        </div>

        <!-- SEO TAGS -->
        <h3 class='h4 text-center text-success mt-4'>SEO Теги</h3>    
        <div class="seo-tags mt-2 mb-4">
          <p>
            <a class="btn btn-success btn-sm" data-bs-toggle="collapse" href="#seotags" role="button" aria-expanded="false" aria-controls="collapseExample">
              SEO-теги <span class="icon-down-open-1"></span>
            </a>
            <small class="text-muted">
              &nbsp;- Используются для продвижения страницы. Если не знаете что это такое - можно пропустить. Система автоматически вставит стандартные
            </small>
          </p>
          <div class="collapse" id="seotags">
            <div class="card card-body">
              <div class="mb-3"><!-- keyword --> 
                <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                <label class="form-label">Ключевые слова (keywords)</label>
                <input name="seo_keywords" type="text" class="form-control form-control-sm">
              </div>                
              <div class="mt-3"><!-- desc --> 
                <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                <label class="form-label" for="point_how_to_get">Описание (description)</label>          
                <textarea name="seo_description" class="form-control" rows="3" name=""></textarea>
              </div>
            </div>
          </div>  
        </div>
        <!-- END SEO TAGS -->

        <br><hr>
      
        <%= link_to  @active, class: "btn btn-outline-secondary btn-sm mb-2" do %>
          <span class="icon-left-open-mini"></span>Назад
        <% end %>   

        <div class="d-grid gap-2 col-md-5 mx-auto mb-5">     
          <%= button_tag type: 'submit', class:"btn btn-lg btn-primary" do %>
            Сохранить изменения
          <% end %> 
        </div>

        
      </div><!-- end col-9 -->

      
      <div class="col-lg-3 mb-5"><!-- contacts & photo -->  
         
        <!-- contacts -->  
        <h3 class='h4 text-center text-success'>Контакты</h3>            
        <!-- Phone CONTACTS -->
        <div class="add-contacts">
          <div class="contact row gx-1">              
            <div class="col-lg-6 col-md-12">
              <div class="mb-2">
                <span style="font-size:18px">
                <label class="form-label">№ телефона</label><span class="text-danger">*</span> 
                <input name="phone" type="text" class="mask-phone form-control form-control-sm" style="font-size:12px" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-2">
                <span style="font-size:18px">
                <label class="form-label">Имя</label><span class="text-danger">*</span> 
                <input name="ow_name" type="text" class="form-control form-control-sm" style="font-size:12px" required >
              </div>
            </div>
            <div class="col">
              <ul class="ps-0 checkbox-tags">
                <li>                  
                  <input type="checkbox" name="viber" id="chk_viber" value="0"/>
                  <label for="chk_viber"><i class="fab fa-viber fa-lg"></i>&ensp;Есть Viber&nbsp;&nbsp;</label>
                </li>
                <li>                  
                  <input type="checkbox" name="whatsapp" id="chk_whatsapp" value="0"/>
                  <label for="chk_whatsapp"><i class="fab fa-whatsapp fa-lg"></i>&ensp;Есть Whatsapp</label>
                </li>
              </ul>
            </div>                   
          </div>
        </div>
        <!-- END Phone CONTACTS -->

        <div class="my-3"><!-- vk -->           
          <div class="mb-1">
            <%= image_tag "icons/vk_sm.png", width: "20px", title: "Просто ID странички, например - feohotel", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
            <label class="form-label">ВКонтакте</label><small class="text-muted"> (если есть)</small>
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-text">vk.com/</span>
            <input name="vk" type="text" class="form-control form-control-sm">
          </div>            
        </div>

        <div class="mb-3"><!-- insta -->           
          <div class="mb-1">
            <%= image_tag "icons/instagram_sm_2.png", width: "20px", title: "Просто ID в Instagram, например - feohotel", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
            <label class="form-label">Instagram</label><small class="text-muted"> (если есть)</small>
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-text">instagram.com/</span>
            <input name="instagram" type="text" class="form-control form-control-sm">
          </div>            
        </div>

        <div class="mb-3"><!-- email -->
          <%= image_tag "icons/email_sm_2.png", width: "20px", title: "Email который будет отображаться в контактах и на него будут приходить заявки", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
          <label class="form-label">Email</label><small class="text-muted"> (если есть)</small>
          <input name="email" type="text" class="form-control form-control-sm">
        </div>

        <div class="mb-3"><!-- site -->          
          <div class="mb-1">
            <%= image_tag "icons/www_sm.png", width: "20px", title: "Без https://, например - feohotel.ru", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'left' } %>
            <label class="form-label">Сайт</label><small class="text-muted"> (если есть)</small>
          </div>
          <div class="input-group input-group-sm">
            <span class="input-group-text">https://</span>
            <input name="site" type="text" class="form-control form-control-sm">
          </div>            
        </div>

        <!-- towns -->
        <h3 class='h4 text-center text-success'>К каким населённым пунктам относится</h3>          
        <div class="form-group">
          <%= f.label 'Выберите один или несколько', class:"ps-1" %> <span class="text-danger" data-bs-toggle="tooltip" data-bs-placement="left" title="Зажав клавишу 'Ctrl' можно выбрать несколько">*</span>         
          <%= f.collection_select :town_ids, Town.order(:name), :id, :name,
            { include_blank: false }, class:"form-select", size: 8, required: true, multiple: true %>
        </div>  
    
        <!-- images -->
        <h3 class='h4 text-center text-success mt-4'>Фотографии</h3>
        <div class="mb-4">
          <span style="font-size:20px;color: #888"><i class="icon-photo" data-bs-toggle="tooltip" data-bs-placement="left" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
          <div class="mb-2">
            <%= image_tag @active.avatar.thumb.url, class: "img-thumbnail", id: "avatar-preview"  %>
          </div>
          <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm' %>
        </div>           
            
        <input type="hidden" name="desc_json"><!-- hidden -->

        <% end %>  <!-- END FORM -->

        <div class="text-center text-success mb-3" style="font-weight:600;">
          Остальные фотографии
        </div>

        <!-- remove images -->
        <div class="mb-4" id="add-delete-image">
          <%  if @active.images.any? %>
            <div class="row g-1">
              <% @active.images.each_with_index do |image, index| %>
                <div class="col-6 del-image">                  
                  <%= link_to active_image_path(@active, index, model: "Active"), :method => :delete, remote: true  do %>
                    &times;
                  <% end %>
                  <%= image_tag image.thumb.url, class: 'img-fluid ' %>                  
                </div>
              <% end %>
            </div>    
          <% else %>
            <small>
              Фотографий нет, Вы можете добавить их ниже.     
            </small>
          <% end %>
        </div>   

        <div class="text-center text-success mb-3" style="font-weight:600;">
          Добавить фотографии
        </div> 

        <!-- add images -->
        <%= form_with(url: images_path(@active), local: false, method: :hotel) do |f| %>
          <%= hidden_field_tag(:model, "Active") %>
          <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm' %>
            <%= button_tag type: 'submit', class:"w-100 btn btn-primary btn-sm mt-2" do %>
              <span class="icon"><i class="icon-down-1"></i></span>&#8194;Загрузить выбранные
            <% end %>
        <% end %> 

      </div>

    </div>

</div>

<!-- YMAP -->
<% if @active.latitude.blank? %><!-- YMAP -->
  <script type="text/javascript">
    ymaps.ready(init);
    function init(){
        
      var myMap = new ymaps.Map("map", {
          center: [45.15, 34.52],
          zoom: 8,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });      

      myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {
                contentBody:'<p>Вы отметили новое место на карте.</p>' +
                    '<p>Координаты места: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6),
                    ].join(', ') + '</p>',
                contentFooter:'Чтобы изменить координаты щёлкните в другом месте'
            });

            document.getElementById('active_latitude').value = coords[0].toPrecision(6)
            document.getElementById('active_longitude').value = coords[1].toPrecision(6)
        }
        else {
            myMap.balloon.close();
        }
      });

    }

    document.getElementById('clear-btn').onclick = function(e) {
      document.getElementById('active_latitude').value = ''
      document.getElementById('active_longitude').value = ''
    }
  </script>
<% else %>
  <script type="text/javascript">  
    ymaps.ready(init);
    function init(){
      const coords = [<%= @active.latitude %>, <%= @active.longitude %>]
      var myMap = new ymaps.Map("map", {
          center: coords,
          zoom: 16,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });

      var myPlacemark = new ymaps.Placemark(coords, {}, {
        preset: "islands#darkOrangeStarIcon",        
        // Балун будем открывать и закрывать кликом по иконке метки.
        hideIconOnBalloonOpen: false,
        draggable: true
      });
      myMap.geoObjects.add(myPlacemark);

      myPlacemark.events.add('dragend', function(e) {
        var newCoords = myPlacemark.geometry.getCoordinates()
        document.getElementById('active_latitude').value = newCoords[0].toPrecision(6)
        document.getElementById('active_longitude').value = newCoords[1].toPrecision(6)

      })

      document.getElementById('clear-btn').onclick = function(e) {
        //myMap.geoObjects.remove(myPlacemark)
        document.getElementById('active_latitude').value = ''
        document.getElementById('active_longitude').value = ''
      }
    }    
  </script>
<% end %>

<!-- avatar, mask-phone, work with form -->
<script type="text/javascript">
  // preview avatar
    const avatar = document.getElementById('active_avatar')          
    avatar.addEventListener('change', () => {
      uploadFile(avatar.files[0])
    })
    function uploadFile(file) {
      // проверяем тип файла
      if (![ 'image/jpeg', 'image/png', 'image/gif' ].includes(file.type)) {
        alert('Можно загрузить только изображения')
        avatar.value = ''
        return
      }
      // проверяем размер файла
      if (file.size > 4 * 1024 * 1024) {
        alert('Файл должен быть мене 4 МБ.')
        avatar.value = ''
        return
      }
      // выводим preview
      var reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById("avatar-preview").src = e.target.result 
      }
      reader.readAsDataURL(file)
    }
  //

  // Mask phone
  $('.mask-phone').mask('+9(999) 999-99-99');

  var form = document.forms.active
  // insert desc-json
    form.addition.value = '<%= @active.desc_json['addition'] %>'
    form.prices.value = '<%= @active.desc_json['prices'] %>'

    form.phone.value =  '<%= @active.desc_json['phone'] %>'
    form.ow_name.value =  '<%= @active.desc_json['ow_name'] %>'
    <% if @active.desc_json['viber'] == "1" %>
      form.viber.value = 1
      form.viber.checked =  1
    <% end %>
    <% if @active.desc_json['whatsapp'] == "1" %>
      form.whatsapp.value = 1
      form.whatsapp.checked =  1
    <% end %>  

    form.vk.value = '<%= @active.desc_json['vk'] %>'
    form.instagram.value = '<%= @active.desc_json['instagram'] %>'
    form.site.value = '<%= @active.desc_json['site'] %>'
    form.email.value = '<%= @active.desc_json['email']  %>'

    form.seo_keywords.value =  '<%= @active.desc_json['seo_keywords']  %>'
    form.seo_description.value = '<%= @active.desc_json['seo_keywords']  %>'

  // On Submit
  form.addEventListener('submit', function(event){
    
    form.button.disabled = true;  
    event.preventDefault();

    if (form.viber.checked == true) {
      form.viber.value = 1
    }
     if (form.whatsapp.checked == true) {
      form.whatsapp.value = 1
    }
    
    var data = {
        "addition": this.addition.value,
        "price_type": this.price_type.value,
        "prices":     this.prices.value,
        "phone": this.phone.value,
        "phone_clean": this.phone.value.replace(/[^0-9]/g, ''),
        "ow_name":  this.ow_name.value,
        "viber":    this.viber.value,
        "whatsapp": this.whatsapp.value,
        "vk": this.vk.value,
        "instagram": this.instagram.value,
        "site": this.site.value,
        "email": this.email.value,
        "seo_keywords": this.seo_keywords.value,
        "seo_description": this.seo_description.value,
    };   

    this.desc_json.value = JSON.stringify(data);  
    form.submit();
  })

</script>



