<% provide(:title, "Личный Кабинет") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "jquery.maskedinput.min.js", 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container">

  <div class="row">
    <div class="col-md-12">
      <hr />
      <h3>Личный кабинет</h3>
      <hr />
    </div>
  </div>

  <div class="row">

    <div class="col-md-3"><!-- SIDEBAR -->
      <%= render partial: "users/sidebar" %>
    </div>

    <div class="col-md-9">
      
      <div class="tab-content">
        <!-- ПРОФИЛЬ -->
        <article class="tab-pane fade show active" role="tabpanel" aria-labelledby="lorem-left-tab" id="lorem-left">
          <section>
            <%= render partial: "users/profile" %>
          </section>
        </article><!-- END профиль -->

        <% if @hotels.any? %><!-- HOTELS and ORDERS -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="hotels-left-tab" id="hotels-left">
            <section>
              <%= render partial: "users/hotel", collection: @hotels %>
            </section>
          </article>
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="orders-left-tab" id="orders-left">
            <section>
              <% if @hotel_orders.any? %>
                <%= render partial: "users/hotel_order" %>
              <% else %>
                <h3>Заявок пока нет</h3>
              <% end %>
            </section>
          </article>    
        <% end %><!-- END Hotels and Orders -->

        <% if @actives.any? %><!-- ACTIVES -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="actives-left-tab" id="actives-left">
            <section>
              <%= render partial: "users/active", collection: @actives %>
            </section>
          </article>
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="active-orders-left-tab" id="active-orders-left">
            <section>
              <% if @active_orders.any? %>
                <%= render partial: "users/active_order" %>
              <% else %>
                <h3>Заявок пока нет</h3>
              <% end %>
            </section>
          </article>          
        <% end %><!-- END ACTIVES -->

        <% if @cafebars.any? %><!-- CAFEBARS -->          
          <article class="tab-pane fade" role="tabpanel" aria-labelledby="cafebars-left-tab" id="cafebars-left">
            <section>
              <%= render partial: "users/cafebar", collection: @cafebars %>
            </section>
          </article>          
        <% end %><!-- END CAFEBARS -->

        <% if @points.any? %><!-- POINTS -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="points-left-tab" id="points-left">
            <section>
              <%= render partial: "users/point", collection: @points %>
            </section>
          </article>          
        <% end %><!-- END POINTS -->

        <% if @services.any? %><!-- SERVICES -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="services-left-tab" id="services-left">
            <section>
              <%= render partial: "users/service", collection: @services %>
            </section>
          </article>          
        <% end %><!-- END SERVICES -->

        <% if @hotel_out_orders.any? %><!-- HOTEL OUT ORDERS -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="hotel_out_orders-left-tab" id="hotel_out_orders-left">
            <section>
              <%= render partial: "users/hotel_out_order" %>
            </section>
          </article>          
        <% end %><!-- END HOTEL OUT ORDERS -->

        <% if @active_out_orders.any? %><!-- ACTIVE OUT ORDERS -->          
          <article class="tab-pane fade show" role="tabpanel" aria-labelledby="active_out_orders-left-tab" id="active_out_orders-left">
            <section>
              <%= render partial: "users/active_out_order" %>
            </section>
          </article>          
        <% end %><!-- END ACTIVE OUT ORDERS -->

      </div>
      
    </div>

  </div>

</div>

<script>
  // Mask phone
  $('.mask-phone').mask('+9(999) 999-99-99');
  // check avatar size
  $("#user_avatar").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert("Максимальный размер фотографии 4 МБ. Пожалуйста, выберите файл поменьше");
    }
  });
</script>

<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>
<br><br><br>

