<% provide(:title, "Профиль пользователя") %>

<div class="container">

<h1>Профиль пользователя - users#show</h1>
<h3><%= @user.email %></h3>
<% if @user.name %><%= @user.name %><% end %>

<br><br>

<%= link_to "Новая гостиница", new_hotel_path %>

<br><br>

<% @user.hotels.each do |hotel| %>
  <%= link_to hotel.name, hotel %>
  <br>
<% end %>

<br><br>

<div class="row">
  <div class="col-md-2">
    Left Sidebar
  </div>
  <div class="col-md-10 dashboard-content">
        
    <h4 class="mb-4">Заявки на бронирование (Входящие)</h4>

    <% if @orders.any? %>
      <table class="table table-striped table-responsive">
        <thead>
          <th>№</th>
          <% unless current_user.hotels.count == 1 %><th>Куда</th><% end %>
          <th>Номер</th>
          <th>Заезд</th>
          <th>Выезд</th>
          <th>ФИО</th>
          <th>Перейти</th>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <% unless current_user.hotels.count == 1 %><td><%= link_to order.hotel.name, order.hotel %></td><% end %>
              <% if order.room_name %><td><%= order.room_name %></td><% else %><td>-- // --</td><% end %>
              <td><%= order.check_in %></td>
              <td><%= order.check_out %></td>
              <td><%= order.guest_name %></td>
              <td>
                <%= link_to 'Заявка', order, class: 'btn btn-success btn-sm' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      Заявок пока нет
    <% end %>    

    <hr>

    <!-- outgoing_orders --> 
    <h4 class="mb-4 text-success">Заявки на бронирование (Исходящие)</h4>
    <% if @outgoing_orders.any? %>
      <% @outgoing_orders.each do |order| %>
        <%= order.id %>|<% if order.room_name %><td><%= order.room_name %></td><% else %><td>-- // --</td><% end %>|
        <%= link_to 'Заявка', order, class: 'btn btn-success btn-sm' %>
        <br>
      <% end %>
    <% else %>
      Вы ещё не отправляли заявки на бронирование
    <% end %>
  
  </div>
</div>

</div>


