<% provide(:title, "Заявка №-#{@order.id} | Бронирование") %>


<div class="container my-5">

<div class="row">


<div class="col-lg-8">

  <div class="alert alert-success alert-dismissible fade show" role="alert">
    Это ваша заявка отправленная на ваше объявление.<br>
    Те же даные видит и гости, сделавшие заявку
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>

  <h4 class="mb-4">Ваша заявка на Бронирование № <%= @order.id %></h4>

  <div class="card p-3">

    <h5><strong><%= link_to @order.hotel.name, @order.hotel %></strong></h5>

    <table class="table table-responsive">            
      <% if @order.room_id? %>
      <tr>
        <td>Номер</td>
        <td><%= @order.room_name %></td>              
      </tr>
      <% end %>
      <tr>
        <td>Даты</td>
        <td>
          Заезд: <strong><%= @order.check_in.strftime('%d.%m.%y') %></strong>
          выезд: <strong><%= @order.check_out.strftime('%d.%m.%y') %> </strong>
          (Ночей: <%= (@order.check_out - @order.check_in).to_i %>)
        </td>              
      </tr>
      <tr>
        <td>Взрослые</td>
        <td><%= @order.adults %></td>              
      </tr>
      <tr>
        <td>Дети</td>
          <% if @order.kids.blank? %>
            <td>Без детей</td>
          <% else %>            
              <td><%= @order.kids %></td>          
          <% end %>                         
      </tr>
      <tr>
        <td>Комментарии</td>
        <% if @order.wishes.blank? %>
          <td>Комментариев или пожеланий к этому бронированию нет</td>   
        <% else %>            
          <td><%= @order.wishes %></td>           
        <% end %>
      </tr>
      <tr>
        <td>Имя</td>
        <td><%= @order.guest_name %></td>              
      </tr>
      <tr>
        <td>Email</td>
        <td><%= @order.guest_email %></td>              
      </tr>
      <tr>
        <td>Телефон</td>
        <td><%= @order.guest_phone %></td>              
      </tr>   
    </table>    

    <div class="input-group mt-5 d-none">
      <input type="text" class="form-control" placeholder="Итоговая стоимость" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-success" type="button" id="button-addon2">Отправить</button>
    </div>

  </div>

  <br><br>
  

  <%= link_to :back, class: "btn btn-outline-secondary btn-sm mb-2 ms-3" do %>
    <span class="icon-left-open-mini"></span>Назад
  <% end %>

</div>


</div>

</div>