<div class="row mb-3" id="Hotel-<%= hotel.id %>">

  <div class="col-lg-4 col-md-4">    
    <!-- fotorama begin -->
    <div class="fotorama-rooms"
        data-width="100%"
        data-ratio="3/2"
        data-allowfullscreen="true"                
        data-nav="false"
        data-loop="true"
        data-keyboard="true"
        data-auto="false">      
      <%= link_to image_tag(hotel.avatar.thumb.url) %>      
      <% hotel.images.each do |image| %> 
        <%= link_to image_tag(image.thumb.url, width: "100px") %>            
      <% end %>
    </div>
    <!-- fotorama end -->
  </div>

  <div class="col-lg-6 col-md-6">

    <%= link_to hotel do %>
      <h3><%= hotel.name %></h3>
    <% end %>

    <div>
      <i class="icon-wallet" style="font-size:20px"></i>от
      <span><%= hotel.price_from %></span><small>р.</small>
      до <span><%= hotel.desc_json["max_price"] %></span><small>р.</small>
      сут/<%= hotel.desc_json["price_type"] %> 
    </div>
    <% if hotel.distance_to_sea %>
      <div>
        <i class="icon_set_2_icon-110" style="font-size:22px"></i>море: <%= hotel.distance_to_sea %> м<br>
      </div>
    <% end %>   

    <div class="">
      <a href="tel:+<%= hotel.desc_json["contacts"][0]["ow_phone_clean"] %>">            
        <%= hotel.desc_json["contacts"][0]["ow_phone"] %>
      </a>
      <% if hotel.desc_json["contacts"][0]["viber"] == "1" %>
        <a href="viber://chat?number=%2B<%= hotel.desc_json["contacts"][0]["ow_phone_clean"] %>" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Viber"><%= image_tag("viber_50px.png", width: "35px") %></a>
      <% end %>
      <% if hotel.desc_json["contacts"][0]["viber"] == "1" %>
        <a href="https://api.whatsapp.com/send?phone=+<%= hotel.desc_json["contacts"][0]["ow_phone_clean"] %>" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Whatsapp"><%= image_tag("whatsapp_50px.png", width: "35px") %></a>
      <% end %>
      <%= hotel.desc_json["contacts"][0]["ow_name"] %>
    </div>

  </div>

  <div class="col-lg-2 col-md-2 pt-2"> 

    <div class="float-end">

    <%= link_to "Убрать", cart_path(@cart, resource_id: hotel.id, resource_name: "Hotel"),
                          remote: true, method: :delete, class: 'btn btn-outline-danger btn-sm' %>     
    
    </div>
        
  </div>

</div>

<hr>
