<% provide(:title, "Запомненное") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fotorama.js", 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="collapse" id="collapseMap">
  <div id="map" class="map"></div>
</div>
<!-- End Map -->

<main class="cart">

<div class="container mt-4">

  <div class="row">
    
    <div class="col-lg-9">    

      <% if @cart %>
        <% if @cart.line_items.any? %>

          <h1 class="mb-3 h2">Объекты, которые Вы отметили:</h1>          

          <% if @cart.hotels.any? %>
            <h2>Отели и гостиницы</h2>              
            <%= render partial: "carts/hotel", collection: @cart.hotels %>
          <% end %>

          <% if @cart.cafebars.any? %>
            <h2>Кафе и рестораны</h2> 
            <%= render partial: "carts/cafebar", collection: @cart.cafebars %>              
          <% end %>

          <% if @cart.points.any? %>
            <h2>Интересные места и достопримечательности</h2> 
            <%= render partial: "carts/point", collection: @cart.points %>              
          <% end %>

          <% if @cart.services.any? %>
            <h2>Сервисы и услуги</h2> 
            <%= render partial: "carts/service", collection: @cart.services %>              
          <% end %>

          <% if @cart.actives.any? %>
            <h2>Активный отдых</h2> 
            <%= render partial: "carts/active", collection: @cart.actives %>              
          <% end %>

          <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
          <%= link_to "Удалить список", cart_path(@cart, referer_page: @referer_page), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        
        <% else %>
          <h2>Список избранного пуст</h2>
          <br><br>
          <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
          <%= link_to "Удалить список", cart_path(@cart, referer_page: @referer_page), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
        <% end %>

      <% else %>
        <h2>Список избранного пуст</h2>
        <h3>Вы пока не добавили в список запомненного</h3>
        <br><br>
        <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
      <% end %>

      <hr>					

    </div>
  

    <aside class="col-lg-3">
      
    </aside>
  

  </div>

</div>

</main>

<script>//Initialize fotorama manually for hotels widget.
  $(document).on('turbolinks:load', function() {
    $(function () {    

      //Initialize fotorama hotels widget.
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
      function (e, fotorama) {      
        fotorama.setOptions({
          nav: "false"
        });
      })
    });
  }); 
</script>



