<% provide(:title, "Запомненное") %>

<div class="container">

<% if @cart %>

  <div class="row">

    <div class="col-9">

      <% if @cart.line_items.any? %>      
        <% @hotels.each do |hotel| %>
          <%= link_to hotel.name, hotel %>
          <div class="row">
            <div class="col-4">
              <%= link_to image_tag(hotel.avatar.thumb.url), hotel  %>
            </div>        
            <div class="col-6" style="font-size: 14px">
              Гостиница находится в одном из лучших районов города. До моря идти 7-10 минут неспешным шагом, направится можно на два разных пляжа. Первый пляж "Динамо" - песчанный с ровным песчанным дном.
              Второй из мелкой перетёртой ракушки - пляж санатория Восход. Вход на все пляжи Феодосии бесплатный. В гостинице сдаются 2-х, 3-х и 4-х местные номера класса Люкс. В номерах имеется всё что нужно для комфортного отдыха в Феодосии.
            </div>
            <div class="col-2">
              <%= link_to "X", cart_path(@cart, resource_id: hotel.id), method: :delete, class: 'btn btn-danger btn-sm' %>
            </div>
          </div>
        <% end %>

        <br><br>

        <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "Удалить список", cart_path(@cart, referer_page: @referer_page), method: :delete, class: 'btn btn-outline-danger btn-sm' %>  
      <% else %>
        <h2>Список избранного пуст</h2>

        <br><br>

        <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
        <%= link_to "Удалить список", cart_path(@cart), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
      <% end %>
    
    </div>

    <div class="col-3">

    </div>

  </div>

  <br><br>
 
  <% @cart.line_items.each do |line_item| %>
    <%= @hotels.find(line_item.resource_id) %>  
  <% end %>

<% else %>

  <div class="row">
    <div class="col-9">
      <h2>Список избранного пуст</h2>
      <h3>Вы пока не добавили в список запомненного</h3>
      <br><br>
      <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
    </div>
    <div class="col-3">
    </div>
  </div> 
  
<% end %>

</div>




