<div class='nested-fields'>
  <div class="row">
    <div class="col-3">
      <%= f.label "начало периода" %>            
      <%= f.date_field :start_date, class:"form-control form-control-sm" %>
    </div>
    <div class="col-3">
      <%= f.label "конец периода" %>            
      <%= f.date_field :end_date, class:" form-control form-control-sm" %>
    </div>
    <div class="col-3">
      <%= f.label "Стоимость суток" %>               
      <%= f.number_field :day_cost, class:"form-control form-control-sm" %>
    </div>
    <div class="col-3 ">
      <br>
      <%= link_to_remove_association "Удалить", f, class: 'btn btn-outline-danger' %>
    </div>
  </div>
</div>
