<div class="room"><!-- Single room  -->

  <div class="row">

    <div class="col-md-5">
      <!-- fotorama begin -->
      <div class="fotorama-rooms"
          data-width="100%"
          data-ratio="3/2"
          data-allowfullscreen="true"                
          data-nav="false"
          data-loop="true"
          data-keyboard="true"
          data-auto="false">      
        <%= link_to image_tag(room.avatar.thumb.url), room.avatar.url %>      
        <% room.images.each do |image| %> 
          <%= link_to image_tag(image.thumb.url, width: "100px"), image.url %>            
        <% end %>
      </div>
      <!-- fotorama end -->            
    </div>

    <div class="col-md-7">

      <h4 class="mt-2 px-2"><%= link_to room.name, room %></h4>

      <ul>
        <li>          
          <span><i class="icon_set_2_icon-105"></i>
            x <%= room.description['guests'] %>
          </span>            
          <div class="room_icon">Гостей</div>          
        </li>
        <li>          
          <span><i class="icon_set_1_icon-49"></i>
            x <%= room.description['rooms'] %>
          </span>            
          <div class="room_icon">Комнат</div>          
        </li>
        <li>          
          <span><i class="icon_set_1_icon-64"></i></span>            
          <div class="room_icon"><%= room.size %> м<sup>2</sup></div>          
        </li> 
        <li>          
          <span><i class="icon_set_1_icon-23"></i>
            x <%= room.description['floor'] %>
          </span>            
          <div class="room_icon">Этаж</div>          
        </li>          
      </ul>

             
      <div class="min-price text-end" style="color: #222">от
        <span><%= room.description['min_price'] %></span> до
        <span><%= room.description['max_price'] %></span><small>₽</small> /сутки
      </div>    

      <div class="room-buttons">
        
        <div class="row text-end pe-2">
          <div class="col">

            <div class="more-info" data-room="<%= room.id %>">
              <i class="icon-angle-down"></i> Подробнее
            </div>      
       
            <%= link_to 'Выбрать этот номер', new_order_path(hotel_id: @hotel.id, room_id: room.id),
                class: "btn_1" %>

          </div>
        </div>
      </div>     

    </div>

  </div>          


  <!-- MORE - HIDDEN --> 
  <div class="hidden_content" id="room-hidden-<%= room.id %>" style="display: none;">
    
    <table class="table table-striped">
      <tr>
        <td class="px-3" colspan="3"><%= room.description['desc'] %></td>
      </tr>
      <tr>
        <th scope="row" class="ps-3"><i class="icon_set_2_icon-104" style="font-size:20px"></i></th>
        <th scope="row" class="ps-0">Мебель:</th>
        <td><%= room.description['furniture'] %></td>       
      </tr>
      <tr>
        <th scope="row" class="ps-3"><i class="icon_set_2_icon-111" style="font-size:20px"></i></th>
        <th scope="row" class="px-0">Санузел/душ/ванна:</th>
        <td><%= room.description['bathroom'] %></td>            
      </tr>
      <tr>
        <th scope="row" class="ps-3"><i class="icon_set_2_icon-116" style="font-size:20px"></i></th>
        <th scope="row" class="px-0">В номере:</th>
        <td><%= room.description['in_room'] %></td>            
      </tr>
      <tr>
        <th scope="row" class="ps-3"><i class="icon_set_1_icon-68" style="font-size:20px"></i></th>
        <th scope="row" class="px-0">Дополнительно:</th>
        <td><%= room.description['addition'] %></td>            
      </tr>          
    </table>

    <!-- редактирование номеров перенести в ЛК -->        
    <% if current_user && (current_user?(@hotel.user) || current_user.admin?) %>
        <%= link_to "Редактировать", edit_room_path(room, hotel_id: @hotel.id),class: "btn btn-outline-primary btn-sm" %>
        <%= link_to "Удалить номер", room ,method: :delete, data: { confirm: "Вы уверены?" } ,class: "btn btn-outline-danger btn-sm" %>
    <% end %> 
    
    <h4 class="text-center mt-2 px-2">Стоимость проживания номер/сутки(руб.)</h4>  
    <div style="overflow-x:auto;">
      <div class="room-prices">
        <% room.description["prices"].each do |price| %>
          <div class="period">
            <div class="period__date"><%= Date.parse(price["start_date"]).strftime('%d.%m') %>-<%= Date.parse(price["end_date"]).strftime('%d.%m') %></div>
            <div class="period__price"><%= price["day_cost"] %><small> р.</small></div>
          </div>
        <% end %>    
      </div>
    </div>

  </div><!-- END MORE - HIDDEN -->

</div><!--END Single room--><br>

