<% provide(:title, 'Редактирование номера') %>

<div class="container">

<h1 class='h3 text-center my-4'><%= link_to @hotel.name, @hotel %> - редактирование номера</h1>

<div class="row">

  <div class="col-md-9 border-end">

    <%= form_with(model: @room, local: true) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= hidden_field_tag(:hotel_id, params[:hotel_id].to_i) %>
      
      <div class="row mb-3 gx-3">
        <div class="col-md-9">          
          <%= f.label "Название или тип номера", class: 'form-label' %> <span class="text-danger">*</span>              
          <%= f.text_field :name, class:"form-control form-control-sm", required: true %>
        </div>
        <div class="col-md-3">
          <label class="form-label">Кол-во комнат</label> <span class="text-danger">*</span>
          <input name="rooms" type="text" class="form-control" required>
        </div>
      </div>

      <div class="row mb-3 gx-3">
        <div class="col-md-3">
          <label class="form-label">Кол-во гостей</label> <span class="text-danger">*</span>
          <input name="guests" type="text" class="form-control" required>
        </div>
        <div class="col-md-3">        
          <div class="form-label">Площадь <span class="text-danger">*</span> (М<sup><small>2</small></sup>) </div>  
          <%= f.text_field :size, class:"form-control form-control-sm", required: true %>          
        </div>
        <div class="col-md-3">
          <label class="form-label">Этаж</label> <span class="text-danger">*</span>
          <input name="floor" type="text" class="form-control" required>            
        </div> 
        <div class="col-md-3">
          <%= f.label :number, class: 'form-label' %> <span style="font-weight:200; font-size:14px"><sup><i class="far fa-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Порядковый номер в выводе списка номеров"></i></sup></span>
          <%= f.number_field :number, class: 'form-control' %>
        </div>
      </div>      

      <div class="room__desc">

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Описание</label>
          <textarea name="desc" class="form-control" rows="5" style="height:130px"></textarea>
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Мебель</label> <span class="text-danger">*</span>
          <input name="furniture" type="text" class="form-control" required>            
        </div>  

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Санузел/душ/ванна</label> <span class="text-danger">*</span>
          <input name="bathroom" type="text" class="form-control" required>            
        </div> 

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">В номере</label> <span class="text-danger">*</span>
          <input name="in_room" type="text" class="form-control" required>            
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Дополнительно</label>
          <input name="addition" type="text" class="form-control">            
        </div>

        <input type="hidden" name="desc_json">

      </div> 

      <!-- Add Price -->
      <h3 class="text-center">Добавление цен:</h3>
      <div id="prices">
        <%= f.fields_for :prices do |price| %>
          <%= render 'price_fields', f: price %>
        <% end %>     
        <div class='links'>
          <br>  
          <%= link_to_add_association 'Добавить ценовой период', f, :prices, class: "btn btn-success btn-sm" %>
        </div>
      </div><!-- end Price -->

      <br><br><br>
      
      <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>

      <div class="d-grid gap-2 col-md-5 mx-auto mb-5">     
        <%= button_tag type: 'submit', class:"btn btn-lg btn-primary" do %>
          <span class="icon"><i class="fas fa-camera"></i></span>&#8194;Сохранить изменения
        <% end %> 
      </div>

    <% end %>        

  </div>  

  <div class="col-md-3 border-start">

    Главное фото
    <%= image_tag @room.avatar.thumb.url, class: 'img-fluid img-thumbnail' %>

    <h2 class='h6'><strong>Фотографии</strong></h2>
    <div class="row mb-3">
      <%  if @room.images.any? %>
        <% @room.images.each_with_index do |image, index| %>
          <div class="col-md-6">
            <%= image_tag image.thumb.url, class: 'img-fluid img-thumbnail' %>
            
          </div>
        <% end %>    
      <% else %>
        <small>
          У номера нет фотографий, Вы можете добавить их ниже.     
        </small>
      <% end %>
    </div>
      
    <div class="col-12"><strong>Добавить фотографии</strong></div>
    
    <small class="form-text text-muted">
      Загрузить фотографии номера. Максимальный размер одной фотографии - 4 МБ,
      не больше 20 фотографий
    </small>
    
  </div>

</div>

</div>


<script>

  var form = document.forms[0]  
  
  var previousRoom = <%= @room.description.to_json.html_safe %>;
  
  form.rooms.value = previousRoom['rooms'];
  form.guests.value = previousRoom['guests'];
  form.floor.value = previousRoom['floor'];
  form.desc.value = previousRoom['desc'];
  form.furniture.value = previousRoom['furniture'];
  form.bathroom.value = previousRoom['bathroom'];
  form.in_room.value = previousRoom['in_room'];
  form.addition.value = previousRoom['addition'];  

  form.addEventListener('submit', function(event){
    event.preventDefault();
    form.button.disabled = true;  
    var data = {
        "rooms": this.rooms.value,
        "guests": this.guests.value,
        "floor": this.floor.value,

        "desc": this.desc.value,
        "furniture": this.furniture.value,
        "bathroom": this.bathroom.value,  
        "in_room": this.in_room.value,  
        "addition": this.addition.value               
    };
    this.desc_json.value = JSON.stringify(data);
    
    form.submit();
  })

</script>
  

