<% provide(:title, 'Редактирование номера') %>

<div class="container">

<h1 class='h3 text-center my-4'><%= link_to @hotel.name, @hotel %> - редактирование номера</h1>

<div class="row">

  <div class="col-md-9 border-end">

    <%= form_with(model: @room, local: true, html: { name: "room" }) do |f| %>
      <%= render 'shared/error_messages', object: f.object%>
      <%= hidden_field_tag(:hotel_id, params[:hotel_id].to_i) %>
      
      <div class="row mb-3 gx-3">
        <div class="col-md-9">          
          <%= f.label "Название или тип номера", class: 'form-label' %> <span class="text-danger">*</span>              
          <%= f.text_field :name, class:"form-control form-control-sm", required: true %>
        </div>
        <div class="col-md-3">
          <label class="form-label">Кол-во комнат</label> <span class="text-danger">*</span>
          <input name="rooms" type="text" class="form-control form-control-sm" required>
        </div>
      </div>

      <div class="row mb-3 gx-3">
        <div class="col-md-3">
          <label class="form-label">Кол-во гостей</label> <span class="text-danger">*</span>
          <input name="guests" type="text" class="form-control form-control-sm" required>
        </div>
        <div class="col-md-3">        
          <div class="form-label">Площадь <span class="text-danger">*</span> (М<sup><small>2</small></sup>) </div>  
          <%= f.text_field :size, class:"form-control form-control-sm", required: true %>          
        </div>
        <div class="col-md-3">
          <label class="form-label">Этаж</label> <span class="text-danger">*</span>
          <input name="floor" type="text" class="form-control form-control-sm" required>            
        </div> 
        <div class="col-md-3">
          <%= f.label :number, class: 'form-label' %> <span style="font-weight:200; font-size:14px"><sup><i class="far fa-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Порядковый номер в выводе списка номеров"></i></sup></span>
          <%= f.number_field :number, class: 'form-control form-control-sm' %>
        </div>
      </div>      

      <div class="hotel__desc">

        <div class="mb-3">
          <span style="font-size:20px;color: #888"><i class="icon_set_1_icon-54 text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Общее описание номера"></i></span>
          <label class="form-label">Описание</label>
          <textarea name="desc" class="form-control" rows="5" style="height:130px"></textarea>
        </div>

        <div class="mb-3">
          <span><i class="icon_set_2_icon-114" data-bs-toggle="tooltip" data-bs-placement="right" title="Какая мебель есть в номере. Какие спальные места"></i></span>
          <label class="form-label">Мебель</label> <span class="text-danger">*</span>
          <input name="furniture" type="text" class="form-control form-control-sm" required>            
        </div>  

        <div class="mb-3">
          <span><i class="icon_set_2_icon-111" data-bs-toggle="tooltip" data-bs-placement="right" title="Что есть в номере. Нпример - туалет и душ в номере, санузел совмещенный"></i></span>
          <label class="form-label">Санузел/душ/ванна</label> <span class="text-danger">*</span>
          <input name="bathroom" type="text" class="form-control form-control-sm" required>            
        </div> 

        <div class="mb-3">
          <span><i class="icon_set_2_icon-116" data-bs-toggle="tooltip" data-bs-placement="right" title="Что ещё есть в номере"></i></span>
          <label class="form-label">В номере</label> <span class="text-danger">*</span>
          <input name="in_room" type="text" class="form-control form-control-sm" required>            
        </div>

        <div class="mb-3">
          <span><i class="icon_set_1_icon-68" data-bs-toggle="tooltip" data-bs-placement="right" title="Дополнительная информация"></i></span>
          <label class="form-label">Дополнительно</label>
          <input name="addition" type="text" class="form-control form-control-sm">            
        </div>

        <input type="hidden" name="desc_json">

      </div> 

      <!-- Add Price -->
      <h3 class="text-center">Редактирование цен:</h3>
      <div class="flat-prices">

      </div>
      <button type="button" id="add_price" onclick="add_input_price()" class="mt-3 btn btn-success btn-sm">Добавить ценовой период</button>
      <!-- end Price -->

      <br><br><hr>
      
      <%= link_to  @room.hotel, class: "btn btn-outline-secondary btn-sm mb-2" do %>
        <span class="icon-left-open-mini"></span>Назад
      <% end %>   

      <div class="d-grid gap-2 col-md-5 mx-auto mb-5">     
        <%= button_tag type: 'submit', class:"btn btn-lg btn-primary" do %>
          Сохранить изменения
        <% end %> 
      </div>          

  </div>  

  <div class="col-md-3 border-start">

    <h3 class='h4 text-center text-success'>Фотографии</h3>
    <div class="mb-4">
      <span style="font-size:20px;color: #888"><i class="icon-photo" data-bs-toggle="tooltip" data-bs-placement="left" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
      <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
      <div class="mb-2">
        <%= image_tag @room.avatar.url, class: "img-thumbnail", id: "avatar-preview"  %>
      </div>
      <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm' %>
    </div> 
    
    <% end %>

    <div class="text-center text-success mb-3" style="font-weight:600;">
      Остальные фотографии
    </div>

    <!-- remove images -->
    <div class="mb-4" id="add-delete-image">
      <%  if @room.images.any? %>
        <div class="row g-1">
          <% @room.images.each_with_index do |image, index| %>
            <div class="col-6 del-image">                  
              <%= link_to room_image_path(@room, index, model: "Room"), :method => :delete, remote: true  do %>
                &times;
              <% end %>
              <%= image_tag image.thumb.url, class: 'img-fluid ' %>                  
            </div>
          <% end %>
        </div>    
      <% else %>
        <small>
          Фотографий нет, Вы можете их добавить ниже.     
        </small>
      <% end %>
    </div>   

    <div class="text-center text-success mb-3" style="font-weight:600;">
      Добавить фотографии
    </div> 

    <!-- add images -->
    <%= form_with(url: images_path(@room), local: false, method: :hotel) do |f| %>
      <%= hidden_field_tag(:model, "Room") %>
      <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm' %>
        <%= button_tag type: 'submit', class:"w-100 btn btn-primary btn-sm mt-2" do %>
          <span class="icon"><i class="icon-down-1"></i></span>&#8194;Загрузить выбранные
        <% end %>
    <% end %> 

  </div>

</div>

</div>


<script>

  // preview avatar
    const avatar = document.getElementById('room_avatar')          
    avatar.addEventListener('change', () => {
      uploadFile(avatar.files[0])
    })
    function uploadFile(file) {
      // проверяем тип файла
      if (![ 'image/jpeg', 'image/png', 'image/gif' ].includes(file.type)) {
        alert('Можно загрузить только изображения')
        avatar.value = ''
        return
      }
      // проверяем размер файла
      if (file.size > 4 * 1024 * 1024) {
        alert('Файл должен быть мене 4 МБ.')
        avatar.value = ''
        return
      }
      // выводим preview
      var reader = new FileReader()
      reader.onload = function (e) {
        document.getElementById("avatar-preview").src = e.target.result 
      }
      reader.readAsDataURL(file)
    }
  //

  var form = document.room
  
  // insert json-data
  var previousRoom = <%= @room.description.to_json.html_safe %>;  
  form.rooms.value = previousRoom['rooms'];
  form.guests.value = previousRoom['guests'];
  form.floor.value = previousRoom['floor'];
  form.desc.value = previousRoom['desc'];
  form.furniture.value = previousRoom['furniture'];
  form.bathroom.value = previousRoom['bathroom'];
  form.in_room.value = previousRoom['in_room'];
  form.addition.value = previousRoom['addition'];

  // insert price fields
  var prices = previousRoom['prices']
  for ( var i = 0; i < prices.length; i++ ) {
    $('.flat-prices').append(`
      <div class="row flat-price mt-3" id="flat-price-${i+1}">
        <div class="col-3">
          <label>Начало периода</label>          
          <input type="date" name="start_date" value="${prices[i]["start_date"]}" class="form-control form-control-sm" required >            
        </div>
        <div class="col-3">
          <label>Конец периода</label>          
          <input type="date" name="end_date" value="${prices[i]["end_date"]}" class="form-control form-control-sm" required >
        </div>
        <div class="col-3">
          <label>Стоимость суток</label>          
          <input type="number" name="day_cost" value="${prices[i]["day_cost"]}" class="form-control form-control-sm" required >
        </div>
        <div class="col-3 ">
          <br>
          <button type="button" onclick="remove_input_price(${i+1})" class="btn btn-outline-danger btn-sm"><i class="icon_set_1_icon-67"></i></button>
        </div>
      </div>
    `)
  }
  
  // on submit - send
  form.addEventListener('submit', function(event){
    event.preventDefault();
    form.button.disabled = true;  
    var data = {
      "rooms": this.rooms.value,
      "guests": this.guests.value,
      "floor": this.floor.value,
      "desc": this.desc.value,
      "furniture": this.furniture.value,
      "bathroom": this.bathroom.value,  
      "in_room": this.in_room.value,  
      "addition": this.addition.value,
      "prices": []              
    };

    /// validate and insert Prices
    var startDateInputs = $('.flat-prices input[name="start_date"]')
    var endtDateInputs = $('.flat-prices input[name="end_date"]')
    var dayCostInputs = $('.flat-prices input[name="day_cost"]')
    // close all alerts
    var alertList = document.querySelectorAll('.alert')
    alertList.forEach(function (alert) {
      new bootstrap.Alert(alert).close()
    })   
    // validate and insert in data
    var arrayPrice = [] // array for min price
    for ( var i = 0; i < dayCostInputs.length; i++ ) {
      $(`#flat-price-${i + 1}`).removeClass('row_with_errors')
      if ( Date.parse(endtDateInputs[i].value) < Date.parse(startDateInputs[i].value) ) { 
        $(`#flat-price-${i + 1}`).addClass('row_with_errors')
        $(`#flat-price-${i + 1}`).prepend(`
        <div class="alert alert-danger alert-dismissible fade show mb-1" role="alert">
          Начало ценового периода должно быть раньше конца
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      `);    
        var errors = true
      }        
      data.prices.push( {
        "start_date":startDateInputs[i].value,
        "end_date": endtDateInputs[i].value,
        "day_cost": dayCostInputs[i].value
      } )  
      arrayPrice.push(parseInt(dayCostInputs[i].value)) // array for min price           
    }
    // find min price from array
    data["min_price"] = Math.min.apply(null, arrayPrice);
    // find max price from array
    data["max_price"] = Math.max.apply(null, arrayPrice);     
    
    if ( errors == true ) {  
      form.button.disabled = false;      
      return
    }  
    /// End validate and insert prices


    // send form
    this.desc_json.value = JSON.stringify(data);    
    form.submit();
  })

  // add new PRICE fields
  function add_input_price() {
    var inputs = $('.flat-price')   
    var newId = inputs.length + 1
    $('.flat-prices').append(`
      <div class="row flat-price mt-3" id="flat-price-${newId}">
        <div class="col-3">
          <label>Начало периода</label>          
          <input type="date" name="start_date" class="form-control form-control-sm" required >            
        </div>
        <div class="col-3">
          <label>Конец периода</label>          
          <input type="date" name="end_date" class="form-control form-control-sm" required >
        </div>
        <div class="col-3">
          <label>Стоимость суток</label>          
          <input type="number" name="day_cost" class="form-control form-control-sm" required >
        </div>
        <div class="col-3 ">
          <br>
          <button type="button" onclick="remove_input_price(${newId})" class="btn btn-outline-danger btn-sm"><i class="icon_set_1_icon-67"></i></button>
        </div>
      </div>
    `);    
  }
  // remove PRICE fields
  function remove_input_price(removeId) {
    if ( $('.flat-price').length == 1 ) {      
      var inputs = $(`#flat-price-${removeId} :input`)
      inputs[0].value = 0
      inputs[1].value = 0
      inputs[2].value = 0
    } else {
      $('#flat-price-' + removeId).remove()
    }        
  }

</script>
  

