<% provide(:title, 'Добавление номера') %>

<div class="container">

<h1 class='h3 text-center'><%= @hotel.name %> - добавление номера</h1>

<%= form_with(model: @room, local: true) do |f| %>
  <%= hidden_field_tag(:hotel_id, params[:hotel_id].to_i) %>
  <%= render 'shared/error_messages', object: f.object%>
  
  <div class="row">

    <div class="col-md-9 border-right">
      
      <div class="form-group mb-3">
        <%= f.label "Название или тип номера" %>
        <small class="text-muted">
          / Не больше 400 символов
        </small>
        <%= f.text_field :name, class:"form-control form-control-sm", autofocus: true %>
      </div>

      <div class="row mb-3">
        <div class="col-md-3">
          <div class="form-group">
            <%= f.label :number %>            
            <%= f.number_field :number, class:"form-control  form-control-sm", autofocus: true %>
            <small class="text-muted">
              Порядок отображения
            </small>
          </div>
        </div> 
        <div class="col-md-3">
          <%= f.label :size %>
          <div class="input-group input-group-sm">
            <%= f.number_field :size, class: 'form-control' %>
            <div class="input-group-append">
              <span class="input-group-text">
                М<sup><small>2</small></sup>
              </span>
            </div>            
          </div>
          <small class="form-text text-muted">
              В квадратных метрах
          </small>
        </div>
      </div>      

      <div class="mb-2">
        <span><i class="fas fa-info-circle text-muted"></i></span>
        <%= f.label :description %>        
      </div>
      <%= f.rich_text_area :description, class: 'form-control', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой" %>

      <!-- Add Price -->
      <h3>Добавление цен</h3>
      <div id="prices">
        <%= f.fields_for :prices do |price| %>
          <%= render 'price_fields', f: price %>
        <% end %>     
        <div class='links'>
        <br>  
          <%= link_to_add_association 'Добавить ценовой период', f, :prices, class: "btn btn-success btn-sm" %>
        </div>
      </div>  <!-- end Price -->   
      
    </div>  

    <div class="col-md-3 border-start">
      <h3 class='h6'>Фотографии номера</h3><hr>
      <div class="form-group">       
        <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control' %>
        <small class="form-text text-muted">
          Загрузить фотографии номера. Максимальный размер одной фотографии - 4 МБ,
          не больше 20 фотографий
        </small>
      </div>
    </div>

  </div>

  <br><br>

  <div class="row">
    <div class="form-group">
      <%= button_tag type: 'submit', class:"btn btn-primary btn-sm" do %>
          <span class="icon"><i class="fas fa-camera"></i></span>&#8194;Добавить номер
        <% end %>
      <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>
    </div>
  </div>

<% end %>

</div>