<% provide(:title, 'Добавление номера') %>

<div class="container">

<h1 class='h3 text-center my-4'><%= link_to @hotel.name, @hotel %> - добавление номера:</h1>

<%= form_with(model: @room, local: true, html: { name: "room" }) do |f| %>
  <%= hidden_field_tag(:hotel_id, params[:hotel_id].to_i) %>
  <%= render 'shared/error_messages', object: f.object%>
  
  <div class="row">

    <div class="col-md-9 border-end">
      
      <div class="row mb-3 gx-3">
        <div class="col-md-7">          
          <%= f.label "Название или тип номера", class: 'form-label' %> <span class="text-danger">*</span>              
          <%= f.text_field :name, class:"form-control form-control-sm", required: true %>
        </div>
        <div class="col-md-2">
          <label class="form-label">Кол-во комнат</label> <span class="text-danger">*</span>
          <input name="rooms" type="text" class="form-control" required>
        </div>

        <% if @previous_room %>
          <div class="col-md-3">
            <div class="form-label">Предыдущее описание
              <span style="font-size:14px"><sup><i class="far fa-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Вставить описание из предыдущего номера (кроме фотографий и цен)"></i></sup></span>
            </div> 
            <a href="javascript: insertInfo();" class="btn btn-success  shadow">Вставить</a>
            <a href="javascript: document.forms[0].reset();" class="btn btn-outline-warning shadow">Очистить</a>
          </div>
        <% end %>

      </div>

      <div class="row mb-3 gx-3">
        <div class="col-md-3">
          <label class="form-label">Кол-во гостей</label> <span class="text-danger">*</span>
          <input name="guests" type="text" class="form-control" required>
        </div>
        <div class="col-md-3">        
          <div class="form-label">Площадь <span class="text-danger">*</span> (М<sup><small>2</small></sup>) </div>  
          <%= f.text_field :size, class:"form-control form-control-sm", required: true %>          
        </div>
        <div class="col-md-3">
          <label class="form-label">Этаж</label> <span class="text-danger">*</span>
          <input name="floor" type="text" class="form-control" required>            
        </div> 
        <div class="col-md-3">
          <%= f.label :number, class: 'form-label' %> <span style="font-weight:200; font-size:14px"><sup><i class="far fa-question-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Порядковый номер в выводе списка номеров"></i></sup></span>
          <%= f.number_field :number, class: 'form-control' %>
        </div>
      </div>      

      <div class="room__desc">

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Описание</label>
          <textarea name="desc" class="form-control" rows="5" style="height:130px"></textarea>
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Мебель</label> <span class="text-danger">*</span>
          <input name="furniture" type="text" class="form-control" required>            
        </div>  

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Санузел/душ/ванна</label> <span class="text-danger">*</span>
          <input name="bathroom" type="text" class="form-control" required>            
        </div> 

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">В номере</label> <span class="text-danger">*</span>
          <input name="in_room" type="text" class="form-control" required>            
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Дополнительно</label>
          <input name="addition" type="text" class="form-control">            
        </div>

        <input type="hidden" name="desc_json">

      </div>     
      
      <!-- Add Price -->
      <h3 class="text-center">Добавление цен:</h3>
      <div class="flat-prices">
        <% unless @previous_room %>
          <div class="row flat-price" id="flat-price-1">
            <div class="col-3">
              <label>Начало периода</label>          
              <input type="date" name="start_date" class="form-control form-control-sm" required >            
            </div>
            <div class="col-3">
              <label>Конец периода</label>          
              <input type="date" name="end_date" class="form-control form-control-sm" required >
            </div>
            <div class="col-3">
              <label>Стоимость суток</label>          
              <input type="number" name="day_cost" class="form-control form-control-sm" required >
            </div>
            <div class="col-3">
              <br>
              <button type="button" onclick="remove_input_price(1)" class="btn btn-outline-danger btn-sm"><i class="icon_set_1_icon-67"></i></button>
            </div>
          </div>
        <% end %>
      </div>
      <button type="button" id="add_price" onclick="add_input_price()" class="mt-3 btn btn-success btn-sm">Добавить ценовой период</button>  
      <!-- end Price -->

      <br><br><hr>

      <%= link_to "Назад", :back, class: "btn btn-outline-secondary btn-sm" %>

      <div class="d-grid gap-2 col-md-5 mx-auto mb-5">
       <%= button_tag type: 'submit', class:"btn btn-lg btn-primary" do %>
          <span class="icon"><i class="icon_set_1_icon-11"></i></span>&#8194;Добавить номер
        <% end %> 
      </div>
      

    </div>  

    <div class="col-md-3 border-start">
      <h3 class='h4 text-center'>Фото номера</h3>
      <div class="mb-3">
        <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
        <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
        <img src="https://via.placeholder.com/300x200" id="preview" class="img-thumbnail mb-1">        
        <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm', required: true %>
      </div>
      <div class="form-group">
        <span style="font-size:18px"><i class="fas fa-images text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить фотографии номера. Максимальный размер одной фотографии - 4 МБ, не более 15 фотографий"></i></span>
        <%= f.label :images, class: 'form-label' %>      
        <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control' %>
      </div> 
    </div>

  </div>  

<% end %>

</div>

<script type="text/javascript">
  $("#room_avatar").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert("Максимальный размер фотографии 4 МБ. Пожалуйста, выберите файл поменьше");      
    }
  });
</script>

<% if @room.name %>
  <script>  // failure to save
    var form = document.forms.room 
    form.rooms.value = '<%= @room.description["rooms"] %>'
    form.guests.value = '<%= @room.description["guests"] %>'
    form.floor.value = '<%= @room.description["floor"] %>'
    form.desc.value = '<%= @room.description["desc"] %>'
    form.furniture.value = '<%= @room.description["furniture"] %>'
    form.bathroom.value = '<%= @room.description["bathroom"] %>'
    form.in_room.value = '<%= @room.description["in_room"] %>'
    form.addition.value = '<%= @room.description["addition"] %>'
  </script>
<% end %>

<% if @previous_room %>
  <script>   // insert date-prices previous room
    var prices = <%= @previous_room.description['prices'].to_json.html_safe %>
    for ( var i = 0; i < prices.length; i++ ) {
      $('.flat-prices').append(`
        <div class="row flat-price mt-3" id="flat-price-${i+1}">
          <div class="col-3">
            <label>Начало периода</label>          
            <input type="date" name="start_date" value="${prices[i]["start_date"]}" class="form-control form-control-sm" required >            
          </div>
          <div class="col-3">
            <label>Конец периода</label>          
            <input type="date" name="end_date" value="${prices[i]["end_date"]}" class="form-control form-control-sm" required >
          </div>
          <div class="col-3">
            <label>Стоимость суток</label>          
            <input type="number" name="day_cost" class="form-control form-control-sm" required >
          </div>
          <div class="col-3 ">
            <br>
            <button type="button" onclick="remove_input_price(${i+1})" class="btn btn-outline-danger btn-sm"><i class="icon_set_1_icon-67"></i></button>
          </div>
        </div>
      `)
    }
  </script>
<% end %>

<script> 

  var form = document.forms.room

  form.addEventListener('submit', function(event){
    event.preventDefault();
    form.button.disabled = true;  

    var data = {
      "rooms": this.rooms.value,
      "guests": this.guests.value,
      "floor": this.floor.value,

      "desc": this.desc.value,
      "furniture": this.furniture.value,
      "bathroom": this.bathroom.value,  
      "in_room": this.in_room.value,  
      "addition": this.addition.value,
      "prices": []              
    };    

    /// validate and insert Prices
    var startDateInputs = $('.flat-prices input[name="start_date"]')
    var endtDateInputs = $('.flat-prices input[name="end_date"]')
    var dayCostInputs = $('.flat-prices input[name="day_cost"]')
    // close all alerts
    var alertList = document.querySelectorAll('.alert')
    alertList.forEach(function (alert) {
      new bootstrap.Alert(alert).close()
    })   
    // validate and insert in data
    var arrayPrice = [] // array for min price
    for ( var i = 0; i < dayCostInputs.length; i++ ) {
      $(`#flat-price-${i + 1}`).removeClass('row_with_errors')
      if ( Date.parse(endtDateInputs[i].value) < Date.parse(startDateInputs[i].value) ) { 
        $(`#flat-price-${i + 1}`).addClass('row_with_errors')
        $(`#flat-price-${i + 1}`).prepend(`
        <div class="alert alert-danger alert-dismissible fade show mb-1" role="alert">
          Начало ценового периода должно быть раньше конца
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      `);    
        var errors = true
      }        
      data.prices.push( {
        "start_date":startDateInputs[i].value,
        "end_date": endtDateInputs[i].value,
        "day_cost": dayCostInputs[i].value
      } )
      arrayPrice.push(parseInt(dayCostInputs[i].value)) // array for min price      
    }
    // find min price from array
    data["min_price"] = Math.min.apply(null, arrayPrice);    

    if ( errors == true ) {  
      form.button.disabled = false;      
      return
    }  
    /// End validate and insert prices

    // send form
    this.desc_json.value = JSON.stringify(data);
    form.submit();
  })

  // add new PRICE field
  function add_input_price() {
    var inputs = $('.flat-price')    
    var newId = inputs.length + 1
    $('.flat-prices').append(`
      <div class="row flat-price mt-3" id="flat-price-${newId}">
        <div class="col-3">
          <label>Начало периода</label>          
          <input type="date" name="start_date" class="form-control form-control-sm" required >            
        </div>
        <div class="col-3">
          <label>Конец периода</label>          
          <input type="date" name="end_date" class="form-control form-control-sm" required >
        </div>
        <div class="col-3">
          <label>Стоимость суток</label>          
          <input type="number" name="day_cost" class="form-control form-control-sm" required >
        </div>
        <div class="col-3 ">
          <br>
          <button type="button" onclick="remove_input_price(${newId})" class="btn btn-outline-danger btn-sm"><i class="icon_set_1_icon-67"></i></button>
        </div>
      </div>
    `);    
  }
  // remove PRICE fields
  function remove_input_price(removeId) {
    if ( $('.flat-price').length == 1 ) {      
      var inputs = $(`#flat-price-${removeId} :input`)
      inputs[0].value = 0
      inputs[1].value = 0
      inputs[2].value = 0
    } else {
      $('#flat-price-' + removeId).remove()
    }        
  }

  // insert info previous room
  function insertInfo() {
    let previousRoom = <%= @previous_room.to_json.html_safe %>;
    
    form.elements[2].value = previousRoom.name;
    form.elements[5].value = previousRoom.size;

    form.elements[3].value = previousRoom.description['rooms'];
    form.elements[4].value = previousRoom.description['guests'];
    form.elements[6].value = previousRoom.description['floor'];
    form.elements[8].value = previousRoom.description['desc'];
    form.elements[9].value = previousRoom.description['furniture'];
    form.elements[10].value = previousRoom.description['bathroom'];
    form.elements[11].value = previousRoom.description['in_room'];
    form.elements[12].value = previousRoom.description['addition'];
  }

</script>


