<% provide(:title, "Жильё в #{ @town.parent_name }") %>

<div class="town-bg-image" style="background-image: url('<%= @town.avatar.url %>');" >
  <div class="hero-title text-center">
    <% unless @hotel_cat %>
      <h1>Жильё в <%= @town.parent_name %></h1>    
      Активный отдых Крыму без посредников
    <% else %>      
      <h1><%= @hotel_cat %> в <%= @town.parent_name %></h1>
    <% end %>    
  </div>  
</div>

<div class="container">

  <div class="breadcrumbs">    
    <%= link_to "Главная", root_url %>&nbsp;/&nbsp; 
    <%= link_to @town.name, @town %>&nbsp;/&nbsp;
    <% unless @hotel_cat %>
      Жильё в <%= @town.parent_name %>
    <% else %>
      <%= link_to "Жильё", hotels_town_path %>&nbsp;/&nbsp;
      <%= @hotel_cat %>
    <% end %>
  </div>

  <div class="row">

    <div class="col-9 px-0">
      <div class="row">
        <%= render @hotels %>
      </div>      
    </div>

    <div class="col-md-3 px-4">

      <aside>
        <h4>Категории</h4>

        <div class="box_style_cat">
          <ul id="cat_nav">
            <li><a href="#" id="active"><i class="icon_set_3_restaurant-10"></i>All restaurants <span>(141)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-1"></i>Pizza / Italian <span>(20)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-2"></i>Fast Food <span>(16)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-3"></i>Japanese <span>(12)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-4"></i>Chinese <span>(11)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-5"></i>International <span>(20)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-8"></i>Coffe bar <span>(08)</span></a>
            </li>
            <li><a href="#"><i class="icon_set_3_restaurant-7"></i>Fish <span>(08)</span></a>
            </li>
          </ul>
        </div>

        <ul>          
          <li id="all-hotel-cats"><%= link_to "Всё жильё", hotels_town_path %></li>                
          <% @hotel_categories.each do |hotel_cat| %>
            <li id="hotel-cat-<%= hotel_cat.id %>">
              <%= link_to hotel_cat.name, { cat: hotel_cat.id } %>
            </li> 
          <% end %>                        
        </ul>
        
      </aside>     

    </div>

  </div>

</div>

<script>
  if (document.location.href == "<%= request.original_url %>") {
    if (current_cat =  document.getElementById("hotel-cat-<%= params[:cat] %>")) {
      current_cat.querySelector('a').classList.add("text-info");
    } else {
      document.getElementById("all-hotel-cats").querySelector('a').classList.add("text-info");     
    }     
  }
</script>