<% provide(:title, "Жильё в #{ @town.parent_name }") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_pack_tag 'main/fotorama', 'data-turbolinks-track': 'reload'%>
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <% unless @hotels_cat %>
            <h1>Жильё в <%= @town.parent_name %></h1>           
          <% else %>      
            <h1><%= @hotels_cat %> в <%= @town.parent_name %></h1>
          <% end %>
          <span>Активный отдых Крыму без посредников</span>         
        </div>
        <div class="col-md-4 d-md-none">          
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= link_to @town.name, @town %>&nbsp;/
    <% unless @hotels_cat %>
      Жильё в <%= @town.parent_name %>
    <% else %>
      <%= link_to "Жильё", hotels_town_path %>&nbsp;/
      <%= @hotels_cat %>
    <% end %>    
  </div>
</div>

<div class="container mt-4">

  <div class="row">

    <aside class="col-lg-3 px-lg-4 px-md-2 px-sm-0">
            
      <div class="hotel-cats">
        <ul class="">          
          <li id="all-hotel-cats"><%= link_to "Всё жильё", hotels_town_path %></li>                
          <% @hotel_categories.each do |hotel_cat| %>
            <li id="hotel-cat-<%= hotel_cat.id %>">
              <%= link_to hotel_cat.name, { cat: hotel_cat.id } %>
            </li> 
          <% end %>                        
        </ul>
      </div>       

    </aside>

    <div class="col-lg-9 px-1">
      <div class="row gx-1">
        <%= render @hotels %>
      </div>      
    </div>    

  </div>

</div>

<script>    // active category
  if (document.location.href == "<%= request.original_url %>") {
    if (current_cat =  document.getElementById("hotel-cat-<%= params[:cat] %>")) {
      current_cat.classList.add("active");
    } else {
      document.getElementById("all-hotel-cats").classList.add("active");     
    }     
  }
</script>

<script>//Initialize fotorama manually for hotels widget.
  $(document).on('turbolinks:load', function() {
    $(function () {    

      //Initialize fotorama hotels widget.
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
      function (e, fotorama) {      
        fotorama.setOptions({
          nav: "false"
        });
      })
    });
  }); 
</script>