<% provide(:title, "Услуги и сервисы в #{ @town.parent_name }") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fotorama.js", 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <% if @services_cat %>
						<h1><%= @services_cat %> в <%= @town.parent_name %></h1>
					<% else %>
						<h1>Услуги и сервисы в <%= @town.parent_name %></h1>
					<% end %>          
          <span>Интересные и необходимые места, достопримечательности</span>          
        </div>
        <div class="col-md-4 d-md-none">          
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= link_to @town.name, @town %>&nbsp;/
    <% unless @services_cat.blank? %>
      <%= link_to "Услуги и сервисы", services_town_path %>&nbsp;/
      <%= @services_cat %>				
    <% else %>
      Услуги и сервисы в <%= @town.parent_name %>
    <% end %>     
  </div>
</div>

<div class="container mt-4">

	<div class="row">

		<aside class="col-lg-3 px-lg-4 px-md-2 px-sm-0">
			<div class="hotel-cats">
        <ul class="">          
          <li id="all-service-cats"><%= link_to "Все Услуги и сервисы", services_town_path %></li>                
          <% @service_categories.each do |service_cat| %>
            <li id="service-cat-<%= service_cat.id %>">
              <%= link_to service_cat.name, { cat: service_cat.id } %>
            </li> 
          <% end %>                        
        </ul>
      </div>
		</aside>
	
		<div class="col-lg-9 px-1">
			<div class="row gx-1">
				<%= render @services %>
			</div>      
		</div>

	</div>

</div>

<script>//fotorama, active category
  $(document).on('turbolinks:load', function() {
    // active category
    if (document.location.href == "<%= request.original_url %>") {
      if (current_cat =  document.getElementById("service-cat-<%= params[:cat] %>")) {
        current_cat.classList.add("active");
      }
      else {
        document.getElementById("all-service-cats").classList.add("active");     
      }     
    }

    $(function () {
      //Initialize fotorama hotels widget.
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
        function (e, fotorama) {      
          fotorama.setOptions({
            nav: "false"
          });
        })
    });
  }); 
</script>











