<% provide(:title, "Услуги и сервисы в #{ @town.parent_name }") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fotorama.js", 'data-turbolinks-track': 'reload' %>
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-11">          
          <% if @services_cat %>
						<h1><%= @services_cat %> в <%= @town.parent_name %></h1>
					<% else %>
						<h1>Услуги и сервисы в <%= @town.parent_name %></h1>
					<% end %>          
          <span>Всё необходимое для комфортного отдыха</span>          
        </div>
        <div class="col-md-1 d-md-none">          
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= link_to @town.name, @town %>&nbsp;/
    <% unless @services_cat.blank? %>
      <%= link_to "Услуги и сервисы", services_town_path %>&nbsp;/
      <%= @services_cat %>				
    <% else %>
      Услуги и сервисы в <%= @town.parent_name %>
    <% end %>     
  </div>
</div>

<div class="container mt-4">

	<div class="row">

		<aside class="col-lg-3 px-lg-4 px-md-2 px-sm-0">
      <span style="font-size:17px;font-weight:600;"><i class="icon-tag-6"></i> Сервисы и услуги:</span>
			<div class="hotel-cats mt-3">
        <ul class="">          
          <li id="all-service-cats"><%= link_to "Все Услуги и сервисы", services_town_path %></li>                
          <% @service_categories.each do |service_cat| %>
            <li id="service-cat-<%= service_cat.cat_id %>">
              <%= link_to service_cat.cat_name, { cat: service_cat.cat_id } %>
            </li> 
          <% end %>                        
        </ul>
      </div>

      <!-- other resources on large screen -->
      <div class="d-none d-sm-none d-md-block mt-5">        
        <span style="font-size:17px;font-weight:600;"><i class="icon-star-2"></i> Ещё в <%= @town.parent_name %>:</span>
        <%= link_to "Жильё в #{@town.parent_name}", hotels_town_path, class: 'other-resources mt-3' %>
        <%= link_to "Интересные места и достопримечательности #{@town.parent_name}", points_town_path, class: 'other-resources' %>
        <%= link_to "Активный отдых в #{@town.parent_name}", actives_town_path, class: 'other-resources' %>
        <%= link_to "Кафе / Бары в #{@town.parent_name}", cafebars_town_path, class: 'other-resources' %>
      </div>
		</aside>
	
		<div class="col-lg-9 px-1">
			<div class="row gx-1">
				<%= render @services %>
			</div>
      <!-- other resources on small screen -->
      <div class="d-sm-block d-md-none px-2 mt-4">
        <span class="icon-star-2"></span>
        <span style="font-size:17px;font-weight:600;">Ещё в <%= @town.parent_name %>:</span>
        <%= link_to "Жильё в #{@town.parent_name}", hotels_town_path, class: 'other-resources-sm' %>
        <%= link_to "Интересные места и достопримечательности #{@town.parent_name}", points_town_path, class: 'other-resources-sm' %>
        <%= link_to "Активный отдых в #{@town.parent_name}", actives_town_path, class: 'other-resources-sm' %>
        <%= link_to "Кафе / Бары в #{@town.parent_name}", cafebars_town_path, class: 'other-resources-sm' %>
      </div>     
		</div>

	</div>

</div>

<script>//fotorama, active category
  $(document).on('turbolinks:load', function() {
    // active category
    if (document.location.href == "<%= request.original_url %>") {
      if (current_cat =  document.getElementById("service-cat-<%= params[:cat] %>")) {
        current_cat.classList.add("active");
      }
      else {
        document.getElementById("all-service-cats").classList.add("active");     
      }     
    }

    $(function () {
      //Initialize fotorama hotels widget.
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
        function (e, fotorama) {      
          fotorama.setOptions({
            nav: "false"
          });
        })
    });
  }); 
</script>











