<% provide(:title, "#{@town.name} - жильё и активный отдых без посредников") %>

<% content_for(:seo_tags) do %>  

  <meta name="keywords"           content="<%= @town.name %> отдых 2021, жильё в <%= @town.parent_name %>, конные прогулки в <%= @town.parent_name %>">  
	<meta name="description"        content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>">
  
  <meta property="og:title"       content="<%= @town.name %>" />
	<meta property="og:description" content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>"/>
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="<%= url_for(:only_path => false) %>" />
  <meta property="og:image"       content="<%= @town.avatar.current_path %>" />  
  <meta property="og:site_name"   content="Люблю Крым - ilovekrim.ru">
  <meta property="og:locale"      content="ru_RU">
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <h1><%= @town.name %></h1>  
					<span>Страница города</span>         
        </div>
        <div class="col-md-4">
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= @town.name %>    
  </div>
</div>

<main class="town">

<div class="container">

	<div class="main_title mt-3">
		<h1>Жильё, отдых, услуги и развлечения в <span><%= @town.parent_name %></span> 2021</h1>
		<p>
			А также кафе, рестораны, достопримечательности и интересные места.
		</p>
	</div>

	<div class="resources-title">
		<h2>Жильё:</h2>
		<%= link_to "(Все варианты)", hotels_town_path %>
	</div>
	
	<div class="row"><!-- hotels -->
		<% @town_cats.where(cat_type: 'hotels').each do |cat| %>
			<div class="col-6 col-lg-2 p-1">
				<a href="/towns/<%= @town.id %>/hotels?cat=<%= cat.cat_id %>">
					<div class="cat-bg-image">
						<img src="<%= @town.avatar_for_cat("hotels", cat.cat_id) %>" alt="<%= "#{cat.cat_name} в #{@town.parent_name}" %>" class="img-fluid">
						<div class="cat-bg-title"><%= cat.cat_name %> (<%= cat.cat_count %>)</div>
					</div>
				</a>
			</div>
		<% end %>	
	</div><!-- END hotels -->	

</div><!-- END container --->

<br><br>

<div class="bg-white"><!-- actives -->
	<div class="container">
		<div class="row">			
			<aside class="col-lg-3">				
				<div class="resources-title pt-3">
					<h2>Активный отдых</h2>		
				</div>
				<div class="hotel-cats mt-2">
					<ul>          
						<li><a href="/towns/<%= @town.id %>/actives">Все активности</a></li>
						<% @town_cats.where(cat_type: 'actives').each do |cat| %>							
							<li><a href="/towns/<%= @town.id %>/actives?cat=<%= cat.cat_id %>"><%= cat.cat_name %> (<%= cat.cat_count %>)</a></li>
						<% end %>	
					</ul>
				</div>
			</aside>
			<div class="col-lg-9 p-1">
				<div class="row gx-0">
					<% @promo_actives.each do |active| %>
						<div class="col-lg-4 col-6">
							<%= link_to image_tag(active.avatar.thumb_active.url, alt: "Главная", class: 'img-fluid'), active_path(active, town_id: @town.id) %>	
						</div>
					<% end %>
				</div>
			</div>		
		</div>
	</div>	
</div><!-- END actives -->

<br><br><br>

<div class="container"><!-- Points -->
	
	<div class="resources-title">
		<%= link_to points_town_path do %>
		<h2>Интересные места, достопримечательности в <%= @town.parent_name %> (все)</h2>
		<% end %>		
	</div>	
	
	<div class="row mt-4">
	
		<% @point_cats.each do |cat| %>
		
			<div class="col point-cat">
				<a href="/towns/<%= @town.id %>/points?cat=<%= cat.cat_id %>">
					<%= image_tag("icons/#{cat.cat_name}.png", width: "75px", class: "mx-auto d-block") %>
					<span>
						<%= cat.cat_name %>
					</span>
				</a>			
			</div>
			
		<% end %>
	
	</div>	

</div><!-- END POINTS -->

<div class="bg-white py-4"><!-- Services -->
	<div class="container">

		<div class="main_title">
			<h2>Услуги и сервисы в <span><%= @town.parent_name %></span></h2>
			<p>Доставка еды, такси, прокат и многое другое</p>
		</div>

		<div class="row gx-3 service-cats">

			<div class="col-6 col-lg-4 px-lg-5">
				<a href="/towns/<%= @town.id %>/services">
					<div class="service-cat">						
						<i class="icon_set_1_icon-87" style="font-size:22px;"></i>&nbsp;
						Все сервисы/услуги						
					</div>
				</a>
			</div>
				
			<% @service_cats.each do |cat| %>
				<div class="col-6 col-lg-4 px-lg-5">
					<a href="/towns/<%= @town.id %>/services?cat=<%= cat.id %>">
						<div class="service-cat">						
							<i class="<%= cat.avatar %>" style="font-size:22px;"></i>&nbsp;
							<%= cat.name %>						
						</div>
					</a>
				</div>				
			<% end %>				
		
		</div>
	</div>	
</div><!-- END Services -->

<div class="container mt-5"><!-- Towns near -->
	<div class="main_title">
		<h2>Населённые пункты рядом</h2>			
	</div>
	<div class="row gx-1">
		<div class="col-4">
			<img src="<%= Town.where("number = ?", @town.number).first.avatar.url %>" alt="Laptop" class="img-fluid">
		</div>
		<div class="col-4">
			<img src="<%= @town.avatar.url %>" alt="Laptop" class="img-fluid">
		</div>
		<div class="col-4">Город справа</div>
	</div>
</div>

<div class="white_bg">
	<div class="container margin_60">

		<div class="banner colored">
			<h4>Получайте кэшбэк <span>5%</span> при бронировании жилья и активного отдыха </h4>
			<p>
				Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
			</p>
			<a href="single_tour.html" class="btn_1 white">Read more</a>
		</div>
		
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Sightseen tour</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Transfer</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Tour guide</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Hotel</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</div>
<!-- End white_bg -->

<section class="promo_full">
	<div class="promo_full_wp">
		<div>
			<h3>ОТДЫХАЙТЕ С НАМИ!</h3>
			<p>
				Жильё и активный отдых в Крыму без посредников
			</p>
			<a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="far fa-play-circle"></i></a>
		</div>
	</div>
</section>
<!-- End section -->

<div class="container margin_60">

  <div class="main_title">
    <h2>Some <span>good</span> reasons</h2>
    <p>
      Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
    </p>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="feature_home">
        <i class="icon_set_1_icon-41"></i>
        <h3><span>+120</span> Premium tours</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="feature_home">
        <i class="icon_set_1_icon-30"></i>
        <h3><span>+1000</span> Customers</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-lg-4"">
      <div class="feature_home">
        <i class="icon_set_1_icon-57"></i>
        <h3><span>H24 </span> Support</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

  </div>
  <!--End row -->

  <hr>

  <div class="row">
    <div class="col-md-6">
      <img src="<%= @town.avatar.url %>" alt="Laptop" class="img-fluid laptop">
    </div>
    <div class="col-md-6">
      <h3><span>Get started</span> with CityTours</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
      </p>
      <ul class="list_order">
        <li><span>1</span>Select your preferred tours</li>
        <li><span>2</span>Purchase tickets and options</li>
        <li><span>3</span>Pick them directly from your office</li>
      </ul>
      <a href="all_tour_list.html" class="btn_1">Start now</a>
    </div>
  </div>
  <!-- End row -->
        
</div>
<!-- End container -->

</main>




