<% provide(:title, "#{@town.name} - жильё и активный отдых без посредников") %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fotorama.js" %>
<% end %>

<% content_for(:seo_tags) do %>  

  <meta name="keywords"           content="<%= @town.name %> отдых 2021, жильё в <%= @town.parent_name %>, конные прогулки в <%= @town.parent_name %>">  
	<meta name="description"        content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>">
  
  <meta property="og:title"       content="<%= @town.name %>" />
	<meta property="og:description" content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>"/>
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="<%= url_for(:only_path => false) %>" />
  <meta property="og:image"       content="<%= @town.avatar.current_path %>" />  
  <meta property="og:site_name"   content="Люблю Крым - ilovekrim.ru">
  <meta property="og:locale"      content="ru_RU">
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <h1><%= @town.name %></h1>  
					<span>Страница города</span>         
        </div>
        <div class="col-md-4">
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= @town.name %>    
  </div>
</div>

<main class="town">

<div class="container"><!-- title & hotels -->

	<div class="main_title mt-3">
		<h1>Жильё, отдых, услуги и развлечения в <span><%= @town.parent_name %></span> 2021</h1>
		<p>
			А также кафе, рестораны, достопримечательности и интересные места.
		</p>
	</div>

	<div class="resources-title">		
		<h2>Жильё:</h2>		
	</div>

	<div class="row g-1"><!-- hotels -->
		<div class="col-6 col-lg-2">
			<a href="/towns/<%= @town.id %>/hotels">
				<div class="cat-bg-image">
					<img src="<%= @town.avatar.thumb.url %>" alt="<%= "Жильё в #{@town.parent_name}" %>" class="img-fluid">
					<div class="cat-bg-title">Все варианты</div>
				</div>
			</a>
		</div>
		<% @hotels_photo.each do |cat| %>
			<div class="col-6 col-lg-2">
				<a href="/towns/<%= @town.id %>/hotels?cat=<%= cat.hotel_category_id %>">
					<div class="cat-bg-image">						
						<img src="<%= cat.avatar.thumb.url %>" alt="<%= "#{cat.desc_json['cat_name']} в #{@town.parent_name}" %>" class="img-fluid">
						<div class="cat-bg-title"><%= cat.desc_json['cat_name'] %></div>
					</div>
				</a>
			</div>
		<% end %>	
	</div><!-- END hotels -->	

</div><!-- END container -->

<br><br>

<div class="bg-white shadow"><!-- actives -->
	<div class="container">
		<div class="row">			
			<aside class="col-lg-3">				
				<div class="resources-title">
					<h2>Активный отдых</h2>		
				</div>
				<div class="hotel-cats">
					<ul>          
						<li><a href="/towns/<%= @town.id %>/actives">Все активности</a></li>
						<% @town_cats.where(cat_type: 'actives').each do |cat| %>							
							<li><a href="/towns/<%= @town.id %>/actives?cat=<%= cat.cat_id %>"><%= cat.cat_name %> (<%= cat.cat_count %>)</a></li>
						<% end %>	
					</ul>
				</div>
			</aside>
			<div class="col-lg-9">
				<div class="row g-1">
					<% @promo_actives.each do |active| %>
						<div class="col-lg-4 col-6">
							<div class="actives-promo" style="position: relative;">
							<%= link_to active do %>
								<%= image_tag(active.avatar.thumb_active.url, alt: "Главная", class: 'img-fluid') %>
								<div class="actives-link">
									<%= active.name %>
								</div>
							<% end %>
							</div>						
						</div>
					<% end %>
				</div>
			</div>		
		</div>
	</div>	
</div><!-- END actives -->

<br>

<div class="container pt-4"><!-- Points -->	
	<div class="resources-title">		
		<h2>Интересные места, достопримечательности в <%= @town.parent_name %></h2>			
	</div>		
	<div class="row pt-lg-3">
		
		<% @points_photo.each do |points_cat| %>
			
				<div class="col-6 col-lg-2 mb-4 px-1">
					<div class="point-cat">
					<a href="/towns/<%= @town.id %>/points?cat=<%= points_cat.point_category_id %>">
						<%= image_tag(points_cat.avatar.thumb.url,  class: "img-fluid")  %>
						<span>
							<%= points_cat.desc_json['cat_name'] %>
						</span>
					</a>
					</div>			
				</div>
		
		<% end %>

	</div>	
</div><!-- END POINTS -->

<div class="py-4 bg-white"><!-- Services -->
	<div class="container">

		<div class="resources-title">		
			<h2>Услуги и сервисы в <%= @town.parent_name %></h2>
		</div>

		<div class="row gx-3 service-cats pt-lg-3">

			<div class="col-6 col-lg-4 px-lg-5">
				<a href="/towns/<%= @town.id %>/services">
					<div class="service-cat">						
						<i class="icon_set_1_icon-87" style="font-size:22px;"></i>&nbsp;
						Все сервисы/услуги						
					</div>
				</a>
			</div>
				
			<% @service_cats.each do |cat| %>
				<div class="col-6 col-lg-4 px-lg-5">
					<a href="/towns/<%= @town.id %>/services?cat=<%= cat.id %>">
						<div class="service-cat">						
							<i class="<%= cat.avatar %>" style="font-size:22px;"></i>&nbsp;
							<%= cat.name %>						
						</div>
					</a>
				</div>				
			<% end %>				
		
		</div>
	</div>	
</div><!-- END Services -->


<div class="container pt-4"><!-- CAFE -->	
	<div class="resources-title">		
		<h2>Где поесть в <%= @town.parent_name %></h2>			
	</div>

	<div class="tags my-4 px-3">
		<%= link_to "Все предложения", cafebars_town_path(@town) %>
		<% @tagcafebars.each do |tag| %>        
			<%= link_to tag.name, cafebars_town_path(@town, { tag: tag.id }) %>                  
		<% end %>
	</div>

	<div class="row g-3">
		<%= render partial: "towns/promo_cafebar", collection: @promo_cafebars %>		
	</div>
	
</div><!-- END CAFE -->

<% if current_user && current_user.admin? %>	
	<%= render 'category_counter' %>           <!-- Category Counter -->
<% end %>

</main>

<script>//Initialize fotorama manually
  $(document).on('turbolinks:load', function() {
    $(function () {    

      //Initialize fotorama hotels widget.
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
      function (e, fotorama) {      
        fotorama.setOptions({
          nav: "false"
        });
      })
    });
  }); 
</script>





