<% provide(:title, "#{@town.name} - жильё и активный отдых без посредников") %>

<% content_for(:seo_tags) do %>  

  <meta name="keywords"           content="<%= @town.name %> отдых 2021, жильё в <%= @town.parent_name %>, конные прогулки в <%= @town.parent_name %>">  
	<meta name="description"        content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>">
  
  <meta property="og:title"       content="<%= @town.name %>" />
	<meta property="og:description" content="Жильё и активный отдых в <%= @town.parent_name %> без посредников. Морские, воздушные, конные и другие прогулки. Интересные места и достопримечательности, услуги и сервисы в <%= @town.parent_name %>"/>
  <meta property="og:type"        content="website" />
  <meta property="og:url"         content="<%= url_for(:only_path => false) %>" />
  <meta property="og:image"       content="<%= @town.avatar.current_path %>" />  
  <meta property="og:site_name"   content="Люблю Крым - ilovekrim.ru">
  <meta property="og:locale"      content="ru_RU">
<% end %>

<section class="parallax-window" data-parallax="scroll" data-image-src="<%= @town.avatar.url %>">
  <div class="parallax-content-2">
    <div class="container">
      <div class="row">
        <div class="col-md-8">          
          <h1><%= @town.name %></h1>  
					<span>Страница города</span>         
        </div>
        <div class="col-md-4">
          <div id="price_single_main" class="hotel">
            <span><sup></sup></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= @town.name %>    
  </div>
</div>

<main class="town">

<div class="container">

	<div class="main_title mt-3">
		<h1>Жильё, отдых, услуги и развлечения в <span><%= @town.parent_name %></span> 2021</h1>
		<p>
			А также кафе, рестораны, достопримечательности и интересные места.
		</p>
	</div>

	<div class="resources-title">
		<h2>Жильё:</h2>
		<%= link_to "(Все варианты)", hotels_town_path %>
	</div>
	
	<div class="row"><!-- hotels -->

		<% @town_cats.where(cat_type: 'hotels').each do |cat| %>
			<div class="col-6 col-lg-2 p-1">
				<a href="/towns/<%= @town.id %>/hotels?cat=<%= cat.cat_id %>">
					<div class="cat-bg-image">
						<img src="<%= @town.avatar_for_cat("hotels", cat.cat_id) %>" alt="<%= "#{cat.cat_name} в #{@town.parent_name}" %>" class="img-fluid">
						<div class="cat-bg-title"><%= cat.cat_name %> (<%= cat.cat_count %>)</div>
					</div>
				</a>
			</div>
		<% end %>		
	
	</div><!-- END hotels -->	


<!-- ДЛЯ ТЕСТА СЧЁТЧИКА КАТЕГОРИЙ -->
<br><br>
<div class="row">
	<% @town_cats.each do |counter| %>
		<div class="col">
			Город: <strong><%= counter.town_id %></strong> <br>
			Тип:	<strong><%= counter.cat_type %></strong> <br>
			ID:  <strong><%= counter.cat_id %></strong>		Кол-во: <strong><%= counter.cat_count %></strong>  <br>
			Name: <strong><%= counter.cat_name %></strong>
		</div>
	<% end %>
</div>

</div>

<br><br>

<div class="bg-white"><!-- actives -->
	<div class="container">
		<div class="row">
			
			<aside class="col-lg-3">
				
				<div class="resources-title">
					<h2>Активный отдых</h2>		
				</div>

				<div class="hotel-cats">
					<ul>          
						<li><a href="/towns/<%= @town.id %>/actives">Все активности</a></li>
						<% @town_cats.where(cat_type: 'actives').each do |cat| %>							
							<li><a href="/towns/<%= @town.id %>/actives?cat=<%= cat.cat_id %>"><%= cat.cat_name %> (<%= cat.cat_count %>)</a></li>
						<% end %>	
					</ul>
				</div>       

			</aside>

			
		
		</div>
	</div>	
</div><!-- END actives -->

<br><br>

<div class="container">

  <div class="row">
    <div class="col-6">
      <%= link_to "Жильё в #{@town.parent_name}", hotels_town_path,
          class: 'btn btn-primary btn-sm' %>
    </div> 

		<div class="col-6">
			<%= link_to "Поинты #{@town.parent_name}", points_town_path,
      		class: 'btn btn-warning btn-sm' %>
		</div> 
  </div>

	<br>
	<br>

	<div class="row">
    <div class="col">
    	<%= link_to "Где поесть в #{@town.parent_name}", cafebars_town_path,
					class: 'btn btn-success btn-sm' %> 
    </div> 

		<div class="col">
			<%= link_to "Услуги и сервисы #{@town.parent_name}", services_town_path,
      		class: 'btn btn-info btn-sm' %>
		</div> 

		<div class="col-">
			<%= link_to "Активный отдых #{@town.parent_name}", actives_town_path,
      		class: 'btn btn-info btn-sm' %>
		</div> 
  </div>

	

	<br>

</div>


<div class="white_bg">
	<div class="container margin_60">
		<div class="main_title">
			<h2>Other <span>Popular</span> tours</h2>
			<p>
				Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
			</p>
		</div>
		<div class="row add_bottom_45">
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Tour Eiffel<span class="other_tours_price">$42</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Shopping tour<span class="other_tours_price">$35</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Versailles tour<span class="other_tours_price">$20</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Montparnasse skyline<span class="other_tours_price">$26</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Pompidue<span class="other_tours_price">$26</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Senna River tour<span class="other_tours_price">$32</span></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-1"></i>Notredame<span class="other_tours_price">$48</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-4"></i>Lafaiette<span class="other_tours_price">$55</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Trocadero<span class="other_tours_price">$76</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Open Bus tour<span class="other_tours_price">$55</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-30"></i>Louvre museum<span class="other_tours_price">$24</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-3"></i>Madlene Cathedral<span class="other_tours_price">$24</span></a>
					</li>
				</ul>
			</div>
			<div class="col-lg-4 other_tours">
				<ul>
					<li><a href="#"><i class="icon_set_1_icon-37"></i>Montparnasse<span class="other_tours_price">$36</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-1"></i>D'Orsey museum<span class="other_tours_price">$28</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-50"></i>Gioconda Louvre musuem<span class="other_tours_price">$44</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Tour Eiffel<span class="other_tours_price">$56</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-50"></i>Ladefanse<span class="other_tours_price">$16</span></a>
					</li>
					<li><a href="#"><i class="icon_set_1_icon-44"></i>Notredame<span class="other_tours_price">$26</span></a>
					</li>
				</ul>
			</div>
		</div>
		<!-- End row -->

		<div class="banner colored">
			<h4>Discover our Top tours <span>from $34</span></h4>
			<p>
				Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in.
			</p>
			<a href="single_tour.html" class="btn_1 white">Read more</a>
		</div>
		
		<div class="row">
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Sightseen tour</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Transfer</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Tour guide</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
				<p>
					<%= link_to image_tag("ct/bus.jpg", alt: "Pic", class: "img-fluid"), root_url %>
				</p>
				<h4><span>Hotel</span> booking</h4>
				<p>
					Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset, doctus volumus explicari qui ex.
				</p>
			</div>
		</div>
		<!-- End row -->
	</div>
	<!-- End container -->
</div>
<!-- End white_bg -->

<section class="promo_full">
	<div class="promo_full_wp">
		<div>
			<h3>ОТДЫХАЙТЕ С НАМИ!</h3>
			<p>
				Жильё и активный отдых в Крыму без посредников
			</p>
			<a href="https://www.youtube.com/watch?v=Zz5cu72Gv5Y" class="video"><i class="far fa-play-circle"></i></a>
		</div>
	</div>
</section>
<!-- End section -->

<div class="container margin_60">

  <div class="main_title">
    <h2>Some <span>good</span> reasons</h2>
    <p>
      Quisque at tortor a libero posuere laoreet vitae sed arcu. Curabitur consequat.
    </p>
  </div>

  <div class="row">

    <div class="col-lg-4">
      <div class="feature_home">
        <i class="icon_set_1_icon-41"></i>
        <h3><span>+120</span> Premium tours</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="feature_home">
        <i class="icon_set_1_icon-30"></i>
        <h3><span>+1000</span> Customers</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

    <div class="col-lg-4"">
      <div class="feature_home">
        <i class="icon_set_1_icon-57"></i>
        <h3><span>H24 </span> Support</h3>
        <p>
          Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
        </p>
        <a href="about.html" class="btn_1 outline">Read more</a>
      </div>
    </div>

  </div>
  <!--End row -->

  <hr>

  <div class="row">
    <div class="col-md-6">
      <img src="<%= @town.avatar.url %>" alt="Laptop" class="img-fluid laptop">
    </div>
    <div class="col-md-6">
      <h3><span>Get started</span> with CityTours</h3>
      <p>
        Lorem ipsum dolor sit amet, vix erat audiam ei. Cum doctus civibus efficiantur in. Nec id tempor imperdiet deterruisset.
      </p>
      <ul class="list_order">
        <li><span>1</span>Select your preferred tours</li>
        <li><span>2</span>Purchase tickets and options</li>
        <li><span>3</span>Pick them directly from your office</li>
      </ul>
      <a href="all_tour_list.html" class="btn_1">Start now</a>
    </div>
  </div>
  <!-- End row -->
        
</div>
<!-- End container -->

</main>




