<% provide(:title, 'Все Кафе') %>

<div class="container mt-5">
  

  <%= link_to 'Новое Кафе', new_cafebar_path, class: 'btn btn-primary btn-sm' %>

  <br><br>

  <table class="table">
    <thead>
      <th>id#</th>
      <th>Название</th>
      <th>Город</th>
      <th>Действия</th>
      <th>Активно?</th>
      <th>Рейтинг</th>
    </thead>
    <tbody>
      <% @cafebars.each do |cafebar| %>
        <tr>
          <td><%= cafebar.id %></td>
          <td><%= link_to cafebar.name, cafebar %></td>
          <td><%= cafebar.desc_json['town_name'] %></td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic example">
            <%= link_to 'Edit', edit_cafebar_path(cafebar), class: 'btn btn-warning btn-sm' %>
            <%= link_to "Удалить", cafebar_path(cafebar), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
            </div>
          </td>
          <td><%= link_to "#{cafebar.activated}", change_activated_path(model: "Cafebar",  id: cafebar.id) %></td>
          <td>
            <%= form_with(url: change_rating_path(model: "Cafebar", id: cafebar.id)) do |f| %>
              <div class="input-group">
                <%= f.text_field :rating, local: true, value: cafebar.rating, class: 'form-control form-control-sm' %>
                <%= button_tag "Change", type: 'submit', class:"btn btn-sm btn-success" %>
              </div>  
            <% end %>        
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div><!-- END CONTAINER  -->