<div class="contact-info">

  <div class="contact-photo text-center">
    <%= image_tag @hotel.avatar.thumb.url, class: "shadow-sm mx-auto" %>
    <span><!-- name --></span>
  </div>

  <div class="contact-numbers text-center">
    <div class="contact-number">
      <span class="contact-phone me-1"><!-- phone --></span>
      <!-- viber + whatsapp -->    
    </div>
  </div>

  <div class="contact-email">
    <span>
      <a href="mailto:<%= @hotel.email %>"><i class="icon-mail-6"></i>&nbsp;<%= @hotel.email %></a> 
    </span>
    <% unless @hotel.site.blank? %>
      <span><a href="https://<%= @hotel.site %>" target="_blank">&#127760;&nbsp;<%= @hotel.site %></a></span>      
    <% end %>
    <% unless @hotel.desc_json["instagram"].empty? %>
      <span><a href="https://www.instagram.com/<%= @hotel.desc_json["instagram"] %>" target="_blank">&nbsp;@<%= @hotel.desc_json["instagram"] %></a></span>
    <% end %>
    <% unless @hotel.desc_json["vk"].empty? %>
      <span><a href="https://vk.com/<%= @hotel.desc_json["vk"] %>" target="_blank">&nbsp;vk/<%= @hotel.desc_json["vk"] %></a></span>
    <% end %>
  </div>

</div>



<script>
  var contacts = <%= @hotel.desc_json["contacts"].to_json.html_safe %>
  // insert first name
  $('.contact-photo span').append(`${contacts[0]["ow_name"]}`)
  // insert first phone
  $('.contact-phone').append(`
    <a href="tel:+${contacts[0]["ow_phone_clean"]}">            
      ${contacts[0]["ow_phone"]}
    </a>`)
  // if viber? - insert first viber
  if ( contacts[0]["viber"] == "1" ) {
    $('.contact-number').append(`
      <a href="viber://chat?number=%2B${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Viber"><%= image_tag("viber_50px.png", width: "35px") %></a>
    `)
  }
  // if whatsapp? - insert first watsapp
  if ( contacts[0]["whatsapp"] == "1" ) {
    $('.contact-number').append(`
      <a href="https://api.whatsapp.com/send?phone=+${contacts[0]["ow_phone_clean"]}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Whatsapp"><%= image_tag("whatsapp_50px.png", width: "35px") %></a>
    `)
  }

  // if contacts > 1
  if ( contacts.length > 1 ) {
    for (var i = 1; i < contacts.length; i++) {
      var div = document.createElement('div')
      div.className = "contact-addition"
      div.innerHTML = `<span class="d-block fst-italic">${contacts[i]["ow_name"]}</span>` 
      div.innerHTML += `<a href="tel:+${contacts[i]["ow_phone_clean"]}">            
                        ${contacts[i]["ow_phone"]}
                       </a>`                      
      if ( contacts[i]["viber"] == "1" ) {
        div.innerHTML += `<a href="viber://chat?number=%2B${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Viber"><%= image_tag("viber_50px.png", width: "35px") %></a>`
      }
      if ( contacts[i]["whatsapp"] == "1" ) {
        div.innerHTML += `<a href="https://api.whatsapp.com/send?phone=+${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Whatsapp"><%= image_tag("whatsapp_50px.png", width: "35px") %></a>`
      }
      
      var target = document.querySelector('.contact-numbers')
      target.appendChild(div);    

    }
  }
</script>
