<div class="col-lg-4 col-md-6 px-0 mb-15">
    <div class="card mx-2 shadow">  
      
      <%= link_to hotel.name, hotel %>
        
      <!-- carousel -->
      <a href="<%= hotel_path(hotel) %>">
        <div id="carousel_hotel-<%= hotel.id %>" class="carousel slide" data-bs-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag hotel.avatar.thumb.url, class: 'd-block w-100' %>
            </div>
            <% hotel.images.take(7).each do |image| %>
              <div class="carousel-item">
                <%= image_tag image.thumb.url, class: 'd-block w-100' %>
              </div>
            <% end %>          
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel_hotel-<%= hotel.id %>"  data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel_hotel-<%= hotel.id %>"  data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </a>
      <!-- end carousel -->   
      <div class="card-body"> 
        <div class="row">
          <div class="col">
            <i class="fas fa-water color-blue"></i>&nbsp;море: <%= hotel.distance_to_sea %> м<br>
          </div>
          <div class="col">
            <i class="fas fa-wallet color-gray"></i>&nbsp;от <%= hotel.price_from %> ₽/сут <br>
          </div>
        </div>
      </div>
      <div class="card-footer py-1">

        <small class="text-muted">
          <i class="fas fa-map-marker-alt"></i>&nbsp;<%= hotel.address %>        
        </small>

        <!-- like button -->
        <% if @array_resources_ids.include?(hotel.id) %>
          <%= button_to line_items_path(resource_id: hotel), remote: true, id: "btn-heart-#{hotel.id}",
                                            class: "btn btn-link text-danger" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% else %>
          <%= button_to line_items_path(resource_id: hotel), remote: true, id: "btn-heart-#{hotel.id}",
                                                      class: "btn btn-link" do %>
            <i class="fas fa-heart"></i>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>