<% provide(:title, 'Новый объект жилья') %>
<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "jquery.maskedinput.min.js", 'data-turbolinks-track': 'reload' %>
<% end %>

<div class="container hotels-new">

  <h1 class='h3 text-center my-4'>Новый объект жилья</h1>

  <%= form_with(model: @hotel, local: true, html: { name: "hotel" }) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="row">
      <div class="col-md-9 border-end">

        <div class="row mb-3 gx-2">
          <div class="col-lg-5 col-md-6 col-sm-6">          
            <%= f.label :name, class: 'form-label' %> <span class="text-danger">*</span>   
            <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <%= f.label :town_id, class: 'form-label' %> <span class="text-danger">*</span>         
            <%= f.collection_select :town_id, Town.order(:number), :id, :name, { prompt: "Выбрать..." },class:"form-select form-select-sm", required: true %>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">            
            <%= f.label :address, class: 'form-label' %> <span class="text-danger">*</span> <small class="form-text text-muted"> / без населённого пункта</small>    
            <%= f.text_field :address, class: 'form-control form-control-sm', required: true %>
          </div>
        </div>     

        <div class="row gx-2">

          <div class="col-lg-3 col-md-4">            
            <%= f.label :hotel_category_id, class: 'form-label' %> <span class="text-danger">*</span>            
            <%= f.collection_select :hotel_category_id, HotelCategory.order(:number), :id, :name,
             { prompt: "Выбрать..." }, class:"form-select form-select-sm", required: true %>
          </div>         

          <div class="col-lg-2 col-md-4">
            <label class="form-label">Кол-во этажей</label> <span class="text-danger">*</span>
            <input name="floors" type="text" class="form-control form-control-sm" required>
          </div>

          <div class="col-lg-3 col-md-6">
            <span><i class="fas fa-water text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Если море недалеко - можете указать расстояние"></i></span>
            <%= f.label "Расстояние до моря", class: 'form-label' %><small class="text-muted"> (м.)</small> 
            <%= f.text_field :distance_to_sea, class: 'form-control form-control-sm' %>
          </div>          

          <div class="col-lg-2 col-md-6 pt-3 mt-1">
            <ul class="checkbox-tags ps-1">                
              <li>
                <%= f.check_box :all_year %>
                <label class="form-check-label" for="hotel_all_year" data-bs-toggle="tooltip" data-bs-placement="right" title="Включите, если работаете круглогодично">Работает весь год</label>            
              </li>
            </ul>                    
          </div>        

        </div> 

        <div class="row mb-3 gx-2">

           <div class="col-lg-2 col-md-4">
            <%= f.label :price_from, class: 'form-label' %> <span class="text-danger">*</span> <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Минимальная цена за проживание в сутки"> (руб.)</small>           
            <%= f.text_field :price_from, class: 'form-control form-control-sm', required: true %>              
          </div>

          <div class="col-lg-2 col-md-4">
            <label class="form-label">Цена до</label> <span class="text-danger">*</span> <small class="text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Максимальная цена за проживание в сутки"> (руб.)</small> 
            <input name="max_price" type="text" class="form-control form-control-sm" required>
          </div>

          <div class="col-lg-3 col-md-4">
            <label class="form-label">За номер/ за человека</label> <span class="text-danger">*</span> 
            <select name="price_type" class="form-select form-select-sm">              
              <option value="номер">За номер</option>
              <option value="чел.">За человека</option>  
            </select>
          </div>

          <% if logged_in? && current_user.admin? %>
            <div class="col pt-4"><a href="javascript: insertInfo();" class="btn-ilk btn-ilk-grd btn-blue">Вставить</a></div>
          <% end %>

        </div>
        
        <div class="row mb-3 pb-3 pt-2 bg-white shadow"><!-- mark on map -->
          <h3 class='h4 text-center text-success'>Отметить на карте<span style="font-size:20px;" class="text-danger">*</span></h3>
          <div class="col-md-8">
            <div id="map" style="height: 300px" class="border"></div>
          </div>
          <div class="col-md-4">
            <div class="coordinates" style="width: 200px">
              <span>Координаты</span>
              <div class="form-group">              
                <small class="text-muted">
                  Широта
                </small>
                <%= f.text_field :latitude, class: 'form-control form-control-sm', readonly: true, required: true %>
              </div>
              <div class="form-group">              
                <small class="text-muted">
                  Долгота
                </small>
                <%= f.text_field :longitude, class: 'form-control form-control-sm', readonly: true, required: true %>
              </div>

              <br>
              
              <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
              <small class="text-muted">
                С пустыми координатами карта отображаться не будет
              </small>
            </div>
          </div>
        </div><!-- END mark on map --> 

        <h3 class='h4 text-center text-success'>Описание и правила</h3>

        <div class="mb-1">
          <span style="font-size:18px"><i class="fas fa-info-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Общее описание. Несколько абзацев"></i></span>          
          <%= f.label :description, class: 'form-label' %><span class="text-danger">*</span>
        </div>
        <%= f.rich_text_area :description, class: 'form-control mb-3', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой" %>     

        <div class="hotel__desc">
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-utensils text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Предоставляется или нет питание, или есть отдельная столовая, или какие-то другие варианты."></i></span>
            <label class="form-label">Питание</label> 
            <input name="food" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-parking text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Есть ли парковка, размер, во дворе или на улице"></i></span>
            <label class="form-label">Парковка</label>
            <input name="parking" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-home text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Что находится на территории"></i></span>
            <label class="form-label">Территория</label> 
            <input name="territory" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-car-side text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Возможен ли трансфер?"></i></span>
            <label class="form-label">Трансфер</label>
            <input name="transfer" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-concierge-bell text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Услуги и сервис"></i></span>
            <label class="form-label">Сервис</label>
            <input name="service" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-info-circle text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Дополнительная инормация, правила, условия размещения"></i></span>
            <label class="form-label">Дополнительно</label>
            <input name="addition" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-baby text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Принимаете или нет с детьми, или с какими условиями"></i></span>
            <label class="form-label">Дети</label><span class="text-danger">*</span> 
            <input name="child" type="text" class="form-control form-control-sm" required>
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-dog text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Принимаете или нет с животными, или с какими условиями"></i></span>
            <label class="form-label">Домашние животные</label><span class="text-danger">*</span> 
            <input name="animals" type="text" class="form-control form-control-sm" required>
          </div>         
          <div class="mb-3">
            <span style="font-size:18px"><i class="far fa-clock text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Например - по договорённости"></i></span>
            <label class="form-label">Рассчётное время</label>
            <input name="check_time" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-history text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Например - от одной ночи"></i></span>
            <label class="form-label">Минимальный срок проживания</label>
            <input name="min_check" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-wallet text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Только наличные, или принимаете карты. Если можете выдать чек - напишите"></i></span>
            <label class="form-label">Оплата</label>
            <input name="payment" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-star text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Если есть какие-то скидки или акции - напишите об этом"></i></span>
            <label class="form-label">Скидки и акции</label>
            <input name="bonus" type="text" class="form-control form-control-sm">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="icon_set_1_icon-74" data-bs-toggle="tooltip" data-bs-placement="right" title="Если есть какие-то скидки или акции - напишите об этом"></i></span>
            <label class="form-label">Условия отмены брони, возврата аванса</label><span class="text-danger">*</span> 
            <input name="advance" type="text" class="form-control form-control-sm" required>
          </div>
        </div>

        <br><br><hr>       

        <div class="d-flex justify-content-center">
          <%= link_to "Назад", :back, class: "btn btn-outline-secondary" %>&nbsp;
          <%= button_tag "Добавить объявление", type: 'submit', class:"btn btn-primary" %>    
        </div>     


      </div>

      <div class="col-md-3 border-start">

        <h3 class='h4 text-center text-success'>Контакты</h3>

        <!-- Phone CONTACTS -->
        <div class="add-contacts">
          <div class="contact row gx-1">              
            <div class="col-lg-6 col-md-12">
              <div class="mb-2">
                
                <label class="form-label">№ телефона</label><span class="text-danger">*</span> 
                <input name="ow_phone" type="text" class="mask-phone form-control form-control-sm" style="font-size:12px" required>
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="mb-2">
                
                <label class="form-label">Имя</label><span class="text-danger">*</span> 
                <input name="ow_name" type="text" class="form-control form-control-sm" style="font-size:12px" required >
              </div>
            </div>
            <div class="col">
              <ul class="ps-0 checkbox-tags">
                <li>                  
                  <input type="checkbox" name="viber" id="chk_viber" value="0"/>
                  <label for="chk_viber"><i class="fab fa-viber fa-lg"></i>&ensp;Есть Viber&nbsp;&nbsp;</label>
                </li>
                <li>                  
                  <input type="checkbox" name="whatsapp" id="chk_whatsapp" value="0"/>
                  <label for="chk_whatsapp"><i class="fab fa-whatsapp fa-lg"></i>&ensp;Есть Whatsapp</label>
                </li>
              </ul>
            </div>                   
          </div>
        </div>
        <!-- END Phone CONTACTS -->

        <!-- buttons add/remove contacts -->
        <div class="mb-4 mt-2">
          <button type="button" onclick="add_input()" class="btn btn-primary btn-sm"><span class="icon-user-add-1"></span> Добавить ещё контакт</button>
          <button type="button" onclick="remove_input()" class="btn btn-danger btn-sm">Убрать</button>
        </div>       
        <!-- end buttons add/remove contacts --> 
        <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
        <%= f.label :email, class: 'form-label' %>        
        <%= f.text_field :email, class:"form-control form-control-sm mb-3" %>

        <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
        <%= f.label :site, class: 'form-label' %><small class="text-muted"> (если есть)</small>         
        <%= f.text_field :site, class:"form-control form-control-sm mb-3" %>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">VK</label><small class="text-muted"> (если есть)</small>
          <input name="vk" type="text" class="form-control form-control-sm">
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Instagram</label><small class="text-muted"> (если есть)</small> 
          <input name="instagram" type="text" class="form-control form-control-sm">
        </div>

        <h3 class='h4 text-center text-success'>Фотографии</h3>
        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
          <img src="https://via.placeholder.com/300x200" id="preview" class="img-thumbnail">        
          <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm', required: true %>
        </div>
        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-images text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить фотографии номера. Максимальный размер одной фотографии - 4 МБ, не более 35 фотографий"></i></span>
          <%= f.label :images, class: 'form-label' %>      
          <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control' %>
        </div>

        <!-- SEO TAGS -->
        <div class="seo-tags mt-5">
          <p>
            <a class="btn btn-success" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              Добавить SEO-теги <span class="icon-down-open-1"></span>
            </a>
            <small class="text-muted">
            - если не знаете что это такое - можно пропустить. Система автоматически вставит стандартные
          </small>
          </p>
          <div class="collapse" id="collapseExample">
            <div class="card card-body">
              <div class="mb-3"><!-- keyword --> 
                <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                <label class="form-label">Ключевые слова (keywords)</label>
                <input name="seo_keywords" type="text" class="form-control form-control-sm">
              </div>                
              <div class="mt-3"><!-- desc --> 
                <span style="font-size:18px"><i class="icon-tag-6" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
                <label class="form-label" for="point_how_to_get">Описание (description)</label>          
                <textarea name="seo_description" class="form-control" rows="3"></textarea>
              </div>
            </div>
          </div>  
        </div>
        <!-- END SEO TAGS -->        

      </div>      
      
      <input type="hidden" name="desc_json">
      
    </div>

    <div class="row mt-5 border"><!-- prices for flat -->
      <div class="col-md-5 border">
        <strong>Если имеются номера или комнаты</strong> - то стоимость проживания в них устанавливается при создании (добавлении) номера/комнаты <strong><%= link_to 'Личном кабинете', current_user %></strong>
        <br>
        Если у вас нет номеров или комнат и объект сдаётся целиком (квартира, дом под ключ или отдельный эллинг) - то стоимость проживания устанавливается здесь.
        <button type="button" onclick="add_input_price()" class="btn btn-success btn-sm">Установить стоимость проживания</button>
      </div>
      <div class="col-md-7">
        <div class="flat-prices"><!-- flat prices --></div>        
        <button type="button" id="add_price" style="display: none" onclick="add_input_price()" class="mt-3 btn btn-success btn-sm">Добавить ещё ценовой период</button>      
      </div>
    </div><!-- end prices for flat -->

  <% end %>

</div>

<script type="text/javascript"> // ymap
    ymaps.ready(init);
    function init(){
        
      var myMap = new ymaps.Map("map", {
          center: [45.15, 34.52],
          zoom: 8,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });    

      myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {                
                contentBody:'<p>Вы отметили новое место на карте.</p>' +
                    '<p>Координаты щелчка: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6),
                    ].join(', ') + '</p>',
                contentFooter:'Чтобы изменить координаты щёлкните в другом месте'
            });

            document.getElementById('hotel_latitude').value = coords[0].toPrecision(6)
            document.getElementById('hotel_longitude').value = coords[1].toPrecision(6)
        }
        else {
            myMap.balloon.close();
        }
      });

    }
    document.getElementById('clear-btn').onclick = function(e) {
      document.getElementById('hotel_latitude').value = ''
      document.getElementById('hotel_longitude').value = ''
    }  
</script>

<% if @hotel.name %>
<!-- if failed save -->
  <script>
    var form = document.forms[0]  
    form.floors.value = '<%= @hotel.desc_json["floors"] %>'

    form.max_price.value = '<%= @hotel.desc_json["max_price"] %>'
    form.price_type.value = '<%= @hotel.desc_json["price_type"] %>'

    form.food.value = '<%= @hotel.desc_json["food"] %>'
    form.parking.value = '<%= @hotel.desc_json["parking"] %>'
    form.territory.value = '<%= @hotel.desc_json["territory"] %>'
    form.transfer.value = '<%= @hotel.desc_json["transfer"] %>'
    form.service.value = '<%= @hotel.desc_json["service"] %>'
    form.addition.value = '<%= @hotel.desc_json["addition"] %>'
    form.child.value = '<%= @hotel.desc_json["child"] %>'
    form.animals.value = '<%= @hotel.desc_json["animals"] %>'

    form.check_time.value = '<%= @hotel.desc_json["check_time"] %>'
    form.min_check.value = '<%= @hotel.desc_json["min_check"] %>'
    form.payment.value = '<%= @hotel.desc_json["payment"] %>'
    form.bonus.value = '<%= @hotel.desc_json["bonus"] %>'
    form.advance.value = '<%= @hotel.desc_json["advance"] %>'

    form.vk.value = '<%= @hotel.desc_json["vk"] %>'
    form.instagram.value = '<%= @hotel.desc_json["instagram"] %>'
  </script>
<% end %>

<script>  // prepare form for sending

  $('.mask-phone').mask('+9(999) 999-99-99');

  var form = document.forms.hotel
  
  // On Submit
  form.addEventListener('submit', function(event){
    
    form.button.disabled = true;  
    event.preventDefault();
    
    var data = {
        "floors": this.floors.value,
        "food": this.food.value,
        "parking": this.parking.value,
        "territory": this.territory.value,
        "transfer": this.transfer.value,
        "service": this.service.value,
        "addition": this.addition.value,
        "vk": this.vk.value,
        "instagram": this.instagram.value,
        "child": this.child.value,
        "animals": this.animals.value,
        "check_time": this.check_time.value,
        "min_check": this.min_check.value,
        "payment": this.payment.value,
        "bonus": this.bonus.value,
        "advance": this.advance.value,
        "max_price": this.max_price.value,
        "price_type": this.price_type.value,
        "seo_keywords": this.seo_keywords.value,
        "seo_description": this.seo_description.value,
        "contacts": [],
        "prices": []
    };       
    // insert CONTACTS
    var phoneInputs = $('.add-contacts input[name="ow_phone"]');
    var nameInputs = $('.add-contacts input[name="ow_name"]');
    var vibers = $('.add-contacts input[name="viber"]');
    var whatsapps = $('.add-contacts input[name="whatsapp"]');
    for (var i = 0; i < phoneInputs.length; i++) {  
      // проверяем нажаты ли чекбоксы
      if (vibers[i].checked == true) {
        vibers[i].value = 1     
      }
      if (whatsapps[i].checked == true) {
        whatsapps[i].value = 1
      }

      data.contacts.push( {
        "ow_name":nameInputs[i].value,
        "ow_phone":phoneInputs[i].value,        
        "ow_phone_clean":phoneInputs[i].value.replace(/[^0-9]/g, ''),
        "viber": vibers[i].value,
        "whatsapp": whatsapps[i].value
      } )         
    }

    // insert PRICES and validate
    if ( $('.flat-price').length >=1 ) {
      var startDateInputs = $('.flat-prices input[name="start_date"]')
      var endtDateInputs = $('.flat-prices input[name="end_date"]')
      var dayCostInputs = $('.flat-prices input[name="day_cost"]')      
      for ( var i = 0; i < dayCostInputs.length; i++ ) {
        $(`#flat-price-${i + 1}`).removeClass('row_with_errors')    
        if ( Date.parse(endtDateInputs[i].value) < Date.parse(startDateInputs[i].value) ) { 
          $(`#flat-price-${i + 1}`).addClass('row_with_errors')       
          var errors = true
        }        
        data.prices.push( {
          "start_date":startDateInputs[i].value,
          "end_date": endtDateInputs[i].value,
          "day_cost": dayCostInputs[i].value
        } )        
      }
      if ( errors == true ) {
        $('.flat-prices').prepend(`
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            Начало ценового периода должно быть раньше конца
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        `);  
        form.button.disabled = false;      
        return
      }      
    }
        
    this.desc_json.value = JSON.stringify(data);  
    form.submit();
  }) 
      
  // add new CONTACT fields        
  function add_input(){ 
    var inputs = $('.contact');
    var newId = inputs.length + 1;
    $('.add-contacts').append(`
      <div class="contact row gx-1" id="contact-${newId}">              
        <div class="col-md-6">
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted"></i></span>
            <label class="form-label">телефон</label>
            <input name="ow_phone" type="text" class="mask-phone form-control form-control-sm" style="font-size:12px" required >
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted"></i></span>
            <label class="form-label">Имя</label>
            <input name="ow_name" type="text" class="form-control form-control-sm" style="font-size:12px" required >
          </div>
        </div> 
        <div class="col">
          <ul class="ps-0 checkbox-tags">
            <li>
              <input type="checkbox" name="viber" id="chk_viber-${newId}" value="0">
              <label for="chk_viber-${newId}"><i class="fab fa-viber fa-lg"></i>&ensp;Есть Viber&nbsp;&nbsp;</label>
            </li>
            <li>
              <input type="checkbox" name="whatsapp" id="chk_whatsapp-${newId}" value="0">
              <label for="chk_whatsapp-${newId}"><i class="fab fa-whatsapp fa-lg"></i>&ensp;Есть Whatsapp</label>
            </li>
          </ul>
        </div>                    
      </div>
      
    `);
    
    $('.mask-phone').mask('+9 (999) 999-99-99');         
  }
  // remove CONTACT fields
  function remove_input(){
    var removeId = $('.contact').length
    $('#contact-' + removeId).remove();
  }
  // add new PRICE fields
  function add_input_price() {
    var inputs = $('.flat-price')
    var newId = inputs.length + 1
    if (newId != 0) {
      $('#add_price').show()     
    }
    $('.flat-prices').append(`
      <div class="row flat-price" id="flat-price-${newId}">
        <div class="col-3">
          <label>Начало периода</label>          
          <input type="date" name="start_date" class="form-control form-control-sm" required >            
        </div>
        <div class="col-3">
          <label>Конец периода</label>          
          <input type="date" name="end_date" class="form-control form-control-sm" required >
        </div>
        <div class="col-3">
          <label>Стоимость суток</label>          
          <input type="number" name="day_cost" class="form-control form-control-sm" required >
        </div>
        <div class="col-3 ">
          <br>
          <button type="button" onclick="remove_input_price(${newId})" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
    `);    
  }
  // remove PRICE fields
  function remove_input_price(removeId) {    
    $('#flat-price-' + removeId).remove()
    if ( $('.flat-price').length ==0 ) { $('#add_price').hide() }
  }  

  <% if logged_in? && current_user.admin? %>
  //  INSERT HOTEL INFO
  function insertInfo() {   
    var form = document.forms.hotel
    
    form.elements[1].value = 'гостевой дом "Ромашка"';
    form.elements[2].value = 1;    
    form.elements[3].value = 'ул. Полины Осипенко, 24';
    form.elements[4].value = 1;
    form.floors.value      = 3; //5
    form.elements[6].value = 450;

    form.elements[9].value = 1600; //min price
    form.max_price.value   = 2800;
    form.price_type.value  = "чел." 
        
    form.elements[12].value = 45.0417;
    form.elements[13].value = 35.3668;
    form.food.value = 'оборудованная кухня, возможность готовить еду самостоятельно 2 кухни';
    form.parking.value = 'бесплатная, на территории';
    form.territory.value = 'закрытый двор терраса, место для отдыха мангал, место для барбекю';
    form.transfer.value = 'трансфер из аэропорта в Симферополе 2500 руб';
    form.service.value = 'круглосуточная стойка регистрации бесплатный wi-fi в номерах поздний выезд ранний заезд';
    form.addition.value = 'Услуги за отдельную плату: пользование стиральной машиной. Примечание: если клиент отказывается от бронирования, предоплата не возвращается.';
    form.child.value = 'Принимаем с детьми';
    form.animals.value = 'Принимаем с животными';
    form.check_time.value = 'По договорённости';
    form.min_check.value = 'От одной ночи';
    form.payment.value = 'Принимаем карточки, выдаём чеки';
    form.bonus.value = 'На данный момент акций не предусмотрено';
    form.advance.value = 'Вы можете бесплатно отменить бронирование'

    form.elements[53].value = 'jumperka@list.ru';
    form.elements[54].value = 'kilova.ru';    
    form.vk.value = 'mcixabuka';
    form.instagram.value = 'kilovagora';

  }
  <% end %>

</script>

<script type="text/javascript"> // check avatar size
  $("#hotel_avatar").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert("Максимальный размер фотографии 4 МБ. Пожалуйста, выберите файл поменьше");
    }
  });
</script>





