<% provide(:title, 'Новый объект жилья') %>

<div class="container">

  <h1 class='h3 text-center my-4'>Новый объект жилья</h1>

  <%= form_with(model: @hotel, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-9 border-end">

        <div class="row mb-3 gx-3">
          <div class="col-md-5">          
            <%= f.label :name, class: 'form-label' %> <span class="text-danger">*</span>   
            <%= f.text_field :name, class: 'form-control form-control-sm', required: true %>
          </div>
          <div class="col-md-3">
            <%= f.label :town_id, class: 'form-label' %> <span class="text-danger">*</span>            
            <%= f.collection_select :town_id, Town.order(:number), :id, :name, { prompt: "Выбрать..." },class:"form-select form-select-sm", required: true %>
          </div>
          <div class="col-md-4">            
            <%= f.label :address, class: 'form-label' %> <span class="text-danger">*</span> <small class="text-muted"> / без населённого пункта</small>    
            <%= f.text_field :address, class: 'form-control form-control-sm', required: true %>
          </div>
        </div> 

        <div class="row mb-3 gx-2">

          <div class="col-md-3">            
            <%= f.label :hotel_category_id, class: 'form-label' %> <span class="text-danger">*</span>            
            <%= f.collection_select :hotel_category_id, HotelCategory.order(:number), :id, :name,
             { prompt: "Выбрать..." }, class:"form-select form-select-sm", required: true %>
          </div>

          <div class="col-md-3">
            <span><i class="fas fa-water text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Если море недалеко - можете указать расстояние"></i></span>
            <%= f.label "Расстояние до моря", class: 'form-label' %><small class="text-muted"> (м.)</small> 
            <%= f.text_field :distance_to_sea, class: 'form-control' %>
          </div>

          <div class="col-md-2">
            <%= f.label :price_from, class: 'form-label' %> <span class="text-danger">*</span> <small class="text-muted"> (руб.)</small>           
            <%= f.text_field :price_from, class: 'form-control form-control-sm', required: true %>              
          </div>

          <div class="col-md-2">
            <label class="form-label">Кол-во этажей</label> <span class="text-danger">*</span>
            <input name="floors" type="text" class="form-control" required>
          </div>

          <div class="col-md-2 pt-4 ">
            <div class="form-check form-switch">
              <%= f.label :all_year, class: 'form-check-label' %>      
              <%= f.check_box :all_year, class: 'form-check-input' %><br>
              <small class="text-muted" style="font-size:12px"> (весь год)</small> 
            </div>                     
          </div>

        </div> 
        
        <div class="row mb-3 pb-3 pt-2 bg-white shadow">
          <h3 class='h4 text-center text-success'>Отметить на карте<span style="font-size:20px;" class="text-danger">*</span></h3>
          <div class="col-md-8">
            <div id="map" style="height: 300px" class="border"></div>
          </div>
          <div class="col-md-4">
            <div class="coordinates" style="width: 200px">
              <span>Координаты</span>
              <div class="form-group">              
                <small class="text-muted">
                  Широта
                </small>
                <%= f.text_field :latitude, class: 'form-control form-control-sm', readonly: true, required: true %>
              </div>
              <div class="form-group">              
                <small class="text-muted">
                  Долгота
                </small>
                <%= f.text_field :longitude, class: 'form-control form-control-sm', readonly: true, required: true %>
              </div>

              <br>
              
              <button type="button" id="clear-btn" class="d-block btn btn-outline-secondary btn-sm">Сбросить координаты</button>
              <small class="text-muted">
                С пустыми координатами карта отображаться не будет
              </small>
            </div>
          </div>
        </div>  

        <h3 class='h4 text-center text-success'>Описание и правила</h3>

        <div class="mb-2">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>          
          <%= f.label :description, class: 'form-label' %>  
        </div>
        <%= f.rich_text_area :description, class: 'form-control mb-3', placeholder: "Чтобы прикрепить изображения просто перетащите их сюда, или нажмите кнопку со скрепкой" %>     

        <div class="hotel__desc">
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Питание</label><span class="text-danger">*</span> 
            <input name="food" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Парковка</label><span class="text-danger">*</span> 
            <input name="parking" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Территория</label><span class="text-danger">*</span> 
            <input name="territory" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Трансфер</label><span class="text-danger">*</span> 
            <input name="transfer" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Сервис</label><span class="text-danger">*</span> 
            <input name="service" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Дополнительно</label><span class="text-danger">*</span> 
            <input name="addition" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Дети</label><span class="text-danger">*</span> 
            <input name="child" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
            <label class="form-label">Домашние животные</label><span class="text-danger">*</span> 
            <input name="animals" type="text" class="form-control">
          </div>
        </div> 

        <div class="d-grid gap-2 col-md-5 mx-auto my-5">
          <%= button_tag type: 'submit', class:"btn btn-lg btn-primary" do %>
            <span class="icon"><i class="fas fa-camera"></i></span>&#8194;Добавить объявление
          <% end %> 
        </div>        

      </div>

      <div class="col-md-3 border-start">
        <a href="javascript: insertInfo();" class="btn-ilk">Вставить</a>
        <a href="javascript: insertInfo();" class="btn-ilk btn-ilk-prim">Очистить</a>
        <a href="javascript: insertInfo();" class="btn-ilk btn-ilk-grd">Градиент</a>
        <a href="javascript: insertInfo();" class="btn-ilk btn-ilk-grd btn-blue">Голубой</a>
        <a href="javascript: insertInfo();" class="btn-ilk btn-ilk-grd btn-ocean">Океан</a>
        <h3 class='h4 text-center text-success'>Фотографии</h3>
        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <%= f.label :avatar, class: 'form-label' %> <span class="text-danger">*</span>
          <img src="https://via.placeholder.com/300x200" id="preview" class="img-thumbnail">        
          <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control form-control-sm', required: true %>
        </div>
        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-images text-muted" data-bs-toggle="tooltip" data-bs-placement="top" title="Загрузить фотографии номера. Максимальный размер одной фотографии - 4 МБ, не более 35 фотографий"></i></span>
          <%= f.label :images, class: 'form-label' %>      
          <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control' %>
        </div>

        <h3 class='h4 text-center text-success'>Контакты</h3>

        <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
        <%= f.label :site, class: 'form-label' %> <span class="text-danger">*</span>        
        <%= f.text_field :site, class:"form-control form-control-sm mb-3" %>

        <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
        <%= f.label :email, class: 'form-label' %> <span class="text-danger">*</span>        
        <%= f.text_field :email, class:"form-control form-control-sm mb-3" %>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">VK</label><span class="text-danger">*</span> 
          <input name="vk" type="text" class="form-control">
        </div>

        <div class="mb-3">
          <span style="font-size:18px"><i class="fas fa-image text-muted" data-bs-toggle="tooltip" data-bs-placement="right" title="Загрузить главную фотографию. Максимальный размер - 4 МБ"></i></span>
          <label class="form-label">Instagram</label><span class="text-danger">*</span> 
          <input name="instagram" type="text" class="form-control">
        </div>   

      </div>      
      
      <input type="hidden" name="desc_json">
      
    </div>
  <% end %>

</div>

<script type="text/javascript"> // check avatar size
  $("#hotel_avatar").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert("Максимальный размер фотографии 4 МБ. Пожалуйста, выберите файл поменьше");
    }
  });
</script>

<script type="text/javascript"> // ymap
    ymaps.ready(init);
    function init(){
        
      var myMap = new ymaps.Map("map", {
          center: [45.15, 34.52],
          zoom: 8,
          controls: ['zoomControl'],
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });    

      myMap.events.add('click', function (e) {
        if (!myMap.balloon.isOpen()) {
            var coords = e.get('coords');
            myMap.balloon.open(coords, {                
                contentBody:'<p>Вы отметили новое место на карте.</p>' +
                    '<p>Координаты щелчка: ' + [
                    coords[0].toPrecision(6),
                    coords[1].toPrecision(6),
                    ].join(', ') + '</p>',
                contentFooter:'Чтобы изменить координаты щёлкните в другом месте'
            });

            document.getElementById('hotel_latitude').value = coords[0].toPrecision(6)
            document.getElementById('hotel_longitude').value = coords[1].toPrecision(6)
        }
        else {
            myMap.balloon.close();
        }
      });

    }
    document.getElementById('clear-btn').onclick = function(e) {
      document.getElementById('hotel_latitude').value = ''
      document.getElementById('hotel_longitude').value = ''
    }  
</script>

<% if @hotel.name %>
<!-- failure to save -->
  <script>
    var form = document.forms[0]  
    form.floors.value = '<%= @hotel.desc_json["floors"] %>'
    form.food.value = '<%= @hotel.desc_json["food"] %>'
    form.parking.value = '<%= @hotel.desc_json["parking"] %>'
    form.territory.value = '<%= @hotel.desc_json["territory"] %>'
    form.transfer.value = '<%= @hotel.desc_json["transfer"] %>'
    form.service.value = '<%= @hotel.desc_json["service"] %>'
    form.addition.value = '<%= @hotel.desc_json["addition"] %>'
    form.child.value = '<%= @hotel.desc_json["child"] %>'
    form.animals.value = '<%= @hotel.desc_json["animals"] %>'
    form.vk.value = '<%= @hotel.desc_json["vk"] %>'
    form.instagram.value = '<%= @hotel.desc_json["instagram"] %>'
  </script>
<% end %>

<script>
  var form = document.forms[0]

  form.addEventListener('submit', function(event){
    
    form.button.disabled = true;  
    event.preventDefault();

    var data = {
        "floors": this.floors.value,
        "food": this.food.value,
        "parking": this.parking.value,
        "territory": this.territory.value,
        "transfer": this.transfer.value,
        "service": this.service.value,
        "addition": this.addition.value,
        "vk": this.vk.value,
        "instagram": this.instagram.value,
        "child": this.child.value,
        "animals": this.animals.value,
    };
    this.desc_json.value = JSON.stringify(data);    
    
    form.submit();
  })

  // !!!!      INSERT HOTEL INFO - DELETE - DELETE!!!!!
  function insertInfo() {   
    var form = document.forms[0]  
    
    form.elements[1].value = 'гостевой дом "Ромашка"';
    form.elements[2].value = 1;    
    form.elements[3].value = 'ул. Полины Осипенко, 24';
    form.elements[4].value = 1;
    form.elements[5].value = 400;
    form.elements[6].value = 1200;
    form.elements[7].value = 3;
    form.elements[10].value = 45.0417;
    form.elements[11].value = 35.3668;
    form.elements[31].value = 'оборудованная кухня, возможность готовить еду самостоятельно 2 кухни';
    form.elements[32].value = 'бесплатная, на территории';
    form.elements[33].value = 'закрытый двор терраса, место для отдыха мангал, место для барбекю';
    form.elements[34].value = 'трансфер из аэропорта в Симферополе 2500 руб';
    form.elements[35].value = 'круглосуточная стойка регистрации бесплатный wi-fi в номерах поздний выезд ранний заезд';
    form.elements[36].value = 'Услуги за отдельную плату: пользование стиральной машиной. Примечание: если клиент отказывается от бронирования, предоплата не возвращается.';
    form.elements[37].value = 'Принимаем с детьми';
    form.elements[38].value = 'Принимаем с животными';


    form.elements[42].value = 'kilova.ru';
    form.elements[43].value = 'jumperka@list.ru';
    form.elements[44].value = 'mcixabuka';
    form.elements[45].value = 'kilovagora';

  }
</script>





