<% provide(:title, 'Новый объект жилья') %>


  <div class="row justify-content-center">
    <h1 class='h3'>Новый объект жилья</h1>
  </div>

  <%= form_with(model: @hotel, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="row">
      <div class="col-md-9 border-right"> 

        <div class="row">

          <div class="col-md-4">
            <div class="form-group">
              <%= f.label :hotel_category_id %>            
              <%= f.collection_select :hotel_category_id, HotelCategory.order(:number), :id, :name,
                { include_blank: true },class:"custom-select custom-select-sm" %>
              <small class="text-muted">
                Выберите категорию жилья
              </small>
            </div>
          </div>

          <div class="col-md-4">
            <div class="form-group">
                <%= f.label :town_id %>              
                <%= f.collection_select :town_id, Town.order(:number), :id, :name,
                  { include_blank: true },class:"custom-select custom-select-sm" %>
                <small class="text-muted">
                  Выберите населённый пункт
                </small>
              </div>
          </div>

          <div class="col-md-4">
            <%= f.label :price_from %>
            <div class="input-group input-group-sm">
              <%= f.number_field :price_from, class: 'form-control' %>
              <div class="input-group-append">
                <span class="input-group-text">₽</span>
              </div>            
            </div>
            <small class="form-text text-muted">
                Минимальная цена
            </small>
          </div>

        </div>

        <div class="row">
          <div class="col-md-7">
          <div class="form-group">
            <%= f.label :name %>
            <small class="text-muted">
              / Название
            </small>       
            <%= f.text_field :name, class: 'form-control form-control-sm' %>        
          </div>
          </div>
          <div class="col-md-5">
            <div class="form-group">
              <%= f.label :address %>
              <small class="text-muted">
                / Адрес без населённого пункта 
              </small>    
              <%= f.text_field :address, class: 'form-control form-control-sm' %>        
            </div>
          </div>
        </div>        

        <div class="row">      

          <div class="col-4">
            <%= f.label :distance_to_sea %> (в метрах)
            <div class="input-group input-group-sm">
              <%= f.text_field :distance_to_sea, class: 'form-control' %>
              <div class="input-group-append">
                <span class="input-group-text">М</span>
              </div>            
            </div>
            <small class="form-text text-muted">
              Если море недалеко - можете указать расстояние
            </small>
          </div>

          <div class="col-4">
            <%= f.label "Работает:" %>
            <div class="custom-control custom-switch">
              <input type="checkbox" class="custom-control-input" id="customSwitch1">
              <label class="custom-control-label" for="customSwitch1">Круглогодично</label>
            </div>
          </div>

        </div>        

        <div class="row justify-content-center">
          <%= f.submit "Добавить объявление",class:"btn btn-primary"%>
        </div> 

      </div>

      <div class="col-md-3 border-start">
        <h2 class='h5'>Добавление фотографий</h2><hr>

        <div class="form-group">
          Главное фото
          <div class="col-sm-12 mb-4">
            <img src="https://placehold.it/300x200" id="preview" class="img-thumbnail">
          </div>
          <%= f.file_field :avatar, accept: 'image/jpeg,image/png', class: 'form-control' %>
          <small class="text-muted">
            Загрузить главную фотографию. Максимальный размер - 4 МБ
          </small>
        </div>

        <div class="form-group">
          Остальные фото
          <%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/png', class: 'form-control' %>
          <small class="form-text text-muted">
            Загрузить остальные фотографии. Максимальный размер одной фотографии - 4 МБ,
            не больше 35 фотографий
          </small>
        </div>
      </div>

    </div>
  <% end %>

</div>

<script type="text/javascript">
  $("#hotel_avatar").bind("change", function() {
    const size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 4) {
      alert("Максимальный размер фотографии 4 МБ. Пожалуйста, выберите файл поменьше");
    }
  });

  //$('#hotel_comfort_ids').multiSelect();

  // download preview avatar
  $(document).on("click", ".browse", function() {
    var file = $(this).parents().find(".file");
    file.trigger("click");
  });
  $('input[id="post_avatar"]').change(function(e) {
    var fileName = e.target.files[0].name;
    $("#file").val(fileName);

    var reader = new FileReader();
    reader.onload = function(e) {
      // get loaded data and render thumbnail.
      document.getElementById("preview").src = e.target.result;
    };
    // read the image file as a data URL.
    reader.readAsDataURL(this.files[0]);
  });

</script>




