<% provide(:title, @hotel.name) %>
<%= javascript_pack_tag 'main/fotorama', 'data-turbolinks-track': 'reload'%>

<div class="container">

  <div class="breadcrumbs">    
    <%= link_to "Главная", root_url %>&nbsp;/&nbsp;
    
    
    
    <%= @hotel.name %>
  </div>

  <div class="row">

    <div class="col-md-12">
      <h1 class="d-inline"><%= @hotel.name %></h1>, <%= @hotel.address %>
    </div>

    <div class="col-md-6">
      
      <% if current_user && (current_user?(@hotel.user) || current_user.admin?) %>
        <%= link_to "Редактировать", edit_hotel_path(@hotel) ,class: "btn btn-primary btn-sm" %>
        <%= link_to "Добавить номер", new_room_path(hotel_id: @hotel.id), class: "btn btn-primary btn-sm" %>
        <%= link_to "Удалить объект", @hotel, method: :delete, data: { confirm: "Вы уверены?" }, class: "btn btn-outline-danger btn-sm" %>
      <% end %>      
      
      <% if @current_item %>
        <%= button_to line_items_path(resource_id: @hotel.id, resource_name: "Hotel"), remote: true, id: "heart-Hotel-#{@hotel.id}",
                                                              class: "btn btn-link text-danger" do %>
          <i class="fas fa-heart fa-2x"></i>
        <% end %>
      <% else %>
        <%= button_to line_items_path(resource_id: @hotel.id, resource_name: "Hotel"), remote: true, id: "heart-Hotel-#{@hotel.id}",
                                                              class: "btn btn-link" do %>
          <i class="fas fa-heart fa-2x"></i>
        <% end %>
      <% end %>

    </div>

  </div> 

  <br>

  <div class="row">

    <div class="col-md-9">
      <!-- fotorama begin -->        
      <div class="fotorama"
        data-width="900"
        data-ratio="3/2"
        data-allowfullscreen="true"
        data-nav="thumbs"
        data-loop="true"
        data-keyboard="true">
        <%= link_to image_tag(@hotel.avatar.thumb.url), @hotel.avatar.url %>
        <% @hotel.images.each do |image| %>
          <%= link_to image_tag(image.thumb.url), image.url %>
        <% end %>
      </div>        
      <!-- fotorama end -->
    </div>

    <div class="col-md-3">
      <div id="map" style="height: 300px" class="border shadow"></div>
    </div>

  </div>
  <br><br>

  <div class="row">

    <div class="col-md-9">

      <strong>Описание: </strong><%= @hotel.description %>
      <br>

      <% JSON.parse(@hotel.desc_json).each do |item| %>
        <%= item[1].size %> //
      <% end %>  
      

      <!-- Описание из JSON -->
      <h2 class="text-center">Описание из JSON</h2>
      <div id="hotel__food"></div>
      <h3 class="text-center">Бывшее двухуровневыое описание</h3>
      <div class="row">
        <div id="hotel__parking" class="col-md-6"></div>
        <div id="hotel__territory" class="col-md-6"></div>
      </div>

      <!-- Room partial -->
      <% if @hotel.rooms.any? %><!-- Rooms -->
        <h3 class="mb-4">Номера:</h3>
        <%= render @hotel.rooms %>
      <% end %><!-- End Rooms -->   

    </div>

    <div class="col-md-3">
      <!-- NEAR -->
      <div class="resource_near">
        <h4>Жильё рядом</h4>
        <% hotels_near(@hotel).each do |hotel_near| %>
          <div class="pl-2 media border rounded bg-white shadow-sm mb-2">              
            <div class="media-body align-self-center">
              <%= link_to hotel_near.name , hotel_near %>
              <span style="font-size: 18px; color: orangered;">
              <i class="fas fa-map-marked-alt"></i>
              </span>
              <small>~<%= distance_between(@hotel, hotel_near) %>м.</small>
            </div>
            <%= link_to image_tag(hotel_near.avatar.thumb.url, style: "width: 100px", class: 'rounded-end img-fluid'), hotel_near %>
          </div>
        <% end %>
      </div> <!-- end NEAR -->
    </div>

  </div>

</div>

<script type="text/javascript"> // map
  ymaps.ready(init);
  function init(){
    const coords = [<%= @hotel.latitude %>, <%= @hotel.longitude %>]      
    var myMap = new ymaps.Map("map", {
        center: coords,
        zoom: 14,
        behaviors: ['drag','dblClickZoom', 'multiTouch']
    });    
    var myPlacemark = new ymaps.Placemark(coords, {
      balloonContentHeader: 'Однажды',
      balloonContentBody: 'В студеную зимнюю пору',
      balloonContentFooter: 'Мы пошли в гору',
      hintContent: 'Зимние происшествия'
    }, {
      preset: "islands#blueHomeIcon"
    });
    myMap.geoObjects.add(myPlacemark);
  };  
</script>

<script>  // More... hidden
  let btnsMore = document.getElementsByClassName('more-info');
  for (var i = 0; i < btnsMore.length; i++) {
    btnsMore[i].addEventListener("click", function() {
      let indexRoom = 'room-hidden-'+ this.dataset.room;
      let hiddenContent = document.getElementById(indexRoom);      
      if (hiddenContent.style.display === "none") {
        hiddenContent.style.display = "block";
        this.innerHTML = "<i class='icon-angle-up'></i> Скрыть";
      } else {
        hiddenContent.style.display = "none";
        this.innerHTML = "<i class='icon-angle-down'></i> Подробнее";
      }
    })
  }; 
</script>

<script>//Initialize fotorama manually for rooms.
  $(function () {
    let $fotoramaDiv = $('.fotorama-rooms').fotorama();

    $fotoramaDiv.on('fotorama:fullscreenenter',
      function (e, fotorama) {        
        fotorama.setOptions({
          nav: "thumbs"
        });
      });
    
    $fotoramaDiv.on('fotorama:fullscreenexit',
    function (e, fotorama) {      
      fotorama.setOptions({
        nav: "false"
      });
    })
  });
</script>

<script>// Show JSON desc  --- СКОРЕЕ ВСЕГО НАДО НА ВЕРХ  !!!!  
  let desc = <%= @hotel.desc_json.html_safe %>;
  document.getElementById('hotel__food').innerHTML = desc.food
  document.getElementById('hotel__parking').innerHTML = desc.parking
  document.getElementById('hotel__territory').innerHTML = desc.territory
</script>



