<% provide(:title, "#{@hotel.name} - #{@hotel.desc_json['cat_name']} в #{@hotel.desc_json['town_parent_name']}") %>

<% content_for(:seo_tags) do %>

  <% if @hotel.desc_json['seo_description'].blank? %>
    <meta name="description"        content="<%= @seo_description %>">
    <meta property="og:description" content="<%= @seo_description %>"/>
  <% else %>
    <meta name="description"        content="<%= @hotel.desc_json['seo_description'] %>">
    <meta property="og:description" content="<%= @hotel.desc_json['seo_description'] %>"/>
  <% end %>

  <meta name="keywords"           content="<%= @hotel.desc_json['town_name'].downcase %> жильё,<%= @hotel.desc_json['town_name'].downcase %> <%= @hotel.desc_json['cat_name'].downcase %>,<%= @hotel.desc_json['seo_keywords'] %>, бронирование, гостиницы, жильё у моря">  

  <meta property="og:title"       content="<%= @hotel.name + 'в ' + @town.parent_name %>" />
  <meta property="og:type"        content="product" />
  <meta property="og:url"         content="<%= url_for(:only_path => false) %>" />
  <meta property="og:image"       content="<%= @hotel.avatar.current_path %>" />  
  <meta property="og:site_name"   content="Люблю Крым">
  <meta property="og:locale"      content="ru_RU">
<% end %>

<% content_for(:javascript_plugin_header) do %>
  <%= javascript_include_tag "fotorama.js", 'data-turbolinks-track': 'reload' %>
  <script type="text/javascript">   // widget pack
    $(document).on('turbolinks:load', function() {
      wpac_init = window.wpac_init || [];
      wpac_init.push({widget: 'Comment', id: 19099});
      (function() {
          if ('WIDGETPACK_LOADED' in window) return;
          WIDGETPACK_LOADED = true;
          var mc = document.createElement('script');
          mc.type = 'text/javascript';
          mc.async = true;
          mc.src = 'https://embed.widgetpack.com/widget.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(mc, s.nextSibling);
      })();
    })
  </script>
  <script type="text/javascript"> // map
    ymaps.ready(init);
    function init(){
      const coords = [<%= @hotel.latitude %>, <%= @hotel.longitude %>]      
      var myMap = new ymaps.Map("map", {
          center: coords,
          zoom: 14,
          behaviors: ['drag','dblClickZoom', 'multiTouch']
      });    
      var myPlacemark = new ymaps.Placemark(coords, {
        balloonContentHeader: 'Однажды',
        balloonContentBody: 'В студеную зимнюю пору',
        balloonContentFooter: 'Мы пошли в гору',
        hintContent: 'Зимние происшествия'
      }, {
        preset: "islands#blueHomeIcon"
      });
      myMap.geoObjects.add(myPlacemark);
    };  
  </script>
  <script src="https://yastatic.net/share2/share.js"></script>
<% end %>

<div class="breadcrumbs">
  <div class="container">
    <i class="icon-location-outline crumbs-short" style="font-size:15px"></i>
    <%= link_to "Главная", root_url %>&nbsp;/
    <%= link_to @hotel.town.name, @hotel.town %>&nbsp;/
    <%= link_to "Жильё", hotels_town_path(@hotel.town) %>&nbsp;/
    <%= link_to @hotel.hotel_category.name, hotels_town_path(@hotel.town, { cat: @hotel.hotel_category.id }) %>&nbsp;/
    <%= @hotel.name %>
  </div>
</div>

<main class="hotels-show">

<div class="container">

  <% unless @hotel.activated? %>
    <div class="alert alert-info alert-dismissible fade show mt-4" role="alert">
      Пока страница видна только Вам. Объект ждёт проверки модератором и активации.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  <% end %>

  <div class="mt-3"><!-- title, address -->

    <% if current_user && (current_user?(@hotel.user) || current_user.admin?) %>
      <div class="btn-group d-inline pt-0  me-2" data-bs-toggle="tooltip" data-bs-placement="right" title="Это ваше объявление - вы можете его редактировать">
        <button type="button" style="margin-top: -10px;" class="btn btn-outline-danger dropdown-toggle" data-bs-toggle="dropdown"
                aria-expanded="false" >
          <span class="icon-cog-5"></span>
        </button>
        <ul class="dropdown-menu">          
          <li><%= link_to "Редактировать", edit_hotel_path(@hotel) ,class: "dropdown-item" %></li>
          <li><%= link_to "Добавить номер", new_room_path(hotel_id: @hotel.id), class: "dropdown-item" %></li>
        </ul>
      </div>
    <% end %>
    
    <div class="d-inline">
      <h1 class="d-inline"><%= @hotel.name %></h1>&emsp;
      <i class="icon_set_1_icon-37"></i>
      <span style="font-size:14px;">
        <%= @hotel.desc_json["town_name"] %>, <%= @hotel.address %>
      </span>
    </div>

  </div>

  <!-- photo + contacts -->
  <div class="row mt-3">
    
    <div class="col-lg-9 px-0">
      <!-- fotorama begin -->        
      <div class="fotoramain mt-2">
        <%= link_to image_tag(@hotel.avatar.thumb.url), @hotel.avatar.url %>
        <% @hotel.images.each do |image| %>
          <%= link_to image_tag(image.thumb.url), image.url %>
        <% end %>
      </div>        
      <!-- fotorama end -->
    </div>

    <div class="col-lg-3 px-4">   

      <%= render 'contacts' %>               

    </div>

  </div>  

  <!-- desc & rooms / + NEAR -->
  <div class="row">
    
    <div class="col-lg-9">
      
      <!-- DESCRIPTION -->
      <div class="tabset" style="font-size:15px;">

        <!-- Tab description-->
        <input type="radio" name="tabset" id="tab1" aria-controls="desc" checked>
        <label for="tab1">Описание</label>

         <!-- Tab description-->
        <input type="radio" name="tabset" id="tab7" aria-controls="infrastructure">
        <label for="tab7">Инфраструктура</label> 

        <!-- Tab places near-->
        <input type="radio" name="tabset" id="tab4" aria-controls="place-near">
        <label for="tab4">На карте</label>

        <!-- Tab rules-->
        <input type="radio" name="tabset" id="tab5" aria-controls="rules">
        <label for="tab5">Правила и скидки</label>

        <!-- Tab prices-->
        <% if @hotel.rooms.any? %>
          <input type="radio" name="tabset" id="tab6" aria-controls="prices">
          <label for="tab6">Календарь цен</label>
        <% end %>

        <!-- Tab Comments-->
        <input type="radio" name="tabset" id="tab3" aria-controls="comments">
        <label for="tab3">Отзывы</label>

        <div class="tab-panels">

          <!-- Tab DESC -->
          <section id="desc" class="tab-panel">            
            <% if @hotel.description.to_plain_text.size > 626 %>            
              <a class="content_toggle" style="color:#ff4500" href="#"><i class='icon-angle-down'></i>Показать текст</a>
              <div class="content_block hide">
                <%= @hotel.description %>
                <a class="content_toggle" style="color:#ff4500" href="#"></a>
              </div>          
            <% else %> 
              <%= @hotel.description %>
            <% end %>
          </section>
          
          <!-- Tab infrastructure -->
          <section id="infrastructure" class="tab-panel" style="line-height:24px">            
            <table class="table table-striped">
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-58" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Питание:</th>
                <td><%= @hotel.desc_json["food"] %></td>       
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-61" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Парковка:</th>
                <td><%= @hotel.desc_json["parking"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-24" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Территория:</th>
                <td><%= @hotel.desc_json["territory"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-14" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Сервис и услуги:</th>
                <td><%= @hotel.desc_json["service"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-21" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Трансфер:</th>
                <td><%= @hotel.desc_json["transfer"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-68" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Дополнительно:</th>
                <td><%= @hotel.desc_json["addition"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-23" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Кол-во этажей:</th>
                <td><%= @hotel.desc_json["floors"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-83" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Работает:</th>
                <% if @hotel.all_year == false %>
                  <td>Только в летний период</td>  
                <% else %>
                  <td>Круглогодично</td>  
                <% end %>          
              </tr>       
            </table>
          </section>    
  
          <!-- Tab MAP -->
          <section id="place-near" class="tab-panel">
            <h5 class="mb-3"><i class="icon_set_1_icon-37"></i> <%= @hotel.desc_json["town_name"] %>, <%= @hotel.address %></h5>
            <div id="map" style="height: 300px" class="border shadow"></div>            
          </section>

          <!-- Tab RULES -->
          <section id="rules" class="tab-panel" style="line-height:24px">
            <table class="table table-striped">              
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-83" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Рассчётное время:</th>
                <td><%= @hotel.desc_json["check_time"] %></td>       
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-53" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Минимальный срок проживания:</th>
                <td><%= @hotel.desc_json["min_check"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-35" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Оплата:</th>
                <td><%= @hotel.desc_json["payment"] %></td>            
              </tr>            
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-70" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Размещение детей:</th>
                <td><%= @hotel.desc_json["child"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-22" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Размещение животных:</th>
                <td><%= @hotel.desc_json["animals"] %></td>            
              </tr>
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-54" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Условия бронирования и отмены:</th>
                <td><%= @hotel.desc_json["advance"] %></td>            
              </tr>   
              <tr>
                <th scope="row" class="ps-2"><i class="icon_set_1_icon-81" style="font-size:20px"></i></th>
                <th scope="row" class="px-0">Скидки и акции:</th>
                <td><%= @hotel.desc_json["bonus"] %></td>            
              </tr>       
            </table>
          </section>

          <!-- Tab PRICES -->
          <% if @hotel.rooms.any? %>
            <section id="prices" class="tab-panel">                      
            <h3>Стоимость проживания номер / сутки (руб.)</h3>
            <div style="overflow-x:auto;" class="price-calendar">
              <table>
                <thead>
                  <tr>
                    <th>Номер/комната</th>
                    <% @hotel.rooms.first.description['prices'].each do |price| %>                      
                      <th><%= Date.parse(price["start_date"]).strftime('%d.%m') %>-<%= Date.parse(price["end_date"]).strftime('%d.%m') %></th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <% @hotel.rooms.each do |room| %>
                    <tr>
                      <td><%= room.name %></td>
                      <% room.description['prices'].each do |price| %>
                        <td><%= price['day_cost'] %><small> р.</small></td>                 
                      <% end %>                    
                    </tr>   
                  <% end %>
                </tbody>
              </table>
            </div>
            </section>
          <% end %>

           <!-- Tab COMMENTS -->
          <section id="comments" class="tab-panel">
            <div id="wpac-comment"></div>
          </section>

        </div>

      </div>

      <!-- PRICES FLAT -->
      <% if @hotel.desc_json["prices"].any? %>
        <h2>Календарь цен</h2>
        <div style="overflow-x:auto;" class="mb-5">
          <div class="room-prices">
            <% @hotel.desc_json["prices"].each do |price| %>
              <div class="period">
                <div class="period__date"><%= Date.parse(price["start_date"]).strftime('%d.%m') %>-<%= Date.parse(price["end_date"]).strftime('%d.%m') %></div>
                <div class="period__price"><%= price["day_cost"] %><span> р.</span></div>
              </div>
            <% end %>    
          </div>
        </div>
      <% end %>      
      <!-- END PRICES FLAT -->  

      <!-- ROOMS -->      
      <% if @hotel.rooms.any? %>
        
       	<div class="resources-title pt-4">		
          <h2>Номера</h2>			
        </div>	
        
        <%= render @hotel.rooms %>
      <% end %>      

    </div>

    <div class="col-lg-3 pe-0">
      <!-- NEAR -->      
      <div class="resource_near" data-turbolinks="false"><!-- Hotels NEAR -->
        <h4>Жильё рядом</h4>
        <% hotels_near(@hotel).each do |hotel_near| %>          
          <div class="d-flex align-items-center border rounded bg-white shadow mb-2"> 
            <div class="flex-shrink-0">
              <%= link_to image_tag(hotel_near.avatar.thumb.url, style: "width: 100px", class: 'rounded-start'), hotel_near %>
            </div>           
            <div class="flex-grow-1 ps-2">
              <h6><%= link_to hotel_near.name, hotel_near %></h6>
              <span style="font-size: 18px; color: orangered;">
                <i class="fas fa-map-marked-alt"></i>
              </span>
              <small>~<%= distance_between(@hotel, hotel_near) %>м.</small>
            </div>            
          </div>
        <% end %>
      </div>
      <div class="resource"><!-- Cafebars NEAR -->
        <h4>Кафе, бары, рестораны рядом</h4>
        <% cafebars_near(@hotel).each do |cafebar_near| %>          
          <div class="d-flex align-items-center border rounded bg-white shadow mb-2">            
            <div class="flex-grow-1 ps-2">
              <h6><%= link_to cafebar_near.name, cafebar_near %></h6>
              <span style="font-size: 18px; color: orangered;">
                <i class="fas fa-map-marked-alt"></i>
              </span>
              <small>~<%= distance_between(@hotel, cafebar_near) %>м.</small>
            </div>
            <div class="flex-shrink-0">
              <%= link_to image_tag(cafebar_near.avatar.thumb.url, style: "width: 100px", class: 'rounded-end'), cafebar_near %>
            </div>
          </div>
        <% end %>
      </div>
      <!-- end NEAR -->
    </div>    

  </div>

</div>

</main>

<script> // insert Contacts. Modal-cashback, Modal-SendMessage
  
  function showCashbackModal() {
    var myModal = new bootstrap.Modal(document.getElementById('conditionModal'))
    myModal.show()
  }

  function showSendMessageModal() {
    var myModal = new bootstrap.Modal(document.getElementById('sendMessageModal'))
    myModal.show()
  }
  // send message form - button disable
  var form = document.forms.message  
  form.addEventListener('submit', function(event){    
    form.button.disabled = true;    
  }) 

  var contacts = <%= @hotel.desc_json["contacts"].to_json.html_safe %>
  // insert first name
  $('.contact-photo span').append(`${contacts[0]["ow_name"]}`)
  // insert first phone
  $('.contact-phone').append(`
    <a href="tel:+${contacts[0]["ow_phone_clean"]}">            
      ${contacts[0]["ow_phone"]}
    </a>`)
  // if viber? - insert first viber
  if ( contacts[0]["viber"] == "1" ) {
    $('.contact-number').append(`
      <a href="viber://chat?number=%2B${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Viber"><%= image_tag("viber_50px.png", width: "35px") %></a>
    `)
  }
  // if whatsapp? - insert first watsapp
  if ( contacts[0]["whatsapp"] == "1" ) {
    $('.contact-number').append(`
      <a href="https://api.whatsapp.com/send?phone=+${contacts[0]["ow_phone_clean"]}" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Whatsapp"><%= image_tag("whatsapp_50px.png", width: "35px") %></a>
    `)
  }

  // if contacts > 1
  if ( contacts.length > 1 ) {
    for (var i = 1; i < contacts.length; i++) {
      var div = document.createElement('div')
      div.className = "contact-addition"
      div.innerHTML = `<span class="d-block fst-italic">${contacts[i]["ow_name"]}</span>` 
      div.innerHTML += `<a href="tel:+${contacts[i]["ow_phone_clean"]}">            
                        ${contacts[i]["ow_phone"]}
                       </a>`                      
      if ( contacts[i]["viber"] == "1" ) {
        div.innerHTML += `<a href="viber://chat?number=%2B${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Viber"><%= image_tag("viber_50px.png", width: "35px") %></a>`
      }
      if ( contacts[i]["whatsapp"] == "1" ) {
        div.innerHTML += `<a href="https://api.whatsapp.com/send?phone=+${contacts[0]["ow_phone_clean"]}" data-bs-toggle="tooltip" data-bs-placement="top" title="Написать в Whatsapp"><%= image_tag("whatsapp_50px.png", width: "35px") %></a>`
      }
      
      var target = document.querySelector('.contact-numbers')
      target.appendChild(div);    

    }
  }
</script>

<script>  // More... hidden
  var btnsMore = document.getElementsByClassName('more-info');
  for (var i = 0; i < btnsMore.length; i++) {
    btnsMore[i].addEventListener("click", function() {
      let indexRoom = 'room-hidden-'+ this.dataset.room;
      let hiddenContent = document.getElementById(indexRoom);      
      if (hiddenContent.style.display === "none") {
        hiddenContent.style.display = "block";
        this.innerHTML = "<i class='icon-angle-up'></i> Скрыть";
      } else {
        hiddenContent.style.display = "none";
        this.innerHTML = "<i class='icon-angle-down'></i> Подробнее";
      }
    })
  }; 
</script>

<script>//Initialize fotorama manually for rooms.
  $(document).on('turbolinks:load', function() {
    $(function () {

      // Initialize main fotorama
      $('.fotoramain').fotorama({
        width: 990,
        ratio: 3/2,
        allowfullscreen: true,
        nav: 'thumbs',
        loop: true,
        keyboard: true,
      })

      //Initialize fotorama manually for rooms
      var $fotoramaDiv = $('.fotorama-rooms').fotorama();

      $fotoramaDiv.on('fotorama:fullscreenenter',
        function (e, fotorama) {        
          fotorama.setOptions({
            nav: "thumbs"
          });
        });
      
      $fotoramaDiv.on('fotorama:fullscreenexit',
      function (e, fotorama) {      
        fotorama.setOptions({
          nav: "false"
        });
      })
    });
  }); 
</script>

<script>// description more
  $(document).ready(function(){
    $('.content_toggle').click(function(){
      $('.content_block').toggleClass('hide');	
      if ($('.content_block').hasClass('hide')) {
        $('.content_toggle').html('<i class="icon-angle-down"></i>Показать текст');
      } else {
        $('.content_toggle').html('<i class="icon-angle-up"></i>Свернуть текст');
      }		
      return false;
    });				
  });
</script>



