<li class="nav-item dropdown hover">
  <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
    <i class="icon_set_1_icon-61" style="font-size:18px;"></i><%= @town.name %>
  </a>
  <ul class="dropdown-menu">
    <li><%= link_to "Страница города", town_path(@town), class: "dropdown-item" %></li>
    <li>
      <%= link_to hotels_town_path(@town), class: "dropdown-item" do  %>
        Жильё в <%= @town.parent_name %><i class="icon-arrow"></i>
      <% end %>
      <ul class="submenu dropdown-menu">
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=1">Гостевые дома</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=2">Гостиницы</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=3">Отели</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=4">Квартиры</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=5">Дома под ключ</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=6">Частный сектор</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=7">Эллинги</a></li>
        <li><a class="dropdown-item" href="/towns/<%= @town.id %>/hotels?cat=9">Пансионаты</a></li>             
      </ul>            
    </li>
    <li><a class="dropdown-item" href="#"> Drn item 2 <i class="icon-arrow"></i> </a>
      <ul class="submenu dropdown-menu">
        <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
        <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
        <li><a class="dropdown-item" href="#">Submenu item 3 <i class="icon-arrow"></i> </a>
          <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="#">Multi level 1</a></li>
              <li><a class="dropdown-item" href="#">Multi level 2</a></li>
          </ul>
        </li>
        <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
        <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
      </ul>
    </li>
    <li><%= link_to "Где поесть в #{@town.parent_name}", cafebars_town_path(@town), class: 'dropdown-item' %></li>
    <li><%= link_to "Поинты #{@town.parent_name}", points_town_path(@town), class: 'dropdown-item' %></li>
  </ul>
</li>