<span class="screen-darken"></span>

<div class="logo">
  <%= link_to image_tag("logo.png", alt: "Главная", width: "175px"), root_path %>
</div>

<header>

<div id="top_line">
  <div class="container">
    <ul id="top_links">
      <li id="cart">
        <% if @cart %>
          <% if @cart.line_items.count > 0 %>                
            <%= link_to @cart do %>
              <i class="icon-heart" style="font-size:14px"></i> Избранное (<%= @cart.line_items.count %>)
            <% end %>                
          <% else %>                
            <%= link_to @cart do %>
              <i class="icon-heart-empty" style="font-size:14px"></i> Избранное
            <% end %>                
          <% end %>  
        <% else %>              
          <%= link_to cart_path('blank') do %>
            <i class="icon-heart-empty" style="font-size:14px"></i> Избранное
          <% end %>              
        <% end %>
      </li>
      <% unless logged_in? %>
        <li><%= link_to "Вход", login_path%> / <%= link_to "Регистрация", signup_path %></li>
      <% end %>          
    </ul> 
  </div><!-- End container-->
</div><!-- End top line-->

<div class="container-fluid d-lg-none px-1">

  <div class="row gx-1 bg-light shadow">

    <div class="col-2 ps-3 pt-1">
      <div class="hamburger-icon" data-trigger="navbar_main">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
      </div>
    </div>

    <div class="col-3 text-center">
      <%= link_to image_tag("logo.png", alt: "Главная", width: "75px"), root_path %>
    </div>

    <div class="col-4 text-center pt-1">
      <ul class="navbar-nav">
        <!-- -------- menu item -------- -->
        <li class="nav-item dropdown hover">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Феодосия</a>
            <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#"> Dropdown item 1 </a></li>
            <li><a class="dropdown-item" href="#"> Dropdown item 2 <i class="icon-arrow"></i> </a>
            <ul class="submenu dropdown-menu">
              <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
              <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
              <li><a class="dropdown-item" href="#">Submenu item 3 <i class="icon-arrow"></i> </a>
                <ul class="submenu dropdown-menu">
                    <li><a class="dropdown-item" href="#">Multi level 1</a></li>
                    <li><a class="dropdown-item" href="#">Multi level 2</a></li>
                </ul>
              </li>
              <li><a class="dropdown-item" href="#">Submenu item 4</a></li>
              <li><a class="dropdown-item" href="#">Submenu item 5</a></li>
            </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Dropdown item 3 <i class="icon-arrow"></i> </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu item 1</a></li>
                <li><a class="dropdown-item" href="#">Submenu item 2</a></li>
                <li><a class="dropdown-item" href="#">Submenu item 3</a></li>
            </ul>
            </li>
            <li><a class="dropdown-item" href="#"> Dropdown item 4 </a>
            </ul>
        </li>
        <!-- -------- menu item end// -------- -->  
      </ul>
    </div>

    <div class="col-3 pt-2 pe-3 text-end">    
      <div id="cart-mobile">
        <% if @cart %>
          <% if @cart.line_items.count > 0 %>                
            <%= link_to @cart do %>
              <i class="icon-heart" style="font-size:30px"></i>(<%= @cart.line_items.count %>)
            <% end %>                
          <% else %>                
            <%= link_to @cart do %>
              <i class="icon-heart-empty" style="font-size:30px"></i>
            <% end %>                
          <% end %>  
        <% else %>              
          <%= link_to cart_path('blank') do %>
            <i class="icon-heart-empty" style="font-size:30px"></i>
          <% end %>              
        <% end %>
      </div>
    </div> 

  </div>
  
</div>

<!--  COMPONENT  -->
<nav id="navbar_main" class="mobile-offcanvas navbar navbar-expand-md navbar-styled shadow" style="z-index: 900;">
  <div class="container">

    <div class="logo-text">
      Отдыхайте с нами!
    </div>    

    <div class="offcanvas-header">  
      <button class="btn-close float-end"></button>
    </div>
  
    <ul class="navbar-nav ms-auto">

      <!-- Town -->  
      <% if @town %>
        <% if Rails.env.production? %>
          <%= render 'layouts/hd_town_prod' %>
        <% else %>
          <%= render 'layouts/hd_town_dev' %>
        <% end %>        
      <% end %>

      <!--  towns  -->
      <li class="nav-item dropdown hover">
        <a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown">Города</a>
          <ul class="dropdown-menu">
            <% Town.select(:id, :name).all.each do |town| %>
              <li><%= link_to town.name, town, class: "dropdown-item" %></li>
            <% end %>
          </ul>
      </li>

      <li>
        <%= link_to contacts_url, class: 'nav-link' do %>
          <i class="icon-location-outline"></i>Что рядом?
        <% end %>
      </li>

      <% if logged_in? %>
      
        <li class="nav-item dropdown hover">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
            <i class="icon-user-outline"></i>Профиль
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "User/show", current_user, class: "dropdown-item" %></li>
            <li><%= link_to "Настройки", edit_user_path(current_user), class: "dropdown-item" %></li>
            <li><%= link_to "Новая Гостиница", new_hotel_path, class: "dropdown-item" %></li>
            <li><%= link_to "Новое Кафе", new_cafebar_path, class: "dropdown-item" %></li>
            <li><%= link_to "Новый Место", new_point_path, class: "dropdown-item" %></li>
            <li><%= link_to "Новая Услуга", new_service_path, class: "dropdown-item" %></li>
            <li><%= link_to "Новая Активность", new_active_path, class: "dropdown-item" %></li>
            <li><%= link_to "Выход", logout_path, method: :delete, class: "dropdown-item" %></li>
            <li><%= link_to "Контакты", contacts_url, class: 'dropdown-item' %></li>
          </ul>
        </li>

        <% if current_user.admin? %>
          <li class="nav-item dropdown hover">
            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><i class="icon-cog-5"></i>Admin</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Пользователи", users_url, class: 'dropdown-item' %></li>
              <li><%= link_to "Типы жилья", hotel_categories_path, class: "dropdown-item" %></li>
              <li><%= link_to "Города", towns_path, class: "dropdown-item" %></li>
              <li><%= link_to "Гостиницы", hotels_path, class: "dropdown-item" %></li>
              <li><%= link_to "Кафе", cafebars_path, class: "dropdown-item" %></li>
              <li><%= link_to "Теги для кафе", tagcafebars_path, class: "dropdown-item" %></li>
              <li><%= link_to "Типы Point", point_categories_path, class: "dropdown-item" %></li>
              <li><%= link_to "Points", points_path, class: "dropdown-item" %></li>
              <li><%= link_to "Типы Услуг", service_categories_path, class: "dropdown-item" %></li>              
              <li><%= link_to "Услуги", services_path, class: "dropdown-item" %></li>
              <li><%= link_to "Категории Активностей", active_categories_path, class: "dropdown-item" %></li>
              <li><%= link_to "Активности", actives_path, class: "dropdown-item" %></li>
              <li><%= link_to "Выход", logout_path, method: :delete, class: "dropdown-item" %></li>
              <li><%= link_to "Контакты", contacts_url, class: 'dropdown-item' %></li>
            </ul>
          </li>
        <% end %>
       
        <li><%= link_to "Выход", logout_url, method: :delete, class: 'nav-link' %></li>

      <% end %>

    </ul> <!-- navbar-nav end//  --> 
  
  </div> <!-- END container -->
</nav>
<!--  COMPONENT END   -->

</header>

