
  <div class="container">

    <div id="cart">
  
      <% if @cart %>
        <% if @cart.line_items.count > 0 %>
          <%= link_to @cart do %>
            <small>Избранное <i class="icon-heart"></i>(<%= @cart.line_items.count %>)</small>
          <% end %>
        <% else %>
          <%= link_to @cart do %>
            <small>Избранное <i class="icon-heart-empty"></i></small>
          <% end %>
        <% end %>  
      <% else %>
        <%= link_to cart_path('blank') do %>
          <small>Избранное <i class="icon-heart-empty"></i></small>
        <% end %>
      <% end %> 

    </div>
    
  </div>
  

  <div class="bg-white shadow">
    <div class="container py-1">        
      <nav class="main-nav" role="navigation"> 
        <!-- Mobile menu toggle button (hamburger/x icon) -->
        <input id="main-menu-state" type="checkbox" />
        <label class="main-menu-btn" for="main-menu-state">
          <span class="main-menu-btn-icon"></span> Toggle main menu visibility
        </label>
        <a href="index.php">LOGO</a> 
        <!-- Sample menu definition -->
        <ul id="main-menu" class="sm sm-clean">
          <li><%= link_to "Главная", root_url, class: 'nav-font' %></li>
          <li>
            <%= link_to "Города", root_url, onclick: "event.preventDefault()", class: 'nav-font' %>
            <ul>
              <% Town.all.each do |town| %>
                <li><%= link_to town.name, town %></li>
              <% end %>
            </ul>
          </li>
          <li>
            <%= link_to "Гостевые дома", root_url, onclick: "event.preventDefault()", class: 'nav-font' %>
            <ul>
              <li><a href="alex.php">«Александры и Александра»</a></li>
              <li><a href="sunhouse.php">«Солнечный дом»</a></li>
              <li><a href="elling.php">Эллинг «Алые паруса»</a></li>
            </ul>
          </li>                            
          <li><%= link_to "Контакты", contacts_url, class: 'nav-font' %></li>
        <% if logged_in? %>
          <li>
            <%= link_to root_url, onclick: "event.preventDefault()", class: 'nav-font' do %>
              <i class="far fa-user-circle"></i>&nbsp;Профиль
            <% end %>
            <ul>
              <li><%= link_to "User/show", current_user %></li>
              <li><%= link_to "Настройки", edit_user_path(current_user) %></li>
              <li><%= link_to "Новая гостиница", new_hotel_path %></li>
              <li><%= link_to "Новое кафе", new_cafebar_path %></li>
              <li><%= link_to "Выход", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% if current_user.admin? %>
            <li>
            <%= link_to root_path, onclick: "event.preventDefault()", class: 'nav-font' do %>
              <i class="fas fa-user-cog"></i>&nbsp;Admin
            <% end %>
            <ul>
              <li><%= link_to "Пользователи", users_url, class: 'nav-font' %></li>
              <li><%= link_to "Типы жилья", hotel_categories_path %></li>
              <li><%= link_to "Города", towns_path %></li>
              <li><%= link_to "Гостиницы", hotels_path %></li>
              <li><%= link_to "Выход", logout_path, method: :delete %></li>
            </ul>
          </li>
          <% end %>
        <% else %>
          <li><%= link_to "Вход", login_path, class: 'nav-font' %></li> 
          <li><%= link_to "Регистрация", signup_path, class: 'nav-font' %></li>
        <% end %>                       
        </ul>
      </nav>
    </div>
  </div>

