<!DOCTYPE html>
<html>
  <head>

    <title><%= full_title(yield(:title)) %></title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>   
    
    <script src="https://kit.fontawesome.com/b52c0bb8eb.js" crossorigin="anonymos"></script>
    
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>    
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"></script>


    <%= stylesheet_link_tag 'actiontext', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if content_for?(:javascript_plugin_header) %>
      <%= yield(:javascript_plugin_header) %>      
    <% end %>
    
  </head>

  <body>

    <%= render 'layouts/header' %>

    <% flash.each do |message_type, message| %>
      <div class="alert alert-<%= message_type %> alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>

    
      
    <%= yield %>
      
    

    <%= render 'layouts/footer' %>

    <div id="toTop"></div><!-- Back to top button -->

    <%= javascript_include_tag "common_scripts.js", 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "functions.js", 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag "smartmenu.js" %>
    <script>// SmartMenus init    
      $(function() {
        $('#main-menu').smartmenus({
          showTimeout: 50,
          hideTimeout: 100,
          mainMenuSubOffsetX: -1,
          mainMenuSubOffsetY: 4,
          subMenusSubOffsetX: 6,
          subMenusSubOffsetY: -6
        });
      });
      // SmartMenus mobile menu toggle button
      $(function() {
        var $mainMenuState = $('#main-menu-state');
        if ($mainMenuState.length) {
          // animate mobile menu
          $mainMenuState.change(function(e) {
            var $menu = $('#main-menu');
            if (this.checked) {
              $menu.hide().slideDown(250, function() { $menu.css('display', ''); });
            } else {
              $menu.show().slideUp(250, function() { $menu.css('display', ''); });
            }
          });
          // hide mobile menu beforeunload
          $(window).bind('beforeunload unload', function() {
            if ($mainMenuState[0].checked) {
              $mainMenuState[0].click();
            }
          });
        }
      });
    </script>
    
    <script>
    /* Video modal dialog + Parallax + Scroll to top + Incrementer */
      $(function () {
        'use strict';
        $('.parallax-window').parallax({zIndex:1}); /* Parallax modal*/
        
        $('.video').magnificPopup({
          type: 'iframe',
          closeMarkup: '<button title="%title%" type="button" class="mfp-close" style="font-size:21px">&#215;</button>'
        }); /* video modal*/
        
        /*  Image popups */
        $('.magnific-gallery').each(function () {
          $(this).magnificPopup({
            delegate: 'a',
            type: 'image',
                  preloader: true,
            gallery: {
              enabled: true
            },
            removalDelay: 500, //delay removal by X to allow out-animation
            callbacks: {
              beforeOpen: function () {
                // just a hack that adds mfp-anim class to markup 
                this.st.image.markup = this.st.image.markup.replace('mfp-figure', 'mfp-figure mfp-with-anim');
                this.st.mainClass = this.st.el.attr('data-effect');
              }
            },
            closeOnContentClick: true,
            midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
          });
        });
        
        /* Cart header drop down */
        $('.dropdown-menu').on('click', function (e) {
          e.stopPropagation();
        });
        $('ul#top_tools li .dropdown').hover(function () {
          $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeIn(300);
        }, function () {
          $(this).find('.dropdown-menu').stop(true, true).delay(50).fadeOut(300);
        });

        /* Hamburger icon */
        var toggles = document.querySelectorAll(".cmn-toggle-switch");
        for (var i = toggles.length - 1; i >= 0; i--) {
          var toggle = toggles[i];
          toggleHandler(toggle);
        };
        function toggleHandler(toggle) {
          toggle.addEventListener("click", function (e) {
            e.preventDefault();
            (this.classList.contains("active") === true) ? this.classList.remove("active"): this.classList.add("active");
          });
        };

        /* Scroll to top*/
        var pxShow = 800; // height on which the button will show
        var scrollSpeed = 500; // how slow / fast you want the button to scroll to top.

        $(window).on('scroll', function(){
        if($(window).scrollTop() >= pxShow){
          $("#toTop").addClass('visible');
        } else {
          $("#toTop").removeClass('visible');
        }
        });

        $('#toTop').on('click', function(){
        $('html, body').animate({scrollTop:0}, scrollSpeed);
        return false;
        });

        /* Input incrementer*/
        $(".numbers-row").append('<div class="inc button_inc">+</div><div class="dec button_inc">-</div>');
        $(".button_inc").on('click', function () {

          var $button = $(this);
          var oldValue = $button.parent().find("input").val();

          if ($button.text() == "+") {
            var newVal = parseFloat(oldValue) + 1;
          } else {
            // Don't allow decrementing below zero
            if (oldValue > 1) {
              var newVal = parseFloat(oldValue) - 1;
            } else {
              newVal = 0;
            }
          }
          $button.parent().find("input").val(newVal);
        });
      });  
    </script>


  </body>
</html>
